[2021-05-13 12:52] BeckySharp commented on #458
is one of the file types bigger than the other? also with the kryo one is the file human readable? fwiw i think @marcovzla  was using kryo for odinson (the serialized dependencies) but moved to unsafe bc it’s faster (bc it’s custom, only does one thing)

[2021-05-13 14:39] MihaiSurdeanu commented on #458
1. I like the registration part of kryo! I would prefer this over Java/Scala serialization.
2. I think the fact the serialized embeddings are not readable is not a big deal. The jar will contain the text ones too.
3. Unsafe sounds intriguing. Is it hard to test it out Keith?

[2021-05-13 14:46] BeckySharp commented on #458
You can look at the code for it here: https://github.com/lum-ai/odinson/blob/master/core/src/main/scala/ai/lum/odinson/serialization/UnsafeSerializer.scala

[2021-05-13 14:52] MihaiSurdeanu commented on #458
Nice. Pretty simple.

On Thu, May 13, 2021 at 7:47 AM Becky Sharp ***@***.***>
wrote:

[2021-05-13 15:06] kwalcock commented on #458
Kryo is not human readable.  For Glove, file size is an issue and we probably can't have both.  Having a single, standard library, at least for similar enough purposes, would be nice, so I should look at unsafe.

I can also read and write the 16-bit floats.  Getting them integrated, though, will be more difficult.  For every * and + they need to be converted to Float, so I suspect there will be a

[2021-05-13 15:07] kwalcock commented on #458
File sizes are compared in a table above.  The three so far are about even and the 16-bit were about half that, as expected.

[2021-05-13 15:15] kwalcock commented on #458
P.S. I think the text version should be in a different jar.  The extra 2GB for the text version is too much to be dragging around unused.

[2021-05-13 15:36] BeckySharp commented on #458
sorry I didn't notice it, thanks for the pointer

[2021-05-13 15:44] MihaiSurdeanu commented on #458
+1 on separating the text files in a separate jar.

[2021-05-13 16:20] kwalcock commented on #458
In that unsafe serialization, lots of integers are being written to a buffer, either singly with unsafe.putInt, or multiply with unsafe.copyMemory.  How is endianness accounted for in the latter case?  It seems like java.nio.ByteOrder would need to be consulted or a ByteBuffer used (e.g., ByteBuffer buffer = buffer.order(ByteOrder.LITTLE_ENDIAN)) if the bytes are eventually to be written to a jar

[2021-05-13 16:22] BeckySharp commented on #458
@marcovzla do you know?

[2021-05-13 16:52] marcovzla commented on #458
Internally, Java uses Big Endian. As far as I know, the unsafe api does not change the endianness, so the serialized files are big endian too.

[2021-05-13 17:34] kwalcock commented on #458
Google may be deceiving me.  It isn't yet clear to me where the swapping takes place.  It might be when the byte codes are being read from class files, during de/serialization, or with each integer operation, etc.  Is there a definitive source that says bytes are stored in memory in the same order?  There are several places like https://stackoverflow.com/questions/9431526/find-endianness-of-system

[2021-05-13 18:08] marcovzla commented on #458
Unfortunately the unsafe api is not documented. It makes sense to me that internally java stores data in the native order.
Also, if you go this route then you will have to write the serialization yourself. That makes sense for odinson because there is a single object that we want to serialize. If you need a more general solution I would probably go with kryo.

[2021-05-13 18:17] marcovzla commented on #458
Another thing to consider is that more recent versions of java provide alternatives to the unsafe api, like foreign memory access api.

[2021-05-13 19:33] kwalcock commented on #458
I'm a little concerned about phrases like this: "On JVMs that have the sun.misc.Unsafe class".

[2021-05-13 20:13] MihaiSurdeanu commented on #458
So, sounds like kryo is the simplest choice?

[2021-05-13 20:22] kwalcock commented on #458
It won't take very long at all to try out unsafe and find out how many of those 3 seconds it can save.

[2021-05-13 20:32] BeckySharp commented on #458
wait -- we're having all this conversation about something that takes 3
seconds?
What is the rest of the initialization time?

On Thu, May 13, 2021 at 1:23 PM Keith Alcock ***@***.***>
wrote:

[2021-05-13 20:36] MihaiSurdeanu commented on #458
This is what happens when you're not paying attention :)
The 34 seconds is for the loading of *text* embeddings. The binary formats all take 2-3 seconds.

[2021-05-13 20:45] BeckySharp commented on #458
well then poop. use kyro
I'm so sorry all :( :( :(
forgive me Keith!!

On Thu, May 13, 2021 at 1:36 PM Mihai Surdeanu ***@***.***>
wrote:

[2021-05-15 05:04] kwalcock commented on #458
In the unsafe serialization the little bytes are coming out first, so little endian, not the big endian that Java uses elsewhere.  (If I understand that all correctly.)  So, although those microprocessors may be far and few between, we should be able to account for the other arrangement IMO.

[2021-05-15 07:36] kwalcock commented on #458
I timed the unsafe version and it does win for load speed:

format | time (sec.)
--- | --:
text | 36.26
bin | 2.28
kryo | 2.75
colf | 2.84
unsafe | 1.80

For completeness, here are the other tables for the relatively unimportant save

format | time (sec.)
--- | --:
bin | 3.21
kryo | 4.48
colf | 2.90
unsafe | 6.34

and sizes

format | file size (KB)
--- | --:
text | 1,960,473
bin  | 918,192
kryo |

[2021-05-15 07:41] kwalcock commented on #458
For glove, I guess I'd still choose Kryo.  Not having the library dependency would be nice, but I'm also wary of the unsafe part.  The compatibility between Java distributions and processors is worrisome and for structures much more complicated than this, it's going to be a hassle to code.

[2021-05-15 11:51] MihaiSurdeanu commented on #458
I agree. Kryo seems the best choice for this.

On Sat, May 15, 2021 at 00:41 Keith Alcock ***@***.***> wrote:

[2021-05-19 10:35] nezda opened #488 ""DyNet's computation graph is a static variable, so this block must be synchronized.""
I recently used `CluProcessor` (`v0.3.1` the default: https://github.com/lum-ai/odinson/blob/ac6ca7bb379cd8ab74c88edfa14b9c08e770f8b5/extra/src/main/scala/ai/lum/odinson/extra/AnnotateText.scala#L76) on a modest number of well-behaved documents and noticed the parallelism was absent (next I tried `FastNLPProcessor` and now I know where it got its name). JVisualVM pointed definitively at this clear

[2021-05-20 06:24] kwalcock commented on #488
In the meantime, https://github.com/clab/dynet/issues...

[2021-05-21 20:30] kwalcock opened #492 "Inefficient code"
This is a note to myself to look into making this, line 75 of org.clulab.openie.entities.RuleBasedentityFinder,  more efficient:

[code]

In order to answer `isEmpty`, the actual values do not need to be calculated in what looks like a significantly expensive operation.

[2021-05-23 19:15] kwalcock commented on #471
That was handled in #477, I believe.

[2021-05-23 19:15] #471 closed

[2021-05-23 19:25] kwalcock opened #494 "Better control C++ and Java garbage collection"
As reported elsewhere, a where that is difficult to find, the master branch with glovecrash4 will run the infinite parallel test for about 2:50 hours before Java says it is out of memory.  That is with a new Processor being created each time the 10 documents are re-processed.  If the same Processor is reused, then the program ran for 20 hours without stopping.  Why?

[2021-05-23 19:32] kwalcock commented on #494
I published a local copy of the debug version of dynet for Windows which includes a fairly good leak detector.  I ran a shortened version of the infinite parallel test, because the leak detector slows things down.  After 45 minutes the program exited and did one last garbage collection.  No leaks were detected other that the one added on purpose to make sure it is working.  It appears that all the

[2021-05-23 19:44] kwalcock commented on #494
Next I modified all the Scala classes in DyNet to have a close() method which calls delete on the internal Java object which in turn calls the C++ method to free memory.  In other words, manual memory management is being used in Scala.  Now only to CluProcessor.annotate() I have added code to close the embeddings.lookupParameters and embeddings.collection.  So far, the resulting program has been r

[2021-05-23 19:46] MihaiSurdeanu commented on #494
Excellent!!

[2021-05-23 23:25] BeckySharp commented on #494
fwiw i enjoyed reading that

On Sunday, May 23, 2021, Mihai Surdeanu ***@***.***> wrote:

[2021-05-31 18:37] #494 closed

[2021-05-31 18:37] kwalcock commented on #458
Kryo has been incorporated.

[2021-05-31 18:37] #458 closed

[2021-06-10 15:41] kwalcock commented on #402
We just recently read 40,000 documents twice and the same phenomenon was observed.  The reading changes.

[2021-06-10 16:12] kwalcock commented on #402
It's the exact same as before, which shouldn't be surprising.  The week wanders around, and we have lots and lots of examples.  It wasn't somehow a temporary problem.  The repeatability consequence is troubling.  Aside from results reported in papers, Eidos with a given version is supposed to report the same results downstream for the same document.

[2021-06-12 13:11] BeckySharp opened #505 "Only print arg label once if same label multiple times"
in the RuleReader autodoc for extraction view

[2021-06-14 11:23] #505 closed

[2021-06-15 00:29] BeckySharp opened #509 "tweak md generation in odin"
- method that returns string version too,
- also file writing method if pass a File object

or add other entrypoints that return a string

[2021-06-23 17:51] kwalcock opened #514 "Group sentences by length?"
If the sentences of a document or group of documents were sorted by length, could those of the same length be run through the same computation graph?

It looks like quite a few methods would need to change signatures in order to work with a group of sentences so that the grouping can be propagated all the way down to the metal routines.  Would it be worth it?

[2021-06-23 18:09] MihaiSurdeanu commented on #514
I think  this is a great idea. This is a common trick in deep learning to speed up things.
Before we get into changing method signatures, I wonder what speedup we're looking at here. Would it be possible to run a simple test with a simple dynet model to understand what time we're looking at in cleaning up/recreating the comp graph?

[2021-06-24 06:54] kwalcock commented on #492
This is addressed with #515.

[2021-06-24 06:54] #492 closed

[2021-06-24 19:37] kwalcock commented on #514
Here are some further thoughts.  The code modifications for changing just one of the mtl predictions are shown in branch https://github.com/clulab/processors/tree/kwalcock/groupSentences.  They are fairly extensive but manageable.  In running modifications on the very small collection of quite small test documents included in a processors test directory, the following numbers were collected.

Docu

[2021-06-25 03:17] MihaiSurdeanu commented on #514
Thanks!
Yes, seeing data on "real" documents would be nice!
Also, if savings are meaningful, we could pad sentences to increase the number of sentences of same length. For example, we could pad all sentences < 20 tokens such that they become 20 tokens in length.

[2021-06-25 17:27] kwalcock commented on #514
I recall that from class.  My first concern was cases where the more quickly calculated answer matches the slower answer exactly.

[2021-06-30 21:15] kwalcock commented on #514
If I understand this correctly, the `srlSentence` method (https://github.com/clulab/processors/blob/c0af4ba81249f16d63652af70580211d88b1a7f9/main/src/main/scala/org/clulab/processors/clu/CluProcessor.scala#L282) will run `mtlSrla.predict()` on the very same sentence for each of the predicates of the sentence.  I'm watching the predicates go by and see this many per sentence: 6, 5, 3, 16, 8, 6, 5,

[2021-06-30 21:23] kwalcock commented on #514
This code in that same srlSentence method is very strange:
[code]
it seems to boil down to this, which is just an array of the very same redundant number:
[code]
Is that the intent?

[2021-07-01 05:37] MihaiSurdeanu commented on #514
Yes that was my intent :)

On Thu, Jul 1, 2021 at 00:23 Keith Alcock ***@***.***> wrote:

[2021-07-02 18:14] kwalcock commented on #514
In the branch kwalcock/groupSentences (https://github.com/clulab/processors/tree/kwalcock/groupSentences), CluProcessors, Metal, and Layers are revised to work on multiple sentences at a time if they are the same length.  They also to the multiple predicates at a time for the same sentences.  The number of AnnotatedSentences being processed by mtlSrla.predict is nearly 7 (6.96 when zeros are not c

[2021-07-03 06:43] MihaiSurdeanu commented on #514
Hmm. I'll take a look soon.

[2021-07-03 13:19] MihaiSurdeanu commented on #514
I went through your branch carefully, and I think the code is correct.
My only explanation now is that the `ComputationGraph.renew()` call is indeed cheap. Cheaper than the overhead added to sort and group the sentences. But this seems to disagree with the savings numbers you have in this thread... Any ideas of where the differences come from?

[2021-07-05 15:41] adarshp opened #520 "New release incorporating changes from #519?"
Hi @kwalcock , would it be possible to make a new release of `processors` so that we can use the changes introduced in #519 in [`clulab/tomcat-text`](https://github.com/clulab/tomcat-text)?

[2021-07-05 15:48] kwalcock commented on #520
Yes, unless @MihaiSurdeanu knows of a reason why not.

[2021-07-05 15:49] MihaiSurdeanu commented on #520
Ok to release!

On Mon, Jul 5, 2021 at 6:48 PM Keith Alcock ***@***.***>
wrote:

[2021-07-05 17:12] kwalcock commented on #520
v8.4.2 has been sent to maven central.  It should be available soon.

[2021-07-05 17:12] #520 closed

[2021-07-05 17:12] adarshp commented on #520
Thanks @kwalcock !

[2021-07-05 19:12] kwalcock opened #522 "Confusion about heads of graphs"
In [srlSentence](https://github.com/clulab/processors/blob/c05ef7fa10b5303fc564f0fa929ee1581117bee1/main/src/main/scala/org/clulab/processors/clu/CluProcessor.scala#L282) of CluProcessors there's a line `roots ++= predicateIndexes` and afterwards, the edges are calculated.  There is an example sentence in which the `predicateIndexes` are 1, 5, 6 and the edges are
[code]
Is 5 still supposed to be a

[2021-07-06 06:48] MihaiSurdeanu commented on #522
Good find @kwalcock !
No, in this example 5 is not supposed to be a root. Roots are nodes that never appear on the right hand side of these edges.

[2021-07-06 16:34] kwalcock commented on #522
A PR is on the way.  It sure seems like roots = edges.sources -- edges.destinations, which could be calculated in the constructor (or provided optionally) rather than passed to it.  I'll avoid changing the interface, though.

[2021-07-07 01:53] kwalcock commented on #522
See #523.  However, there may be an additional problem.

[2021-07-07 06:13] MihaiSurdeanu commented on #522
I merged that PR. What additional problem?

[2021-07-07 08:02] MihaiSurdeanu opened #525 "measurements not recognized"
Hi @marcovzla,
These tests fail in the branch numeric_processor because numbers are not recognized correctly:
https://github.com/clulab/processors/blob/numeric-processor/main/src/test/scala/org/clulab/numeric/TestNumericEntityRecognition.scala#L132-L135

Can you please take a look? I'd like to merge this in master this week, if possible.
Thanks!

[2021-07-07 15:08] kwalcock commented on #522
Now I'm not sure where I wrote it down.  In DirectedGraphIndex.toDirectedGraph, the old roots shouldn't be used with the new edges.  I added a check in the DirectedGraph constructor and several things are creating directed graphs that don't fit this definition of roots.
[code]

[2021-07-07 15:42] MihaiSurdeanu commented on #522
I think I remember seeing this in some syntactic trees as well.
I think we should be lenient and adjust the actual roots in the created DG
to be correct ones.

On Wed, Jul 7, 2021 at 6:08 PM Keith Alcock ***@***.***>
wrote:

[2021-07-07 15:50] kwalcock commented on #522
Regarding my comment above, I've got an open window from yesterday where I had written it down and will press the comment button.

If the roots need to be double checked each time anyway, should they just be removed from the DirectedGraph case class constructor?  I'm not sure whose code that would break.  I've turned them into a var and am replacing them with the calculated value to see what break

[2021-07-07 15:52] MihaiSurdeanu commented on #522
Fair point. I think they can be calculated on the fly, which should make
the constructor more robust.

On Wed, Jul 7, 2021 at 6:50 PM Keith Alcock ***@***.***>
wrote:

[2021-07-07 16:40] kwalcock commented on #522
So far, fixing it in DirectedGraphIndex has solved the problems in Eidos.  It looks like DirectedGraphIndex.removeEdge and addEdge are being called without either of them updating the roots.  I should probably change those so that the class is consistent.  The DirectedGraph could probably stay the same then unless performance should be sacrificed for the correctness guarantee.  I can't judge that

[2021-07-07 16:41] MihaiSurdeanu commented on #522
Thanks! And good catches!

On July 7, 2021 at 7:40:38 PM, Keith Alcock ***@***.***)
wrote:

So far, fixing it in DirectedGraphIndex has solved the problems in Eidos.
It looks like DirectedGraphIndex.removeEdge and addEdge are being called
without either of them updating the roots. I should probably change those
so that the class is consistent. The DirectedGraph could probably stay the
same then un

[2021-07-08 04:12] kwalcock commented on #522
The code above, in which a root cannot be a destination of an edge, does not especially address loops.  In one test document so far, FastNLPProcessor.parseWithStanford produces an edge 6 -> 6 with root of 6 for a GraphMap.UNIVERSAL_ENHANCED.  Luckily, this one isn't causing a problem with Eidos.  Now I observe other files are turning up additional loops.  One has a graph which no edges, but one ro

[2021-07-08 06:52] MihaiSurdeanu commented on #522
Thanks!

Note that cycles are legal for both SRL and syntactic dependencies...

[2021-07-08 07:22] kwalcock commented on #522
Can the cycles still include a root?

[2021-07-08 11:16] MihaiSurdeanu commented on #522
Yes...

[2021-07-08 15:22] kwalcock commented on #522
For srlSentence at least, "Roots are nodes that never appear on the right hand side of these edges."  In a loop, all nodes appear on the right hand side.  A cycle cannot include a root then.

The problem with Eidos is that roots are not serialized, so they need to be recalculated.  That doesn't seem possible.  Maybe the serialization needs to be changed.  The compositional grounding makes use of t

[2021-07-08 15:33] kwalcock commented on #522
Does a root have to be a source of an edge?  Some code above says that it does:
[code]
but there are places in the code where it isn't the case.  In a sentence with one word and no edges, is there a root, for instance?

[2021-07-08 15:34] MihaiSurdeanu commented on #522
It needs to be either a source, or to be a standalone node that is not part of any edge.

[2021-07-08 15:38] kwalcock commented on #522
Hopefully last question: are all standalone nodes roots or just some of them?

[2021-07-08 15:39] MihaiSurdeanu commented on #522
Standalone nodes have to be roots because they are not reachable otherwise.

[2021-07-14 19:54] marcovzla commented on #525
It should be fixed now

[2021-07-15 12:15] MihaiSurdeanu commented on #525
Thanks!

[2021-07-15 12:15] #525 closed

[2021-08-02 06:03] MihaiSurdeanu opened #530 ""one hundred thousand" not recognized"
It seems the number grammar requires that a number sequence start with digits. That is, this is recognized `100 thousand`, but this is not `one hundred thousand`.

@marcovzla, can you please look a this?

[2021-08-02 06:05] MihaiSurdeanu commented on #530
A different problem, but on the same topic: `100,000 ha` is not recognized, because of the comma in the number.

[2021-08-03 16:06] MihaiSurdeanu opened #531 "using semantic dependencies in Odin"
Hi @marcovzla and @myedibleenso,
I would like to use these dependencies in Odin:

[code]

and these:
[code]

Can one of you please add this functionality to Odin? Maybe part of the `ExtractorEngine` constructor?
Thanks!

[2021-08-03 16:17] myedibleenso commented on #531
@MihaiSurdeanu , you just need to add an entry for `GraphMap.HYBRID_DEPENDENCIES` to this guy:

https://github.com/clulab/processors/blob/1f9e5a627835783588a8da84afa13af575bbc80b/main/src/main/scala/org/clulab/odin/impl/OdinConfig.scala#L24-L30

Once you've done so, writing a rule like this will work:

https://github.com/clulab/processors/blob/1f9e5a627835783588a8da84afa13af575bbc80b/main/src/test

[2021-08-03 16:32] MihaiSurdeanu commented on #531
Nice! I think I can take it from here.

On August 3, 2021 at 7:17:51 PM, Gus Hahn-Powell ***@***.***)
wrote:

@MihaiSurdeanu <https://github.com/MihaiSurdeanu> , you just need to add an
entry for GraphMap.HYBRID_DEPENDENCIES to this guy:

https://github.com/clulab/processors/blob/1f9e5a627835783588a8da84afa13af575bbc80b/main/src/main/scala/org/clulab/odin/impl/OdinConfig.scala#L24-L30

Once you've

[2021-08-03 16:34] myedibleenso commented on #531
^ sorry, I missed the other graph you mentioned (`ENHANCED_SEMANTIC_ROLES`), but it's the same story as far as necessary changes.

[2021-08-03 23:33] marcovzla commented on #530
I fixed the issue with the commas in #532

I couldn't replicate the issue with `one hundred thousand`.
I added it as a test in #532. The test passes locally.

[2021-08-03 23:52] marcovzla commented on #530
Nevermind, I think I see the issue.

[2021-08-04 07:14] MihaiSurdeanu commented on #531
This works, so closing.
Thank you @myedibleenso !

[2021-08-04 07:14] #531 closed

[2021-08-04 08:06] MihaiSurdeanu commented on #531
For the record, here's the first ever hybrid Odin rule :)

[code]

[2021-08-04 20:25] #530 closed

[2021-08-04 20:28] marcovzla commented on #530
Issue was fixed in #532

[2021-08-04 22:09] #522 closed

[2021-08-07 18:09] BeckySharp opened #538 "Documentation of WordEmbeddings"
There should be some documentation on how to use the Word Embeddings (instantiate, apply, etc)

[2021-08-07 18:14] kwalcock commented on #538
...including lists of published versions of glove.

[2021-08-07 18:14] BeckySharp commented on #538
also... was `mostSimilarWords` intentionally not kept in the trait?

[2021-08-07 18:21] BeckySharp commented on #538
specifically, this is included:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/embeddings/SanitizedWordEmbeddingMap.scala#L22

But ExplicitWordEmbeddingMap doesn't have the `mostSimilarWords` method, which I use (and is generally useful).  The old one is only in the test suite, so I will use this deprecated one for now, but FYI

[2021-08-07 18:24] BeckySharp commented on #538
and...

this (these) shouldn't be private, right?:

https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/embeddings/SanitizedWordEmbeddingMap.scala#L408

[2021-08-07 18:27] BeckySharp commented on #538
https://xkcd.com/1172/
![image](https://user-images.githubusercontent.com/5384073/128610453-2dccff3b-1dae-40a7-b6fc-5c99b2405123.png)

[2021-08-09 14:54] MihaiSurdeanu commented on #538
The `loadMatrix` methods are called from the c'tor, so they should not be exposed.
`mostSimilarWords` might be useful to have.

[2021-08-09 16:14] BeckySharp commented on #538
as far as I can tell, there is no way to construct the versions with
mostsimilarwords

On Mon, Aug 9, 2021 at 7:55 AM Mihai Surdeanu ***@***.***>
wrote:

[2021-09-08 20:05] reynoldsm88 opened #548 "Basic `CluProcessor` annotation fails for relatively simple operation"
### Description
I would like to use `CluProcessor` to go through a list of words and lemmatize them. In the past I used the code similar to the code snippet I've provided, however, now this operation is causing an exception related to something with WordEmbeddings during a sanity check of the document.

I'm not sure if this is something I'm doing wrong or if this is a bug.

### Versions
- java : 1

[2021-09-08 20:24] MihaiSurdeanu commented on #548
Thanks @reynoldsm88 !

It seems to me that one dependency (the one that handles word embeddings) is not configured correctly. Because of its size, we store it on a local artifactory install, which must be added to the list of repos in the build file. Here is one build file that exemplifies this:

https://github.com/clulab/habitus/blob/main/build.sbt

I don't know if @kwalcock wants to add anything

[2021-09-08 20:24] BeckySharp commented on #548
@MihaiSurdeanu do we not need `proc.tagPartsOfSpeech(doc)` first?

[2021-09-08 20:27] MihaiSurdeanu commented on #548
Not for the English CluProcessor, afaik.

On Wed, Sep 8, 2021 at 13:25 Becky Sharp ***@***.***> wrote:

[2021-09-08 20:57] kwalcock commented on #548
This seems to work.  YMMV.  It may be that the sanity check is overreacting if only lemmatize is going to be run.

[code]

[2021-09-09 14:27] reynoldsm88 commented on #548
Thanks for the quick response @kwalcock @MihaiSurdeanu and @BeckySharp!

Keith's fix did the trick, everything is working as usual again. Do you want me to mark the issue as resolved? Otherwise, feel free to close it as resolved.

[2021-09-09 14:30] MihaiSurdeanu commented on #548
Thanks @reynoldsm88 !

[2021-09-09 14:30] #548 closed

[2021-09-13 17:32] kwalcock opened #550 "It should be possible to use different neural backends"

[2021-09-13 17:34] kwalcock commented on #550
[Training data](/data/nlp/corpora/processors-dynet)
[Resources](https://github.com/clulab/processors/tree/master/main/src/main/resources/org/clulab) named `mtl-en`...
[Config library](https://github.com/lightbend/config#python-port)

[2021-09-13 17:39] kwalcock commented on #550
[Example TorchScript Code](https://github.com/kwalcock/torchscript)
[Branch supporting multiple backends](https://github.com/clulab/processors/tree/kwalcock/backend)

[2021-09-13 17:52] kwalcock commented on #550
* Start with NER because simplest
* Run training in Scala and record performance numbers
* Do in Python and compare performance
*

[2021-09-13 19:03] #514 closed

[2021-09-13 22:58] ZhengTang1120 opened #551 "Ran into Error when Running the Script 'test-ner.sh'"
[info] Loading settings for project processors-build from plugins.sbt ...
[info] Loading project definition from /net/kate/storage/work/zhengtang/processors/project
[info] Loading settings for project root from release.sbt,compile.sbt,test.sbt,version.sbt,publish.sbt,build.sbt ...
[info] Loading settings for project openie from build.sbt ...
[info] Loading settings for project corenlp from build.s

[2021-09-17 00:39] MihaiSurdeanu commented on #551
Fixed in PR #553

[2021-09-17 00:39] #551 closed

[2021-10-06 21:43] kwalcock opened #559 "Error in generated OpenDomainLexer.java"
Ever since approximately #529, the lines https://github.com/clulab/processors/blob/a423e45fa0fdc5d7749cc3e6beb6f9ab44828764/main/src/main/java/org/clulab/processors/clu/tokenizer/OpenDomainLexer.java#L111-L112 have been causing problems.  The claim is that nothing is overridden.  It usually doesn't matter, but sometimes the failed compilation blocks other activity.

[2021-10-07 15:26] MihaiSurdeanu commented on #559
Hmm. Not sure why this happens. Can you please look into this?
Do we need an update on the antlr library?

[2021-10-21 17:38] MihaiSurdeanu opened #565 "Tokenize "May-October""
Split around dash; change dash to "to"

[2021-11-05 18:19] kwalcock opened #569 "Expose comments in the LexiconNER, so they are visible to other code"
Currently, code in `StandardKbSource` removes the comments before further processing: https://github.com/clulab/processors/blob/c8dfa85975eea9f6452220b407a4630940d550f1/main/src/main/scala/org/clulab/sequences/LexiconNERBuilder.scala#L87.
Other code like that in `UnitNormalizer`, https://github.com/clulab/processors/blob/c8dfa85975eea9f6452220b407a4630940d550f1/main/src/main/scala/org/clulab/numer

[2021-11-05 18:19] kwalcock commented on #569
FYI @EgoLaparra, @MihaiSurdeanu

[2021-11-05 18:25] MihaiSurdeanu commented on #569
I agree. I think option 1 is the pragmatic choice.
Thanks Keith!

On Fri, Nov 5, 2021 at 11:20 AM Keith Alcock ***@***.***>
wrote:

[2021-11-17 17:23] kwalcock opened #571 "Handle the +/- similarly to how done in habitus"

[2021-11-17 17:25] MihaiSurdeanu commented on #571
Also, I think this should normalize all Unicode characters here:
https://github.com/clulab/processors/blob/master/main/src/main/resources/org/clulab/processors/bionlp/unicode_to_ascii.tsv

This normalization should be turned on by default, but be optional in Processor.
Thanks!

[2021-11-19 18:55] kwalcock opened #572 "Make seasons configurable"
A NumericEntityRecognizer can be passed optionally into the CluProcessor constructor.  If passed, it will replace a default NumericEntityRecognizer in
[code]
The default one uses a resource "org/clulab/numeric/SEASON.tsv" and we'd like to be able to configure this.  It seems that there should only be one NumER and it has multiple kbs of which this resource will be one.  It shouldn't be separated i

[2021-11-19 19:04] MihaiSurdeanu commented on #572
@kwalcock : I'll let you decide on this. I can leave with either one :)

[2021-11-19 19:04] kwalcock commented on #572
If the optional, custom resource is specified with the CluProcessor and if there is already a numericEntityRecognizerOpt specified, we would not try to somehow edit that NumER so that it used the custom resource.  This would be an error.  What we really want is either a numericEntityRecognizer or a customSeasons, but that is about as difficult to do as the second option in which the customSeason i

[2021-11-19 21:55] kwalcock commented on #572
It is looking more complicated.  There is a SeasonNormalizer that wants to use the same SEASON.tsv file that the default NumericEntityRecognizer does.  If the latter is customized with a different seasons file, I assume that the SeasonNormalizer should take it into account.  Unfortunately the SeasonNormalizer isn't even a class.  It is a (companion) object.  It is initialized on demand and cannot

[2021-11-19 22:09] MihaiSurdeanu commented on #572
Agreed.

Maybe the SeasonNormalizer can be made a class, and added as a field in NumericEntityRecognizer, so your option 2 still holds?

[2021-11-20 00:05] kwalcock commented on #572
Thanks for the hint!  If SeasonNormalizer can be a class, then I have a plan, convoluted, but a plan.

[2021-11-22 02:23] kwalcock commented on #569
This was handled with #570.

[2021-11-22 02:23] #569 closed

[2021-11-22 02:29] kwalcock opened #574 "Handle an array of strings like a single string"
We're very often writing arrayOfStrings.mkString(" ") and string.split(' ') and it is wasteful.  If we had a class StringArray that implemented the important String methods, then we wouldn't have to change representations so often.  It might be fairly easy to do with a fancy iterator.

[2021-11-22 17:40] kwalcock commented on #572
The NumericEntityRecognizer is supposed to be reloadable.  It looks like the reload was intended to account for changes made in the rules, but not changes made to the lexiconNER or the actions, even though both of these are influenced by the contents of files that might need to be reloaded.  @MihaiSurdeanu, is it OK to leave it this way?  The SEASON.tsv ends up affecting both the lexiconNER and al

[2021-11-22 18:58] MihaiSurdeanu commented on #572
It's fine for now. Thanks for checking!
(The key info to debug are the rules. As long as those are reloadable, I'm Ok)

[2021-11-22 23:02] kwalcock commented on #572
Part of the discussion above is a little off the mark because the main constructor for CluProcessor is protected.  The simplified, public version does not have the numericEntityRecognizerOpt.  I've used a seasonPathOpt there and am converting it into the numericEntityRecognizerOpt for the call to the protected version.

[2021-11-22 23:02] #572 closed

[2021-12-04 07:01] myedibleenso commented on #290
I'm expanding this proposal to include post-processing hooks.

[2021-12-21 18:33] kwalcock opened #583 "Licensing should be checked"
We assert

[code]
but it hasn't been checking in a long time.  Does it make sense given the information below:

[2021-12-21 18:34] kwalcock commented on #583
[code]

[2021-12-21 18:41] kwalcock commented on #583
[code]

[2021-12-21 18:48] kwalcock commented on #583
[code]

[2021-12-21 21:32] kwalcock commented on #583
We might want to include a LICENSE file, because the code can quickly get separated from github or maven where the details might otherwise be noted.

[2021-12-26 18:54] MihaiSurdeanu opened #584 "New date patterns"
Hi @EgoLaparra,
Can you please add two more date/range patterns for:
"month of X", e.g., "month of January", and
"before mid-July"?

Thank you!
Mihai

[2021-12-27 02:41] MihaiSurdeanu commented on #584
I added the "month of X" pattern in this PR:
https://github.com/clulab/processors/pull/585

So, the only thing left to do is "before mid-July".

[2021-12-28 16:08] EgoLaparra commented on #584
@MihaiSurdeanu how do you want to normalize such expressions? Something like "before mid-July" -> "XXXX-XX-XX -- XXXX-07-15"? Do you want us to also cover "the beginning of July" and "the end of July"?

[2021-12-28 16:30] MihaiSurdeanu commented on #584
@EgoLaparra: yes on all questions :)

I think "mid"|"middle", "beginning"|"start", "end" probably captures most situations. Not sure yet how to handle the "mid-July" as a single token. Maybe we should split it into "mid" and "July"?

[2021-12-28 17:08] EgoLaparra commented on #584
I think we should split it so we can handle all those cases in a similar way.

[2022-01-02 21:28] MihaiSurdeanu commented on #584
@EgoLaparra: This tokenization issue has now been fixed in this PR:
https://github.com/clulab/processors/pull/586
which has been merged in master.

"mid-July" is tokenized into "mid" and "July" (the dash disappears).
Thanks!

[2022-01-02 21:29] MihaiSurdeanu commented on #584
@kwalcock : I wonder what other prefixes similar to "mid-" should be tokenized out?

[2022-01-02 22:38] kwalcock commented on #584
The article at https://www.proofreadnow.com/blog/master-prefixes-and-suffixes-with-hyphens suggests trans- and non- along with mid-.  Perhaps they would help with parsing.

Hyphens are used after all prefixes preceding a proper noun, a number, or an abbreviation (e.g., "trans-Atlantic network," "mid-1960s," or "non-GABAergic responses").

There's also this list:

Use a hyphen after the following p

[2022-01-02 22:46] kwalcock commented on #584
"bi" and "semi" are often not written with hyphens but the construction is fairly productive.  If these prefixes are added to dates, are they still recognized?

[2022-01-03 01:45] MihaiSurdeanu commented on #584
From these, I think the following should be tokenized because: (a) they commonly appear as separate tokens as well, and (b) they may impact the downstream components in processors: bi, semi, non, all.

[2022-01-03 02:01] MihaiSurdeanu commented on #584
These are addressed in this PR:
https://github.com/clulab/processors/pull/587

I'll merge it as soon as tests pass.

[2022-01-03 16:45] EgoLaparra commented on #584
Great, thanks!

[2022-01-03 16:46] EgoLaparra commented on #584
Sorry, I accidentally closed the issue 😅

[2022-01-20 16:39] kwalcock commented on #583
I see that there are LICENCE files in the different subproject directories.

[2022-01-21 20:54] EgoLaparra commented on #584
@Mihai, for what cases is this rule required? Do not `date-yyyy-mm-dd`, `date-dd-mm-yyyy`, ... cover dates with numeric months? I've tried commenting it out and all tests pass.
https://github.com/clulab/processors/blob/44fbb004aa4abef7d5fcfffce29a48cfa21c5960/main/src/main/resources/org/clulab/numeric/atomic.yml#L11-L17
The issue is that I need to produce dates with only month names to solve cases

[2022-01-21 21:02] MihaiSurdeanu commented on #584
Maybe... Can you please try to remove it and see if all unit tests pass?

[2022-01-21 23:20] EgoLaparra commented on #584
All the tests pass, it seems that we can remove it. I'll make the change and add a rule to identify single-month dates.

[2022-01-22 02:07] MihaiSurdeanu commented on #584
Sounds good. Thank you @EgoLaparra !

[2022-02-08 19:47] MihaiSurdeanu commented on #584
Has this been merged in master @EgoLaparra ? Close the issue?

[2022-02-08 19:48] MihaiSurdeanu opened #595 "better handing of minus signs in number parsing"
Do not include "-" in numbers when there is a white space between the sign and the first digit.

[2022-02-08 20:45] EgoLaparra commented on #584
Not totally yet. The support for modifiers (`mid-July`) will be merged with https://github.com/clulab/processors/pull/596

[2022-02-09 19:09] MihaiSurdeanu commented on #584
close this now?

[2022-02-09 19:51] EgoLaparra commented on #584
Yes!

[2022-02-09 19:51] #584 closed

[2022-03-05 05:34] endovitskayaV opened #602 "Incorrect parsing for words with a hyphen"
mention.characterStartOffset is always = 4, and there is no text before the hyphen in the found text.
Example:
rules:
  - name: ner-cancer
    label: CANCER
    priority: 1
    type: token
    pattern: |
      (/(?i)^breast$/ | /(?i)^non-visceral$/) carcinoma

texts:                                                                  mentions:
"some text non-breast carcinoma"             ->   charact

[2022-03-07 20:43] MihaiSurdeanu commented on #602
Hi,
I am not sure I can replicate this issue. Can you please attach the code + grammar you used for this?

Also, maybe it is relevant here: some of the within-word dashes are stripped from the tokens we generate for some prefixes such as "non". This is why "non-breast" will show up as two tokens to Odin: "non", "breast". This is on purpose: this way grammars that operate at token level can leverag

[2022-03-22 23:38] kwalcock opened #604 "Performance should stay approximately even"
This is an example run of version 8.4.8, the previously numbered master:

Stage | Time | Nanoseconds | Proportion
-- | -- | -- | --
chunking | 0:00:00:00.000 | 161700 | 0.00%
clear | 0:00:00:00.000 | 52000 | 0.00%
discourse | 0:00:00:00.000 | 61400 | 0.00%
lemmatize | 0:00:00:00.750 | 750296800 | 0.19%
parse | 0:00:01:17.153 | 77153648600 | 19.24%
recognizeNamedEntities | 0:00:00:42.699 | 42699050

[2022-03-22 23:40] kwalcock commented on #604
Here's one for the current master, which might soon be 8.4.9:

Stage | Time | Nanoseconds | Proportion
-- | -- | -- | --
chunking | 0:00:00:00.000 | 168800 | 0.00%
clear | 0:00:00:00.000 | 59400 | 0.00%
discourse | 0:00:00:00.000 | 77200 | 0.00%
lemmatize | 0:00:00:00.347 | 347660700 | 0.08%
parse | 0:00:01:41.668 | 101668399500 | 23.82%
recognizeNamedEntities | 0:00:00:41.526 | 41526004400 | 9.73

[2022-03-22 23:43] MihaiSurdeanu commented on #604
Thanks @kwalcock !
This aligns well with what I thought.

[2022-03-22 23:53] kwalcock commented on #604
If those times aren't unreasonable, then I should go ahead and publish the 8.4.9 that you wanted.

[2022-03-22 23:55] MihaiSurdeanu commented on #604
Do you remember what the `parse` times were on that older version where we observed it to be slow?
Also, maybe hang on for a couple of days. I hope to squeeze in one more improvement.

[2022-03-23 00:15] kwalcock commented on #604
There are too many older versions for me.

[2022-03-23 00:18] MihaiSurdeanu commented on #604
You had an issue a while ago (that I can't find) where you reported this exact same table.

[2022-03-23 00:26] kwalcock commented on #604
If something can be tracked down in the GitHub repo, though, I can certainly add the same timing code on the same files.  Around June 11, 2021 there were some other timing tests, but they look very slow.

[2022-03-23 00:35] MihaiSurdeanu commented on #604
Do you have a link to those tests?

[2022-03-23 01:11] kwalcock commented on #604
GitHub is not doing a very complete search.  Here are some more but they don't look like the same test.

https://github.com/clulab/processors/pull/473
https://github.com/clulab/processors/issues/514

[2022-03-23 05:10] kwalcock commented on #604
Also #501.  These are the right columns, but the measurements are about three times as long.

[2022-03-23 14:23] MihaiSurdeanu commented on #604
Indeed. Thanks!
Further evidence that the current master is on a good track.

On Tue, Mar 22, 2022 at 10:10 PM Keith Alcock ***@***.***>
wrote:

[2022-03-30 04:55] BeckySharp opened #608 "SRL method seems to be renamed..."
to `proc.srl(doc)`

if I'm right, the docs should be updated (from `labelSemanticRoles(doc)`)

[2022-03-30 05:17] BeckySharp commented on #608
also, is it just me or is there no clear link from the docs _back_ to the github page?

.... and if you care.....

i guess because of this:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/processors/clu/CluProcessor.scala#L168

you can't (I think?) call the annotation pipeline methods one-by-one on a pre-made Document the way it's listed in the docs -- i.e., if you

[2022-03-30 15:21] MihaiSurdeanu commented on #608
Thanks @BeckySharp !
I will adjust the documentation soon.

Also, @kwalcock: I think we should not offer a default implementation of `annotate()` in the `Processor` trait, since the implementations for the various processors have diverged. What do you think?

[2022-03-30 19:40] MihaiSurdeanu commented on #608
I fixed the documentation:
- Added link back to the github in the first sentence on the landing page.
- Adjusted the description of `annotate` to indicate that it applies just to CoreNLP processors.
- Fixed some other older text that is no longer valid.

@kwalcock : can you please take a look at the doc, to see if I missed something that is no longer valid?

[2022-03-31 20:07] kwalcock commented on #608
Correct, @BeckySharp, the CluProcessor needs a `GivenConstEmbeddingsAttachment(doc).perform {` before one can pick and choose pipeline methods.  At one point I had an alternate implementation in which an extra argument was passed around.  We might have also used an implicit argument.  The required order of the pipeline methods may also need to differ.  I will suggest a note to check with the annot

[2022-04-01 17:56] kwalcock commented on #608
#610 should be taking care of these things.

[2022-04-01 17:56] #608 closed

[2022-04-01 20:52] #604 closed

[2022-04-01 23:49] kwalcock opened #612 "Java 17"
According to reliable sources, it may require in the call to Java

--add-opens java.base/sun.net.[www.protocol.jar](http://www.protocol.jar/)=ALL-UNNAMED

See https://docs.oracle.com/en/java/javase/16/migrate/migrating-jdk-8-later-jdk-releases.html

This command may help diagnose problems related to missing classes:

mvn dependency:build-classpath

[2022-04-01 23:51] kwalcock commented on #612
To add new Scala code but still work in Maven, one might need things like this:
[code]

[code]

[2022-04-02 02:15] MihaiSurdeanu commented on #612
Nice @kwalcock !

Should we add a sample pom.xml file somewhere in the documentation?

[2022-04-02 04:02] kwalcock commented on #612
This issue is here mostly to preserve Becky's findings after Slack forgets it and until we advance to more recent Java versions.  If I understand it correctly, the XML above is mostly helpful for people wanting to add a few Scala source files to their otherwise Java project built with Maven.  It isn't directly related to processors.  We usually work the other way around with a Scala project built

[2022-04-02 14:44] MihaiSurdeanu commented on #612
Fair enough.

[2022-04-27 05:24] kwalcock opened #621 "Update to processors 8.5.0 will break two Eidos unit tests"
The new version will not find mentions in the sentence in TestRaps:
[code]

for
[code]
and
[code]
If that's no big deal, I will just disable the test.  If it's worth looking into, here are some details.  PDFs of the entire pages are attached.  Here are just the top portions from before

![image](https://user-images.githubusercontent.com/8679738/165446118-1e663252-bf12-4f49-bb47-1d604f6e391b.png)

[2022-04-27 06:12] kwalcock commented on #621
The only other test that fails is less specific.  The TestSentenceClassifier complains that
[code]
It was previously at
[code]

[2022-04-27 15:00] MihaiSurdeanu commented on #621
I think it's fine to adjust the SentenceClassifier test to allow P > 0.79.
More on the other soon.

[2022-04-27 15:58] kwalcock commented on #621
OK.  That other is not a critical test or anything, but it might be indicative of some unforeseen behavior/feature.  I thought it deserved a check before anything was published.

[2022-04-27 19:19] MihaiSurdeanu commented on #621
Also,
- Another student reported a drop in scores when switching to a newer processors/fatdynet. I suspect changes in dynet impacted things. I asked her for details. However, I do not observe this when training the processors models, so I think we can ignore it until we have more evidence.
- On the second issue: the output was clearly better before. I am not sure why... The only difference is that

[2022-04-27 20:12] kwalcock commented on #621
It looks like the parse is different before and after (in the PDFs).  Before is non-farm / income and after is non / farm / income.  It looks like brat isn't drawing the diagram correctly because it can't find "non" or "farm" (It may only see "non-farm") and uses 0 or -1 for an index to draw the line all the way back to "Significant".  That line is not listed in the dependencies, if I understand i

[2022-04-27 21:00] MihaiSurdeanu commented on #621
Hmm... Can you please check where we lose the dash? This sounds like a tokenization issue. This looks vaguely familiar. Quite probably my fault.

[2022-04-28 01:31] kwalcock commented on #621
It happens in class TokenizerStepHyphens where "non-" was added recently.

[2022-04-28 01:41] MihaiSurdeanu commented on #621
I think I did that to help Eidos (or Reach?) handle some negations better...
Just to be extra sure, if you remove "non-" from "non-farm" from the original text, do we extract 2 causal relations?

[2022-04-28 02:02] kwalcock commented on #621
Yes, but it's still acting strangely.  "in farm income", "in non- farm income", and "in non farm income" all result in 2 relations.  It is only when they are written together "in non-farm income" that there is a problem and the tokenizer seems to convert "non-farm" to "non farm" anyway.  I haven't yet found out what the difference is, but must be pretty close.

[World Modelers Visualizer-after-jus

[2022-04-28 02:04] MihaiSurdeanu commented on #621
Hmm... I expected the output for "non-farm income" and "non farm income" to be identical because the former is tokenized into the latter.

[2022-04-28 02:08] kwalcock commented on #621
It seems that the beginPosition and endPosition of the RawToken  for the two halves, "non" and "farm" are incorrect.  They are positions within the word and not the sentence or document, and that might be messing things up.

[2022-04-28 02:15] kwalcock commented on #621
In the code
[code]
probably the input.beginPosition needs to be added to the 0 and dashPosition.  I can change that in processors and see if it makes a difference.

[2022-04-28 02:16] MihaiSurdeanu commented on #621
Nice catch!!

[2022-04-28 03:59] kwalcock commented on #621
That seems to have fixed it.  The arrows are now in the right place as well.  It could easily have been a false alarm or rabbit hole, so thanks for supporting further investigation.  PRs are being prepared.

![image](https://user-images.githubusercontent.com/8679738/165673086-5d816114-eff1-4b87-ad0b-64fa149faa33.png)
![image](https://user-images.githubusercontent.com/8679738/165673376-8d6ac8d0-d5b

[2022-04-28 12:09] MihaiSurdeanu commented on #621
Nice!

[2022-04-30 22:04] maxaalexeeva opened #627 "new time rules"
Issue 1:

I am trying to write a rule and an action to extract/update norms for `from February/March to June/July`.
https://github.com/clulab/processors/blob/fcb9c9efe23d38285c5fc3203f6289751739eab9/main/src/main/resources/org/clulab/numeric/date-ranges.yml#L178
Based on some printouts, the rule does not extract any mentions. I have already tried a bunch of things (different ways to get at entitie

[2022-05-01 13:26] MihaiSurdeanu commented on #627
Thanks @maxaalexeeva ! I'll take a look at the rule soon.
Issue2: I think this should be handled through character regex patterns in the simple date grammar.

[2022-05-03 20:19] MihaiSurdeanu commented on #627
@maxaalexeeva : can you please include here the full sentence with this example?

[2022-05-03 20:37] maxaalexeeva commented on #627
@MihaiSurdeanu `These correspond to the dry season (from February/March to June/July).`

[2022-05-03 20:38] MihaiSurdeanu commented on #627
Thanks!

[2022-05-04 19:06] MihaiSurdeanu opened #628 "Use progress bar"
In the Metal library, use a progress bar for train/test. This looks promising: https://github.com/ctongfei/progressbar

[2022-05-06 16:43] kwalcock opened #630 "Empty word"
For the text below, the third sentence includes an empty word between "of" and "5,242".  Other parts of pipeline aren't expecting this.  It is happening in Tokenizer.readTokens already.  It could be filtered out right there, but it would also be good to know how it gets in there in the first place.

[code]

[2022-05-06 16:49] MihaiSurdeanu commented on #630
Nice catch! We did see PDF converters inserting white spaces that are not ASCII in their output. These Unicode white spaces need to be explicitly added to the tokenizer here:
https://github.com/clulab/processors/blob/master/main/src/main/java/org/clulab/processors/clu/tokenizer/OpenDomainLexer.g#L78

[2022-05-06 17:09] kwalcock commented on #630
In this case it is a plain space in the text, but I can do testing with `&nbsp;` and similar characters as well.  @hubert10 ran into the problem with a file when I added an `assert(word.nonEmpty)`.  The internet is thinking there might be a rule in OpenDomainLexer.g that matches zero characters.

[2022-05-06 17:35] kwalcock commented on #630
You are right.  Although the space is plain, there are some \u200B characters there as well, just to the right of it.  That's not in the list

[code]

[2022-05-06 18:39] kwalcock commented on #630
`antlr` is doing OK.  It's the ScienceUtils.replaceUnicodeWithAscii that is blanking out the word.  In `unicode_to_ascii.tsv` there is
[code]
It is being called from TokenizerStepNormalization.process.  I'm checking for empty words there.

[2022-05-06 19:05] kwalcock commented on #630
This is addressed with #631.

[2022-05-06 19:05] #630 closed

[2022-05-16 08:29] IkeKobby opened #633 "Extraction of complex date"
Hi @MihaiSurdeanu , `These correspond to the dry season (from February/March to June/July)...`  this type of date needs update for extraction.

[2022-05-16 17:40] kwalcock commented on #628
This was addressed with #632 & #634.

[2022-05-16 17:40] #628 closed

[2022-06-09 19:38] kwalcock opened #639 "It should work with new versions of corenlp"
It is failing some tests in TestCoreNLPProcessor and TestFastNLPProcessor.  Details will be pasted below.

[2022-06-09 19:39] kwalcock commented on #639
Below are tests for TestCoreNLPProcessor.  Search for "*** FAILED ***"

[code]

[2022-06-09 19:45] kwalcock commented on #639
Below are tests for TestFastNLPProcessor. Search for "*** FAILED ***"

[code]

[2022-06-10 05:23] MihaiSurdeanu commented on #639
Thanks!
These are not too bad. I'll look into these.

[2022-06-13 11:10] MihaiSurdeanu commented on #639
@kwalcock : which branch should I use for these?
Thanks!

[2022-06-13 15:08] kwalcock commented on #639
This went with #640.  Not sure why I split it up.  It is now the modernize branch.

[2022-06-14 20:14] maxaalexeeva commented on #627
Issue 1: addressed in https://github.com/clulab/processors/pull/629
Issue 2: addressed in https://github.com/clulab/processors/pull/637

[2022-06-14 20:14] #627 closed

[2022-06-14 21:16] maxaalexeeva opened #642 "Normalization issues"
- [ ] number + preposition of time/place (`in`) mistakenly labeled as measurement:
[code]
- [ ] unclear how to normalize the numbers in parens (may need to be addressed directly in habitus):
[code]
- [ ] pluses are included as B-MEASUREMENT: feature or a bug? (norms are correct, e.g., 100.0 kg/ha for + 100 kg ha-1):
[code]
- [ ] range not extracted:
[code]
- [ ] how to normalize two separate value

[2022-06-15 07:47] MihaiSurdeanu commented on #639
I pushed some changes to the unit tests, which should make them pass.
The changes are pretty easy and seem deterministic. In particular:
- "dobj" becomes "obj"
- "nmod*" becomes "obl*"

For the record, it seems the CoreNLP POS tagger does *not* follow the UD v2 tags. Neither does the constituent parser. The only that seems to consistently follow them is the dependency tagger that is wrapped in Fas

[2022-06-15 08:28] MihaiSurdeanu commented on #642
Thanks @maxaalexeeva! I'll take a look at these soon.

[2022-06-15 18:08] kwalcock commented on #639
The updated PR is #643 and is under test now.  A decision has to be made about the version numbering.  Additionally, it might be useful for the Scala code to be able to detect which version of stanford-corenlp it is being "linked" against so that the only difference between the code in a processors v8 and v9 is version.sbt and one line in a build.sbt that defines corenlpV.  The tests that have bee

[2022-06-16 01:02] kwalcock commented on #639
I finally noticed the comment you left
[code]
and it made me think even more that this is the way to go.  The PR #644 shows how it might work.  The change would also be made to the old version 8 branch.

[2022-06-16 05:59] maxaalexeeva commented on #642
@MihaiSurdeanu I started on these today. I will fiddle with them more tomorrow and will let you know if I run into issues.

[2022-06-16 15:17] #621 closed

[2022-06-16 15:20] kwalcock commented on #621
I think this was fixed around #631.

[2022-06-17 00:44] kwalcock commented on #158
We haven't been using Travis for quite some time, so I'm closing.

[2022-06-17 00:44] #158 closed

[2022-06-17 15:26] #375 closed

[2022-06-17 17:18] kwalcock commented on #188
@myedibleenso, this was finally done and is currently available in the master branch and will be in the next release!  You would need to change your code to something like `ds.map` to make use of it.

[2022-06-17 17:18] #188 closed

[2022-06-17 17:27] #316 closed

[2022-06-17 18:44] #280 closed

[2022-06-26 07:19] MihaiSurdeanu commented on #642
Thanks @maxaalexeeva !
- "pluses are included as B-MEASUREMENT" - this is a feature :) Let's keep it. Recognizing signs is useful, sometimes. And the number normalization handles this.
- "more units come up split by the type of fertilizer" - let's ignore this. This requires a complicated fix. And I suspect this is not common: it is the first time I see a measurement reported this way.
-"units sepa

[2022-06-27 02:27] maxaalexeeva commented on #642
@MihaiSurdeanu, will try! Thanks! Another thing came up:

Would you actually also look at the first issue (`number + preposition of time/place`, including my previous updates to it). My suboptimal solution seemed to work but I now have found a case when it interferes with a different extraction:

I have an example where very similar spans of text get different pos tags:

[code]
vs.
[code]
And beca

[2022-06-27 05:15] MihaiSurdeanu commented on #642
Hi Masha,
I think the "kg" issue can be fixed in the POS postProcessing method here:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/processors/clu/CluProcessor.scala#L595

[2022-06-27 05:46] maxaalexeeva commented on #642
@MihaiSurdeanu, the kg part actually does get extracted even with the wrong POS; the issue seems to be the very unique token `NPK`, which in the second case gets labeled as `NNP`. That interferes with my constraint in the `measurement-unit` rule. The constraint is supposed to disallow units immediately followed by a personal pronoun or a digit to solve the first issue in the original post (`releas

[2022-06-27 05:49] kwalcock opened #652 "CluProcessor.parseSentenceWithEisner seems to be crashing"
This seems to crash:
[code]

[2022-06-27 09:42] MihaiSurdeanu commented on #642
Probably Ok to ignore... This seems too specific.

[2022-06-27 15:18] kwalcock commented on #652
Specifically
[code]

[2022-07-02 04:19] kwalcock commented on #7
Documentation for [slf4f](https://www.slf4j.org/manual.html) states,

"Embedded components such as libraries or frameworks should not declare a dependency on any SLF4J binding/provider [like logback-classic] but only depend on slf4j-api. When a library declares a transitive dependency on a specific binding, that binding is imposed on the end-user negating the purpose of SLF4J. Note that declaring

[2022-07-02 08:54] MihaiSurdeanu commented on #7
Very nice! Thanks @kwalcock!

[2022-07-05 15:29] kwalcock commented on #7
#653 takes care of the published POM file.  It would be nice to take care of the locally published ivy.xml as well.  Several other clulab projects should be updated as well.

[2022-07-05 15:30] #7 closed, assigned to MihaiSurdeanu

[2022-07-05 19:54] MihaiSurdeanu commented on #652
Thanks Keith! I'll take a look.

On Tue, Jul 5, 2022 at 22:02 Keith Alcock ***@***.***> wrote:

[2022-07-06 06:24] MihaiSurdeanu commented on #652
I think you're right! There is a check for these bounds in the part of the code that handles the common algorithm, but not in this error handling case...

I think this in line:
[code]
depHead should be bound to be between [0, sentence length)
Thanks!

[2022-07-07 07:21] MihaiSurdeanu commented on #652
Thanks @kwalcock !

On the first issue:
[code]
This is fine. The parent for loop goes over `labelTopScores`, which are aligned with `startingDependencies`. That is, we will never "hit" a null cell in this loop.

On the second issue: yes, in the `else` block ("Eisner failed to produce a complete tree; revert to the greedy inference") we do need to check for nulls. In case a null is present, we need

[2022-07-08 04:09] kwalcock commented on #652
Addressed with #654.

[2022-07-08 05:24] #652 closed

[2022-07-15 19:04] harisriaz17 opened #655 "RuntimeException: inferenceWithScores not supported for ViterbiLayer"
I am trying to get the scores for the predictions of the LSTM-CRF model.

In [line 327](https://github.com/clulab/processors/blob/88501909383e070866332a165909fae587bf0a9a/main/src/main/scala/org/clulab/dynet/Metal.scala#L327)  of Metal.scala, replacing: `Layers.predict(model, taskId, sentence, modHeadPairsOpt, constEmbeddings)` function with `Layers.predictWithScores(model, taskId, sentence, modHe

[2022-07-15 20:21] kwalcock commented on #655
I'm finally looking.  Sorry for the delay.

[2022-07-15 20:51] kwalcock commented on #655
I wonder whether the scores are really necessary given that access isn't provided.  So the hierarchy is
[code]
and Greedy has it while Viterbi doesn't.  It seems like there needs to be a Utils.viterbiWithScores for ViterbiForwardLayer.inferenceWithScores in the same way inference calls Utils.viterbi.  That could probably be made by keeping track of backScores along with backPointers.

That probabl

[2022-07-15 21:12] MihaiSurdeanu commented on #655
This one is on me. I implemented it for greedy inference, and did not implement it yet for Viterbi.
Haris, for now please change the inference type to greedy in the final layer, in the config file. It should work afterwards.

[2022-07-15 21:12] harisriaz17 commented on #655
I guess what I really need to return from the viterbi() method in Utils.scala is `pathScore` along with `bestPath`. That would involve minor modifications to viterbi() and inference() but this is a short term solution that won't return an IndexedSeq[IndexedSeq[(String, Float)] nested array as specified in the inferenceWithScores() method.

[2022-07-15 21:12] harisriaz17 commented on #655
ok.

[2022-07-29 20:31] #277 closed

[2022-08-10 03:11] kwalcock opened #663 "NumericEntityRecognition hangs"
This is being transferred from https://github.com/clulab/habitus/issues/160.  This particular sentence was taken from one of the problematic files and added to a unit test:

Table 2 : Development forecasts for the dry cold season 2020_2021 speculations Dagana Lake Podor Matam Bakel Valley Tomato Onion but Yam Okra others 1,016 960 250 80 150 1,300 50 1,200 50 700 2,300 3,800 225 800 2 150 200 3,69

[2022-08-10 17:58] kwalcock commented on #663
The main problem seems to be this rule in `measurements.yml` that is prohibitively expensive to run on long lists of numbers.  The sentence in the second file that "hangs" is similar to the previous one.  We're probably going to need to worry about the computational complexity of our rules.

Table 2 : Development forecasts for the dry cold season 2020_2021 speculations Dagana Lake Podor Matam Bake

[2022-08-10 19:43] MihaiSurdeanu commented on #663
Thanks @kwalcock !
How long does it take to process this sentence with and without the rule above?

[2022-08-10 20:07] kwalcock commented on #663
It has never finished, so I don't know, but probably at least 15 minutes.  In the meantime I have re-written the rule to
[code]
and tests are running now.  If they pass, I'll explain further.

[2022-08-10 20:22] kwalcock commented on #663
They just passed.  It is important to add the CD in [!tag = /^NN|LRB|CD/], I think, because otherwise the @number is likely a CD and then the computer has to figure out which sub-rule (either the @number one or the tag one without CD) to attribute the number to and try all combinations to find the best best one.  It seems to work much better if each sub-rule is mutually exclusive.  With just that

[2022-08-10 20:54] MihaiSurdeanu commented on #663
Nice catch @kwalcock !
Please merge. There is probably a cleaner solution for the "in YEAR" problem, but I don't see it now.
Thanks!

[2022-08-28 05:55] maxaalexeeva opened #665 "using auto closer"
Using locally published version of processors masters in Habitus, getting this autoClose error, not sure how to fix:

[code]
There is also an error because of the switch from localTokenizer to lazyTokenizer, but I have figured out how to fix that one.

[2022-08-28 06:21] kwalcock commented on #665
Sorry about that.  I can't fix it right until we republish processors.  In `Printing.scala` change it to
[code]
and in `TempFile.scala` to
[code]
and as you noticed,
[code]

[2022-08-28 16:38] maxaalexeeva commented on #665
Thank you, @kwalcock!

[2022-08-28 16:38] #665 closed

[2022-09-27 05:20] maxaalexeeva opened #670 "sentence tokenization issue"
Sentence tokenization is wrong if `e.g.` is not followed by a comma. This example results in two sentences:
[code]
Compare to:
[code]

[2022-09-28 14:14] MihaiSurdeanu commented on #670
Solved by PR #671 .

[2022-09-28 14:14] #670 closed

[2022-10-11 07:41] MihaiSurdeanu commented on #604
Thanks!

It was #473. If you scroll down, you had similar stats, except the parser
took 4:39. Much slower.

On Tue, Mar 22, 2022 at 6:11 PM Keith Alcock ***@***.***>
wrote:

[2022-11-18 18:33] myedibleenso opened #677 "[numeric mentions] cannot get date for Thanksgiving Day"
Somewhat timely, but I'm running into an issue with the NER for `Thanksgiving Day`:

[code]

[2022-11-18 22:20] MihaiSurdeanu commented on #677
We use jollyday, which should normalize Thanksgiving Day...
Their lexicons indicate that this is covered:
https://jollyday.sourceforge.net/names_holiday_default.html

Something is happening as a result of this line:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/numeric/HolidayNormalizer.scala#L25

@kwalcock : can you please take a look when you can? Maybe we are b

[2022-11-18 22:56] kwalcock commented on #677
It looks like that was incorporated as far back as processors 8.4.8.  I'll check further.

[2022-11-18 23:51] kwalcock commented on #677
The problem seems to be that there are two Thanksgiving Days.  The second is presumably for Canada.  The code only gives a norm if there is a definitive value.

[code]

[2022-11-19 00:26] MihaiSurdeanu commented on #677
I wonder if we can default to the US in case of ambiguities.

On Fri, Nov 18, 2022 at 16:51 Keith Alcock ***@***.***> wrote:

[2022-11-19 00:42] myedibleenso commented on #677
Are there other ambiguous cases?  I wouldn't be surprised (ex Independence Day).  Maybe just avoid normalizing if ambiguous or return all assignments?

[2022-11-19 00:53] myedibleenso opened #679 "[odin] EmbeddingsResource should extend ExplicitWordEmbeddingMap"
[`EmbeddingsResource` extends the deprecated `SanitizedWordEmbeddingMap`](https://github.com/clulab/processors/blob/ecb871b067771a275c3578be404c62ddfc5d1517/main/src/main/scala/org/clulab/odin/impl/OdinResource.scala#L14).

Tangential, but have we given any thought to instead using an ANN index (ex. [`annoy4s`](https://github.com/annoy4s/annoy4s)) for Odin?

[2022-11-19 01:02] myedibleenso opened #680 "Optionally preserve unrecognized tokens"
The tokenizer cannot handle just any character sequence.  There are scenarios where a user would like to preserve these symbols in the Document that is produced.

I haven't had a hand in the implementation of the tokenizer, but is it possible to reinsert these symbols as tokens in the doc we return?  lemmata, tags, etc. should probably default to some sort of `UNK` tag.

Related: if processors mov

[2022-11-19 01:06] myedibleenso opened #681 "Mask certain tokens during annotation"
There are many cases where a token is better off invisible to a sequence tagger or shift-reduce parser (ex. the bullet in a bulleted list, ®, °, etc.).  If such symbols have not been seen in training, they may have unexpected effects on the output sequence.  It would be convenient to provide masked tokens for specific steps in the annotation pipeline using a regular expression or list of strings.

[2022-11-19 18:55] MihaiSurdeanu commented on #680
- We will preserve our word-level tokenizer, and then use subword tokenization just within words. So, from the outside, the API stays the same.
- I have mixed feelings about preserving weird symbols. Tokenization and simpler tasks may work, but this will mess up parsing for sure...

[2022-11-20 02:13] myedibleenso commented on #680
Agreed.  It needs to be done in a way that doesn't affect annotation (see https://github.com/clulab/processors/issues/681)

[2022-11-20 02:15] myedibleenso commented on #680
Although if processors moves to using transformers, re-introducing tokens after annotation might be confusing when inspecting things like attention weights.