[2013-03-29 10:29] hbf opened #1 "Cross-build for Scala 2.10.0"
First of call, great initiative and project!

Is there any chance of having a 2.10.0/1 cross-build? We are using Akka (and Scala 2.10 futures) for we can't use Scala 2.9.x in our projects.

[2013-03-29 16:59] #1 closed, assigned to MihaiSurdeanu

[2013-04-02 22:22] dvic opened #2 "Dependency problem?"
Is there some dependency issue going on? I get
  Failure to find edu.stanford.nlp:stanford-corenlp-models

I solved it by replacing this dependency by a couple of others (see my forked version).

[2013-04-03 17:10] #2 closed, assigned to MihaiSurdeanu

[2013-06-13 19:41] torotoki opened #3 "Please upload the package to the maven"
I want to use the package from a non-GPL code, but the code is licensed GPL and cannot download from the maven server. Will you upload the package to the maven?

[2013-06-14 11:59] #3 closed, assigned to nobody

[2013-06-30 10:00] dvic opened #4 "new version of CoreNLP available"
It is not mentioned if we can use CoreNLP 3.2.0 (released on June 20th). Maybe useful to say something about that in the documentation.

Changes of 3.2.0 compared to 1.3.5:
Improved tagger speed, new and more accurate parser model

[2013-07-08 16:56] #4 closed, assigned to nobody

[2013-10-03 14:30] Facsimiler opened #5 "Slow runtime performance"
Hi!

Thanks for creating this Scala library, which helped me out a lot recently! Great stuff!

I'm puzzled about a couple of aspects of the library though: each time I run my program to annotate text (I'm just creating an instance of CoreNLPProcessor, then invoking its annotate method on that text), the library downloads a number of files and writes the following to the standard output:

[code]

I

[2013-10-03 17:00] #5 closed, assigned to nobody

[2013-11-22 11:18] matanox opened #6 "mvn package fails over englishPCFG.ser.gz"
`mvn package` seems to fail over the following, even though running the StanfordNLP shell script (`corenlp.sh`) from the same directory works (and successfully finds the file listed below as missing as per its logging). The error message received from `mvn package`:

`Loading parser from serialized file edu/stanford/nlp/models/lexparser/englishPCFG.ser.gz ...
java.io.IOException: Unable to resolve

[2013-11-22 16:11] #6 closed, assigned to nobody

[2013-12-09 13:26] hsyed opened #7 "Using this library puts the entire project into debug logging mode."
Just adding this as a dependency causes all my libraries to begin spewing debug output. I suggest altering the defaults to :
1. Disable debug as default.
2. Only make config changes for logging to your own library instead of changing the globals.

[2013-12-10 13:39] hsyed opened #8 "Unscallable and extremely slow performance compared to stanford-corenlp"
I am using an actor based pipeline to annotate 3.2 gb of text in 3 - 4 million text entities. when I use core-nlp directly everything works fine. when I replace that with sistanlp it barely does anything. I am using 12 actors on my macbook to do the work, so 12 instances of annotators.

1. Only one core is saturated.
2. Works barely happens even with the single core.

I suspect some really bad con

[2013-12-23 05:49] ChetanMastmardi opened #9 "Not able to get result for the string "2013 Sales Report" in Stanford Core NLP SuTime program"
Hi
        I have tried to execute Stanford Core Nlp Full SuTime Program I'm Able to get the Result for the String "2013 IBM Sales Report" ,"2013 SalesReport" and all But the same is not coming for the string "2013 Sales Report". if I give space between Sales and Report the result is not coming Same problem for the string "2013 HR Report". How to Resolv this Problem. Suggest me some solution for t

[2013-12-23 15:19] #9 closed, assigned to nobody

[2014-01-13 18:27] schmmd opened #10 "Looks similar to a library I wrote"
I love it.  I'll poke in deeper when I have the time.  I wrote a similar library while I worked at the UW.

https://github.com/knowitall/nlptools

It was the product of spare time so it has some issues, but it wraps a number of libraries (breeze, cleanlp, etc).  You might want to take a look and see if it gives you any ideas for your library.

The NLP community needs a "go to" location for NLP too

[2014-01-13 18:32] #10 closed, assigned to nobody

[2014-03-02 20:55] lucasnoah opened #11 "Build failing with mvn"
Hi
Every time I try and build the .jar files with mvn package it fails.  I am including my full -e output below.

Thanks

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for edu.arizona.sista:processors:jar:2.0
[WARNING] 'build.plugins.plugin.version' for org.scala-tools:maven-scala-plugin

[2014-06-03 15:15] wangxiangtao opened #12 "How to disable the debug message ?"
Hi , Could you tell me how to disable the debug message ?
otherwise it is slow.
thanks

[2014-06-06 06:43] wangxiangtao opened #13 "NullPointerExcepton"
Hi ,I run the testParser1 method in TestFastNLPProcessor .
it throw NullPointerExcepton for the below lines:

// sista: it is possible that model files are included in a jar with a different name
        // (this happens in the jar distribution of processors)
        // inspect all jars in the classpath, to see if any contains our model files
        if(! found) {
          String infoFile = getNa

[2014-06-06 07:14] #12 closed, assigned to nobody

[2014-07-06 23:21] omidb opened #14 "Dependency"
How can I get different dependencies? (e.g. Basic vs Collapsed vs CC Collapsed)

[2014-07-08 02:42] omidb opened #15 "Serialization not working"
Thanks for the wrapper, I got exception in this last line:

`proc.parse(doc)`
    `val ser = new DocumentSerializer`
    `val out1 = ser.save(doc)`

I copied this from test files, the exception is :
`java.lang.ClassNotFoundException: scala.collection.GenTraversableOnce$class`

[2014-08-28 03:39] omidb opened #16 "Version update for scala 2.11.1"
Hi,
would you please make it available for Scala 2.11 on maven repository?

Thanks for the good library

[2015-01-03 02:35] matanster commented on #8
@hsyed care to share the relevant code?

[2015-01-03 13:42] matanster opened #17 "edu.arizona.sista.learning.TestSVMRankingClassifier errors upon assembly"
I am not sure this is a realy issue (maybe only a local setup issue), but I have tried to build from trunk today (sbt `compile` and `assembly`, after integrating [sbt-assembly 0.11.2](https://github.com/sbt/sbt-assembly/tree/0.11.2)), and got some errors:

[code]

Does the SVM require a certain minimum of free memory or any other special requirement? I did not notice any specific error other than

[2015-01-03 13:51] matanster opened #18 "Upgrade to CoreNLP 3.5"
[Stanford CoreNLP 3.5](http://nlp.stanford.edu/software/corenlp.shtml) has brought about some novelties, and upgraded to Java 8 (see [Upgrade to Java 1.8; add annotators for dependency parsing, relation extraction](http://nlp.stanford.edu/software/corenlp.shtml#History)). https://mailman.stanford.edu/pipermail/java-nlp-user/2014-October/006457.html provides some upgrade advice and more discussion

[2015-01-03 16:17] MihaiSurdeanu commented on #17
I suspect this is an installation issue for svm_rank. Can you please look at the error log? I would put my money on not having the sum_rank directory in your $PATH.
All tests should pass.

[2015-01-03 16:19] MihaiSurdeanu commented on #18
Two comments:
1. We already have a very stable dependency parser included in FastNLPProcessor, so the new features in 3.5 are not extremely exciting for us.
2. We are in the process of upgrading to newer Java, but some concurrency unit tests fail with Java 1.7. We are trying to fix these before upgrading.

[2015-01-03 16:34] matanster commented on #17
Thanks, I guess that's the problem. I only added the BANNER variable to the environment.

[2015-01-03 16:41] MihaiSurdeanu commented on #17
Good!
And yes, that is an ugly dependency... We'll try to fix it, but it's tricky, as the code who needs it is distributed only in binary form.

[2015-01-03 16:41] #17 closed

[2015-01-03 22:46] matanster opened #19 "Question about runtime setup please"
Hi Mihai,

I seem to really suck at guessing the sbt configuration for safely running the sample code at https://github.com/sistanlp/processors#annotating-entire-documents within my own application. I made my way through adding the necessary imports, after having added the maven dependency in my build.sbt, and hoped for good. I get the below exception for the line `val doc = proc.annotate("John Sm

[2015-01-04 03:10] MihaiSurdeanu commented on #19
Hi,

Most of the code works with Java 7 now, with the exception of some concurrency unit tests. If multi-threading is important for your application, I suggest staying with Java 6 byte code. This can be enforced even when the underlying JVM is Java 7, with these sbt options:
  scalacOptions += "-target:jvm-1.6"
  javacOptions ++= Seq("-source", "1.6", "-target", "1.6")
All our unit tests pass with

[2015-02-01 01:43] #14 closed

[2015-02-28 19:49] zoharsacks opened #20 "Version 5.0 is not in maven central"
1. Adding the dependencies to pom file.
2. Running maven->Reinport in intellj IDEA.

Expected - dependencies are recognized.
Actual - maven reports error on version 5.0.

NOTE: I have checked versions at  [maven central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22edu.arizona.sista%22%20AND%20a%3A%22processors%22) latest version is 3.3.

[2015-02-28 20:52] MihaiSurdeanu commented on #20
Hi Zohar,

processors is now released following sbt principles, which means adding 2.11 as a suffix to the artifact name. See:

http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22edu.arizona.sista%22%20AND%20a%3A%22processors_2.11%22

[2015-02-28 22:14] zoharsacks commented on #20
Hi Mihai,

Thank you for the swift response, now it works (YEY...)
This should be mentioned in the documentation so I have added it and submitted a pull request

[2015-02-28 22:14] #20 closed

[2015-03-02 00:21] brahmbhattspandan opened #22 "Issue in Dependency Resolution."
I am trying to download SBT dependencies by adding following lines in build.sbt

libraryDependencies ++= Seq(
    "edu.arizona.sista" %% "processors" % "5.0",
    "edu.arizona.sista" %% "processors" % "5.0" classifier "models",
)

However this depends internally on following dependencies

"edu.arizona.sista" %% "banner" % "1.0-SNAPSHOT",
 "edu.arizona.sista" %% "banner" % "1.0-SNAPSHOT" classifier

[2015-03-02 00:57] MihaiSurdeanu commented on #22
Yes, this is ugly. We had no choice because banner distributes some of its jars only as binary.

In any case, we are working on replacing banner with our own tool for 5.1, which hopefully will be released within a week. Meanwhile, if you want to use 5.0, please install our fork of banner first:
https://github.com/sistanlp/banner

[2015-03-02 17:11] MihaiSurdeanu commented on #22
I just released 5.1, which replaces Banner with our own tool.
We now only use pure maven dependencies.

[2015-03-02 17:11] #22 closed

[2015-03-02 19:45] brahmbhattspandan commented on #22
Yes its downloading the dependency perfectly fine.

However there is another issue (not sure if thats from my side or the library)

On downloading the dependency and running the code provided in your readme file, the code gets stuck loading the RST Parser

[main] DEBUG e.a.s.discourse.rstparser.RSTParser - Loading RST parsing model from: edu/arizona/sista/discourse/rstparser/model.const.rst.gz

I

[2015-03-02 19:53] hickst commented on #22
Hi brahmbhattspandan,

The parsing model is by-far the largest component of the whole library and requires a good bit of memory to run. Please allocate at least 4G for your Java heap space (6G is better). I regularly run with Java8 JAVA_OPTS set to '-server -Xms1024m -Xmx6144m'.
   regards,
        -tom hicks SISTA Research Programmer

[2015-03-02 20:09] brahmbhattspandan commented on #22
Worked perfectly fine.  Thanks for the prompt resolution Mihai Surdeanu and Tom Hicks.

Just a suggestion if you can put this heap size recommendation in readme file. Beginners like me would find it really helpful.

[2015-04-05 23:16] omidb commented on #16
do you guys have dependency to specific lib that you cannot have both 2.10.x and 2.11.x support?

[2015-04-06 16:56] MihaiSurdeanu commented on #16
No library dependencies. But we had to modify a little bit of our code, support for which changed in 2.11, which is why we support only 2.11 now.

[2015-06-13 14:18] danebell opened #25 ""damage" matched as entity"
There are a lot of damage-binding proteins and other entities with "damage" in their name, but I don't think "damage" should be matched as it is being, e.g. in "Two of these sites ( Ser966 and Ser957 in Smc1 ) have been shown to be phosphorylated by the ATM kinase in response to DNA damage."

[2015-06-29 03:45] adam-faulkner opened #26 "example code can't be compiled"
I get the following error when I try to compile your example code:

[code]
Fix?

[2015-06-29 08:53] MihaiSurdeanu commented on #26
Can you please send your complete class and build.sbt file?
Alternatively, can you try to build your example based on edu.arizona.sista.processors.ProcessorExample?

[2015-06-29 17:19] marcovzla commented on #26
Seems like you are using java. The method you are trying to call has a second argument that defaults to `false`:
[code]

Java doesn't seem to recognize the default argument. Can you try setting it explicitly?
[code]

[2015-06-29 18:01] adam-faulkner commented on #26
@marcovzla  That did it! Thanks :-)

[2015-06-29 18:02] marcovzla commented on #26
@adam-faulkner Great!
@MihaiSurdeanu maybe we should include a java example in the readme for issues like this?

[2015-06-29 18:16] hickst commented on #26
There is a java example already. It is probably what Mr. Faulkner was using:

https://github.com/sistanlp/processors#using-processors-from-java

[2015-06-29 18:31] marcovzla commented on #26
I see, I will add the missing argument.

[2015-06-29 18:33] #26 closed

[2015-08-06 16:54] versusvoid opened #27 "java.lang.NoSuchMethodError, scala 2.11.4, processors 5.3"
Basic app:
[code]
fails with:
[code]

build.sbt:
[code]

Tried to redownload models in case they were corrupted - no luck.

[2015-08-06 18:39] MihaiSurdeanu commented on #27
Hi,
This code works when it is part of processors. I suspect that, for some reason I don't really understand, your code uses an incorrect version of Stanford CoreNLP. Can you please make sure you use 3.5.1? Maybe trying clearing your .ivy2 cache to see what version is downloaded?
Thanks,
Mihai

[2015-08-06 19:29] versusvoid commented on #27
Oh, stupid me, separate old 3.4 jar was lying on classpath along with 3.5.1 from ivy.
Thanks a lot :smiley:

[2015-08-06 19:29] #27 closed

[2015-08-08 01:27] omidb opened #28 "Multi-label classifier"
Hi,

I wanted to ask if your earning package has any support for multi-label classification, if yes, how can I use it? i couldn't find any example.

thanks,

[2015-08-08 14:24] MihaiSurdeanu commented on #28
Hi Omid,

All the classifiers implementing the edu.arizona.sista.learning.Classifier trait support multi-label classification by default. The method scoresOf returns the scores (usually probabilities) for all the labels.
See for example, edu.arizona.sista.learning.TestLiblinearClassifier, TestPerceptronClassifier, or TestRandomForestClassifier.

Mihai

[2015-08-08 17:40] omidb commented on #28
@MihaiSurdeanu I thought these are Multi-Class not Multi-Label, so if they are multi-label how can I assign multiple label into classifier? will this work:
[code]

[2015-08-08 18:47] MihaiSurdeanu commented on #28
I see what you mean. In my hurry to reply, I thought you meant multi-class.
No, we do not support multi-label classification yet. You can check my other project, which is designed around multi-label classification:
http://nlp.stanford.edu/software/mimlre.shtml

I plan to include this in processors at some point. But, for now, it is a separate Java project.
Mihai

[2015-08-08 23:10] omidb commented on #28
@MihaiSurdeanu thanks! Including that would be great!

[2015-08-09 01:53] #28 closed

[2015-08-19 09:19] sbuljat opened #29 "Question: Do you support QuoteAnnotator from CoreNLP or something similar?"

[2015-08-19 15:47] MihaiSurdeanu commented on #29
Not yet. Sorry.
Mihai

[2015-08-19 15:57] sbuljat commented on #29
Thanks.

[2015-08-19 15:57] #29 closed

[2015-09-11 17:36] bgyori opened #30 "unicode_to_ascii.tsv"
I am getting a error from BioNLPPreProcessor:
[code]
indeed the file unicode_to_ascii.tsv is not on that path. Should this file be checked into the repo or am I missing something?

[2015-09-11 19:08] MihaiSurdeanu commented on #30
Hi Ben,
The file is there, see:
https://github.com/clulab/processors/blob/master/models/src/main/resources/edu/arizona/sista/processors/bionlp/unicode_to_ascii.tsv

Maybe you need to do a git pull, to bring your code up to date?
Or your clone is corrupted, and you need to git clone again?
Another possibility: are you seeing this error when you run the reach project? If so, you have to make sure yo

[2015-09-11 19:16] bgyori commented on #30
Hi MIhai, thanks, your comment helped to figure out that the problem was in my version of the models jar file and now that I corrected that it works fine!

[2015-09-11 19:16] #30 closed

[2015-09-11 19:17] MihaiSurdeanu commented on #30
Cool.

Btw, we will have official and stable releases of processors and reach soon, which should simplify things a bit.

[2015-09-24 23:08] vito-c commented on #16
Hi is there a 2.11 repo yet?

[2015-09-25 02:22] MihaiSurdeanu commented on #16
Hi,
We support 2.11 exclusively for the past several versions now...
Mihai

On Thu, Sep 24, 2015 at 4:08 PM, vito-c <notifications@github.com> wrote:

[2015-10-09 20:35] scalame commented on #8
was this issue ever resolved?

[2015-10-09 21:10] MihaiSurdeanu commented on #8
I was not able to replicate this behavior. My runtimes are comparable to CoreNLP.
Mihai

[2015-10-26 11:12] vrcod opened #31 "Caseless parsing model"
Can this library be used for parsing tweets? I'm mostly interested in extracting locations, dates, names and if possible more. There seems to be a relevant question on Stanford NLP FAQ: http://nlp.stanford.edu/software/parser-faq.shtml#ca

[2015-10-26 16:14] MihaiSurdeanu commented on #31
Not really. The Stanford NER and parser were trained on "regular" text coming from news and scientific articles. For parsing tweets, take a look at: http://www.ark.cs.cmu.edu/TweetNLP/

[2015-10-26 16:14] #31 closed

[2015-10-31 09:23] Dveim opened #32 "GC overhead limit exceeded"
Hi,

Thanks for the library, it is really great and useful. However, sometime I get the exception from title.
It happens when I use `new CoreNLPProcessor(withDiscourse = true)`. Without this flag, memory consuming is not so big, but still suspicious.

So, I cannot run `withDiscourse` even on my working station, and on production (we use several cheap AWS instances) I occasionally get OOM even with

[2015-10-31 19:58] MihaiSurdeanu commented on #32
One option to save some memory is to create CoreNLPProcessor with internStrings = false. By default, our processors "intern" Java Strings, which saves memory when you process long documents, BUT it keeps memory growing if you keep your program running for a long time.

In any case, unfortunately this package needs a good chunk of RAM to run. I recommend at least 3G. 6G  is sufficient in my experie

[2015-10-31 20:54] Dveim commented on #32
Thanks for answer. Seems like `internStrings = false` helps. Also I increased RAM limit in AWS, so now OOM does not happen.

[2015-10-31 20:54] #32 closed

[2015-11-27 23:34] omidb opened #33 "CoreNLP sentiment analyser"
Hi, do you have the support of CoreNLP sentiment which is in >3.3.0 version?

[2015-11-28 03:59] MihaiSurdeanu commented on #33
Not yet. Given our limited resources, we are unlikely to support this soon. But, we would welcome third-party contributions, if you want to add support for it :)

[2015-11-28 03:59] #33 closed

[2016-02-09 11:04] qiuwei opened #34 "String intern"
Hi,
In the Reame, it's mentioned that

However, in the recent release 5.8.0, I see

What's the reasoning behind it?

[2016-02-09 15:39] MihaiSurdeanu commented on #34
One drawback of interning strings is that that cache continues to grow for the lifetime of the program. The most common usage for BioNLPProcessor (for us, at least) is within the Reach project where we process hundreds of thousands of papers in the same process. In this setup, the interning memory becomes too big.

Nevertheless, if you prefer to continue to intern strings, you can enable interning

[2016-02-09 15:39] #34 closed

[2016-02-18 04:42] myedibleenso opened #36 "Add chunks to ProcessorExample"
[ProcessorExample](https://github.com/clulab/processors/blob/299cccba73df83ef7033fee43da2a185a21af395/src/main/scala/edu/arizona/sista/processors/ProcessorExample.scala#L44-L48) should be updated to display chunks, if present.

[2016-02-18 23:38] #36 closed

[2016-02-23 09:02] myedibleenso commented on #13
Haven't heard anything on this since Jun 11, 2014.  I'm going to close this, but we can always reopen if needed...

[2016-02-23 09:02] #13 closed

[2016-02-23 09:07] myedibleenso commented on #15
There hasn't been a response since Jul 8, 2014.  I'm going to close this issue, but we can reopen again if needed.  I don't think this was the issue here, but changes to `Document` (infrequent though they may be) can break serialization across versions.

[2016-02-23 09:07] #15 closed

[2016-02-23 09:08] #16 closed

[2016-02-23 22:32] danebell commented on #25
I've prepared an exhaustive list of words that overlap between capitalized protein names and English words. This isn't filtered for word frequency, so use with care -- _aah_ is unlikely to appear in a biomedical text except as a protein name, but that might not be the case for _cat_, _ape_, _chimp_, etc.
[overlap.txt](https://github.com/clulab/processors/files/143556/overlap.txt)

[2016-02-24 02:27] MihaiSurdeanu commented on #25
Hi @danebell: I would like to add this list to bioresources and use it to filter out false positives in the rule-based NER. But, at this point, it seems too over-inclusive. Can you please do another pass over it, and keep just words that are likely to appear as non-proteins in bio texts? For example, I would remove the first 9 entries (they are likely to be only used as proteins), but keep ACT, AN

[2016-02-24 18:03] danebell commented on #25
Yes, I can definitely do this, but there are over 1000 entries, so if it's okay, I will wait for at least a week to do so.

[2016-02-24 18:06] MihaiSurdeanu commented on #25
Agreed, it can wait. I suspect that less than 10% of this are actually
relevant in this list (the rest are valid protein names that are unlikely
to be used otherwise in bio texts).

On Wed, Feb 24, 2016 at 11:03 AM, Dane Bell <notifications@github.com>
wrote:

[2016-02-24 23:04] MihaiSurdeanu commented on #19
This is fixed?
We can open it again, if not.

[2016-02-24 23:04] #19 closed

[2016-02-24 23:05] MihaiSurdeanu commented on #18
Done.

[2016-02-24 23:05] #18 closed

[2016-02-24 23:05] MihaiSurdeanu commented on #11
Was this fixed? Closing for now. We can re-open if needed.

[2016-02-24 23:05] #11 closed

[2016-02-24 23:06] MihaiSurdeanu commented on #8
Closing for now, because we can't replicate it. We can reopen if needed.

[2016-02-24 23:06] #8 closed

[2016-03-01 20:22] bsharpataz opened #43 "Recursion error in DependecyUtils"
I found an error when using the DependencyUtils.  It seems like it's getting stuck in a loop in the dependency graph and the recursion blows the stack.  This is a snippet of the stack trace:

[code]

[2016-03-01 20:27] MihaiSurdeanu commented on #43
Is this caused by some cycle in the dependency graph?
Becky, can you please show us how to replicate this? Is there a test case that can be made, which would fail.

[2016-03-01 23:55] bsharpataz commented on #43
Yes - using Agiga.  In the file I am using (/data/nlp/corpora/agiga/data/xml/afp_eng_199405.xml.gz), sentence 127 ("The evacuees who arrived at Lanarca airport later boarded a British Airways airliner bound for Gatwick airport , in southern Britain .") has the following dependency parse.
Note the loop in the outgoing deps between tokens 1 and 3:
scala> doc.sentences(127).words
res1: Array[String]

[2016-03-02 20:22] bsharpataz commented on #43
ps - if you are waiting for me to do more (i.e. make a test) please let me know and I'll try to figure out how to do that

[2016-03-02 22:47] MihaiSurdeanu commented on #43
Yes, can you please add a unit test for this in processors (in a separate
branch), which would fail on that sentence?
I'd like to see the exact code you use.

On Wed, Mar 2, 2016 at 1:22 PM, bsharpataz <notifications@github.com> wrote:

[2016-03-03 18:58] bsharpataz commented on #43
I added a test for this issue.  It currently fails.  It's at branch issue43

[2016-03-03 20:21] bsharpataz commented on #43
Also, in the same sentence, the same code, there is also an infinite loop (in the Interval(5,7)). It doesn't throw a stack overflow error, it seems like an infinite loop, and I don't know how to write tests for infinite loops.

[2016-03-04 19:27] MihaiSurdeanu commented on #43
@marcovzla is going to look at this today.

[2016-03-05 21:44] #43 closed

[2016-03-18 17:43] danebell opened #47 "Global case (in)sensitivity"
In an Odin application where case sensitivity doesn't matter, it would be convenient to have some global variable (or at least rule-level variable) to turn off case sensitivity rather than having to enter `(?i)` at the start of every regex. I think this ought to apply to quoted strings, too.

[2016-03-21 14:24] ChetanBhasin opened #48 "Example Scala code for v5.8.1 keeps throwing OutOfMemoryError"
The example code from the README file for Scala keeps throwing OutOfMemoryError with default SBT parameters.

I remember that I have previously used this library without making any changes to JVM parameters and it works just fine. This is the first time, and with the current version, that I have noticed something like this.

Any idea why this might be happening?

[2016-03-21 14:25] ChetanBhasin commented on #48
More information on above: the error happens with the provided model for both CoreNLPParser and FastNLPParser.

[2016-03-21 14:42] MihaiSurdeanu commented on #48
@marcovzla Please remind me why we commented out the javaOptions in build.sbt? I know we had a good reason, but I don't recall what it was.

[2016-03-21 16:18] marcovzla commented on #48
We had issues with travis, so we stopped forking the jvm.
See https://github.com/travis-ci/travis-ci/issues/3775

We are now using `.sbtopts` to set the memory, but that file is ignored in windows.
Could that be the issue?

[2016-03-22 07:39] ChetanBhasin commented on #48
@MihaiSurdeanu Does this mean that such behavior is expected under default parameters and that one should provide more memory?

This is strange because the examples `odin-examples` repository work just fine under default parameters even while using the same version of the library.

[2016-03-22 08:07] myedibleenso commented on #48
@ChetanBhasin, `odin-examples` is actually using an outdated version of `processors` (5.7.0):

https://github.com/clulab/odin-examples/blob/d9f39a1501bfa27d63675282dfd38f7ad60501c6/build.sbt#L8-L9

That was before we started using Travis...

[2016-03-22 08:15] myedibleenso commented on #47
There's actually an old discussion about this in a `reach` issue: https://github.com/clulab/reach/issues/11

Do you have something different in mind?

[2016-03-22 08:38] ChetanBhasin commented on #48
@myedibleenso I just tried updating the version in `odin-examples` to 5.8.1 without making any change to the code it still looks fine.

Jumping inside REPL and trying out the example code, however, fails again.

Here, I'd paste the original input and output from the console launched using `sbt console`:

[code]

[2016-03-22 08:49] ChetanBhasin commented on #48
Please note that the above code works very well if memory is increased (i.e, SBT launched with `sbt -J-Xmx4G -J-Xms4G`).

[2016-03-22 13:51] MihaiSurdeanu commented on #48
Is this happening because of @marcovzla said: are you on Windows?
We now configure sbt through .sbtopts, which seems to be ignored on Windows.

[2016-03-22 14:42] ChetanBhasin commented on #48
@MihaiSurdeanu No, running this on OS X. I'll try it out on CentOS now.

[2016-03-22 14:45] ChetanBhasin commented on #48
@MihaiSurdeanu

Update: Running across same error using CentOS.

[2016-03-22 14:46] MihaiSurdeanu commented on #48
Hmm. @myedibleenso, @marcovzla: any idea what causes this? Can you replicate it?

[2016-03-22 14:49] ChetanBhasin commented on #48
If this cannot be reproduced, we can just close the issue and I can update you if I find any reason for this in future.

Meanwhile, it's possible on my end to just override memory limit using flags and have the applications run.

[2016-03-22 16:12] danebell commented on #47
Sorry, this is just a duplicate. I forgot that that issue existed and expected to find it in processors.

[2016-03-22 16:12] #47 closed

[2016-04-01 19:46] danebell opened #49 "Let BioNLPTokenizerPostProcessor mutant detection match Reach rules"
[Reach](http://github.com/clulab/reach) has had its [mutant detection rules](https://github.com/clulab/reach/blob/master/src/main/resources/edu/arizona/sista/reach/biogrammar/modifications/mutants.yml) improved. The [BioNLPTokenizerPostProcessor](https://github.com/clulab/processors/blob/dc8126b5b6a6a3aed98e8b565b0c5f581292778b/src/main/scala/edu/arizona/sista/processors/bionlp/BioNLPTokenizerPost

[2016-04-07 18:25] aolney opened #50 "Undocumented dependency on SVM-rank"
Some tests fail without this dependency. Simply installing SVM-rank binaries to /usr/local/bin solves the problem:

https://www.cs.cornell.edu/people/tj/svm_light/svm_rank.html

[2016-04-07 18:31] aolney opened #51 "Add SBT Assembly"
In certain applications it might be nice to have a single jar with all code and dependencies. This can be easily accomplished using [sbt-assembly](https://github.com/sbt/sbt-assembly).

In `project` create new file `assembly.sbt` with contents `addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "0.14.2")` (changing version as appropriate).

Then run `sbt assembly` to create the jar.

To avoid running

[2016-04-07 23:04] MihaiSurdeanu commented on #50
Thanks Andrew!

We addressed this issue a while ago, but forgot to document. Please see the new section on External Dependencies in the README.

[2016-04-07 23:04] #50 closed

[2016-04-10 17:30] aolney opened #52 "Integrating SRL"
I'm in the middle of adding SRL annotations from the LTH SRL parser when I noticed some existing code, particularly Reader.scala in swirl2, that might be suited to this.

Is Reader.scala ready for this? I'm particularly interested in combining this information with the discourse tree.

[2016-04-10 18:44] MihaiSurdeanu commented on #52
Yes, it is. It reads a CoNLL formatted file and converts into a DirectedGraph representation of semantic roles.

I am in the process of adding an in-house SRL package (swirl2), as well.
However, the LTH parser is very good, so I would welcome the addition.

[2016-04-10 18:44] #52 closed

[2016-04-10 18:48] MihaiSurdeanu commented on #51
I attempted this, but it seems the plugin is not found:

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: com.eed3si9n#sbt-assembly;0.14.2: not found
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn]
[warn] 	Note: Some unresolved dependencies have extra attribu

[2016-04-10 21:04] aolney commented on #52
There seems to be a discrepancy between the output LTH produces and Reader.scala expects. Specifically there is an assert that the number of columns >= 14, but LTH can be less.

Here's an example with one predicate; LTH has 12 columns:

[code]

Here's an example with no predicates (according to LTH); it has 11 columns:

[code]

[2016-04-11 00:58] aolney commented on #52
I can confirm that tweaking some of the indices solved the problem. Below is some code that shows this. Basically I tweaked the Reader class so that SRL could be added to the doc created by an existing processor.

The way I'm calling the code is like this:

[code]

Here's the SRLAnnotator class:

[code]

[2016-04-11 02:54] MihaiSurdeanu commented on #52
Sounds almost good. Additionally, you'll have to make sure that the tokenization in the CoNLL frames aligns with the tokenization in the corresponding Processor. In general, it does not. For example, for CoNLL, we tokenized around dashes, so "student-taught course" is actually 4 tokens. The CoreNLP breaks this into 2 tokens.

For the record, the Reader class was designed for the CoNLL 2008 format.

[2016-04-11 15:36] aolney commented on #51
I think that's an SBT version problem. This method, though simple, requires a recent version of SBT, **sbt 0.13.6+**

I'm using 0.13.11 in my working build. There's a [different process](https://github.com/sbt/sbt-assembly) using older versions, but I haven't tried it.

[2016-04-11 16:31] aolney commented on #52
Thanks :) There are 3 versions of LTH code I think:
- The [2008 CoNLL] (http://nlp.cs.lth.se/software/semantic_parsing%3A_propbank_nombank_frames/)
- The 2009 -- I assume [MATE ](https://code.google.com/archive/p/mate-tools/)
- [KOSHIK] (https://github.com/peterexner/KOSHIK)

I'm using the 2008, and it seems to be working. I will closely check the hyphenation issue.

[2016-04-14 23:55] hickst opened #53 "Bio verbs marked as adjectives"
Some of our bio-related verbs are being marked as adjectives, causing problems later in Reach.

[2016-04-15 01:32] hickst commented on #53
Fixed by pull request #54.

[2016-04-15 01:32] #53 closed

[2016-05-13 09:18] JavieerCG opened #56 "Load different languages"
How can I run it with the Spanish model that provides the Stanford CoreNLP?
Is it possible? Because it automatically load the English one.

Thanks

[2016-05-13 14:30] MihaiSurdeanu commented on #56
Sorry, we don't support other languages for now.

[2016-05-13 14:30] #56 closed

[2016-05-27 12:57] nicolopignarocket opened #57 "version 5.8.5 not available on Maven Central"
If you [search for this library](http://search.maven.org/#search%7Cga%7C1%7Corg.clulab%20processors_2.11) in Maven Central, the latest pushed release is 5.8.4.
In the README installation instructions, though, 5.8.5 is used as current version.

Could you please push 5.8.5 to Maven Central as well?

[2016-05-27 15:23] MihaiSurdeanu commented on #57
Sorry, this is my fault. I updated the version number too soon.
Please use 5.8.4 for now. I need to add a few more things to 5.8.5 before release.

[2016-05-27 15:23] #57 closed

[2016-05-28 22:04] hickst opened #58 "NER stop list not stopping words which are not entirely lowercased"
NER stop list is missing words which are first-letter-uppercase (a problem) and all caps (probably *not* a problem).

[2016-05-28 22:11] hickst commented on #58
In discussion, I think we agreed that:
* We currently have only a very small number of stop words and we should be conservative about adding to the stop list; adding only critical conflicting words.
* The current stop words have an overwhelming probability of being non-entities anyway.
We could, therefore, allow stopping lowercase and initial capital words without missing too much.

[2016-05-29 20:44] MihaiSurdeanu commented on #58
Solved.

[2016-05-29 20:44] #58 closed

[2016-06-03 20:48] myedibleenso opened #59 "5.8.5 has not been published, but README lists it under dep example"
@MihaiSurdeanu, did someone try to release 5.8.5 already?  It isn't on Maven, but the README lists it under the dependency example.  At least one new user was confused by this...

[2016-06-03 20:52] MihaiSurdeanu commented on #59
Fixed by reverting the README.
5.8.5 will be released in a few days.

[2016-06-03 20:52] #59 closed

[2016-06-10 15:32] hickst opened #60 "NER has no way to manually specify a resolution for label ambiguities"
The NER assigns labels based on an ordered set of categories. If the same text string occurs in two (or more) input files of different categories, there is apparently no way to specify the desired order of labeling, since the category hierarchy is fixed.

For example: the MITRE model identifies 'p110' and 'p85' as protein families but these strings are really nicknames and do not occur in the PFAM

[2016-06-10 15:37] hickst opened #61 "Need to override NER identifications"
We often know how a given entity should be labeled. Assignments from knowledge sources should be able to override the NER's default classifications.

For example: the CRF seems to be responsible for identifying 'H-RAS' and 'K-RAS' (but not 'HRAS' or 'KRAS') as protein families even though our knowledge sources list these exclusively as proteins.

[2016-06-10 21:48] MihaiSurdeanu commented on #60
@hickst: this issue overlaps with the global NER that @marcovzla is implementing. Please add these two examples to the auxiliary KB as protein families. @marcovzla's algorithm will disambiguate between families and proteins (even if they are labeled first as proteins).

[2016-06-10 21:48] #60 closed

[2016-06-12 19:16] MihaiSurdeanu commented on #25
closed by the addition of the NER stop list in bioresources 1.1.9.

[2016-06-12 19:16] #25 closed

[2016-06-15 23:42] myedibleenso opened #66 "gazetteer matcher for Odin"
We'd like to add an efficient matcher for terms in a gazetteer.

## Notes
- entries in the gazetteer may be single or multi-token
- need a matcher for untokenized text
- need a matcher for tokenized text

[2016-06-15 23:44] myedibleenso opened #67 "Complete testing of Odin matcher for distributional semantic similarity"
For some time now the semantic similarity matcher using word vectors has been basically complete.  We need to add some tests and get this feature merged.

# Notes
- change to `similarityScore` method
- add `similarTo` method with some default score
- add tests

[2016-06-15 23:55] hickst commented on #66
Isn't a gazetteer pretty much what the KB lookup tables and the lookup routines are?

[2016-06-15 23:56] myedibleenso commented on #48
Hi, @ChetanBhasin.  Thanks for pointing this out, and I'm sorry for such a late response.

The `odin-examples` project appears to be missing an `.sbtopts`, so the error you reported may have been due to changes in `processors` (ex. changes to a bionlp dependency such as [`bioresources`](https://github.com/clulab/bioresources)) that ended up requiring more memory than previous versions.

I'm going

[2016-06-15 23:56] #48 closed

[2016-06-16 00:09] myedibleenso commented on #66
What we're aiming for is something more like any entry in file X would be assigned the label Y.   So we could detect everything in our Uniprot KB and assign it the label Protein, but grounding those would have to be something separate.

From the gazetteer we'd build an efficient state machine for matching.

We haven't discussed the syntax this would use, but perhaps something like this:
[code]

wh

[2016-06-16 00:13] myedibleenso opened #68 "Redesign odin.Mention to properly address cross-sentence cases"
`odin.Mention` does a poor job of handling cross-sentence cases.  While it requires some careful thought, we should plan on rewriting this class to better handle cross-sentence mentions (important for coref among other things).

[2016-06-16 03:01] hickst commented on #66
Nice example. But, if you're really looking up Proteins, Gene, Families, etc. then it's worth pointing out that these are already in memory in an efficient data structure (a Map). So an initial quick-and-dirty gazetteer function could be an existance test for the lookup value in the key set of the appropriate KB.

If you will create a more general purpose gazetteer and all you need is an existance

[2016-06-16 03:20] myedibleenso commented on #66
This issue is for a general purpose enhancement to Odin (gazetteer-based matchers).  It may never be used in REACH.

As far as the implementation, we were considering a trie but we are still undecided given some of our requirements.  Thanks for the suggestion though.

[2016-06-16 07:24] ChetanBhasin commented on #48
@myedibleenso I see, thanks. We did get it to work by explicitly passing the options. Thanks for looking into this.

[2016-06-16 10:06] MihaiSurdeanu commented on #66
The RuleNER already uses a trie that I optimized for our purposes. See
e.a.s.struct.HashTrie.
And yes, it would be nice to have Odin support for this.

On Thu, Jun 16, 2016 at 6:20 AM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-06-16 16:36] marcovzla commented on #66
Maybe we should explore algorithms like Aho–Corasick, Commentz-Walter, and Rabin–Karp that are designed for multiple string searching. It may be worthwhile since we will be doing this a lot.

There is also http://www.tgries.de/agrep/doc/agrep2ps.zip

[2016-06-16 17:02] hickst commented on #66
From Gus's example I assumed that we were just doing a lookup of a single literal string. If that's the case, the Trie isn't doing multiple string matching and should be very fast. If I remember right, worst case on the order of O(n) where n is the string length and on average something like logK(avg string length) where K is the average branching factor (related to the size of the character set i

[2016-06-16 17:18] marcovzla commented on #66
The idea is to search for all occurrence of all the patterns in the gazetteer inside the document.
The same gazetteer would be applied over multiple documents. This has been studied a lot and I believe we should at least have a reason to reject those algorithms. I believe that Aho-Corasick uses a trie internally, but there is more to it than just that. And if we settle with just using a trie, woul

[2016-06-16 17:20] marcovzla commented on #66
dawg is more commonly referred to as dafsa: https://en.wikipedia.org/wiki/Deterministic_acyclic_finite_state_automaton

[2016-06-16 17:21] hickst commented on #66
Thanks for the clarification: I misunderstood the intention of the new gazetteer as a simple lookup. I see now why those other algorithms would be relevant and important to investigate.

[2016-06-16 17:25] hickst commented on #66
Re DAWG: yes, that makes sense:
"By allowing the same vertices to be reached by multiple paths, a DAFSA may use significantly fewer vertices than the strongly related trie data structure."

[2016-06-16 17:34] marcovzla commented on #66
This is a nice algorithm for constructing the DAFSA incrementally.
http://www.aclweb.org/anthology/J00-1002

[2016-06-22 11:41] adrianR2 opened #69 "Question: is it possible to extract triples?"
Hello,
Is it possible to extract triples, (subject, verb, object)? If so, Is there any example available?
Thank you. Adrian

[2016-06-24 10:50] MihaiSurdeanu commented on #69
Yes, this should be trivial. You can modify ProcessorExample for this. Your code should go after this line:

https://github.com/clulab/processors/blob/master/src/main/scala/org/clulab/processors/ProcessorExample.scala#L51

There, you have access to the syntactic dependencies for a given sentence. What you want is to find pairs of dependencies that look like this:

(head = some verb, dependency = n

[2016-06-24 10:50] #69 closed

[2016-06-24 20:06] hickst commented on #61
Attached is a candidate sample file which could be used to implement a NER override and auxiliary grounding capability. It is based on the NMZ auxiliary spreadsheet of 1/11/16 merged and updated with the latest (6/9/16) NMZ spreadsheet model, after conversion of adhoc NMZ types to Reach types.

Note: the file extension should be `.tsv` but GitHub doesn't support uploads with this extension.
[NMZ-N

[2016-06-24 20:47] adrianR2 commented on #69
Thank you!

[2016-06-29 21:57] hickst opened #70 "Tokenizer is turning family names into conjunctions"
The names of small Protein Family are often the names of the individual proteins separated by a slash (e.g. MEK1/MEK3 or MAPK Erk1/3). Unfortunately, the BioNLPTokenizerPostProcessor transforms this syntax into a conjunction of names (e.g. "MEK1 and MEK3") which are then incorrectly intrepreted as several individual proteins.

[2016-06-29 21:59] hickst commented on #70
A failing test which brought this issue to light:
   "B-Raf phosphorylates MEK1 and MEK2 on Ser217 and Ser221"
MEK1 and MEK2 here should be proteins but the conjuction is NER-labeled as a protein family.

[2016-06-30 02:20] hickst commented on #61
See additional examples in issue #60.

[2016-07-01 10:03] MihaiSurdeanu commented on #61
@hickst: I added override capability to the bio NER in processors in the branch "ner-override". I also added your NMZ-NER-aux_160624.tsv.gz to bioresources. Can you please do the following:

1. We should merge the two files you created: NMZ-NER... and NMZ-merged into a single one. There is no reason for two. Having both there is a recipe for disaster, when we update one but forget the other. I cur

[2016-07-05 21:08] aolney commented on #52
I'm specifically looking at

https://github.com/microth/mateplus

at this point

[2016-07-06 09:22] MihaiSurdeanu commented on #52
Hi Andrew,
Mate+ is a solid tool. It would be great to have it seamlessly integrated in processors. But, at this point, we have limited resources for the job. Maybe I'll get a MS students to help, but it's not guaranteed. If you have already integrated it, and are willing to contribute it, it would be awesome.
Mihai

[2016-07-06 19:07] hickst commented on #70
Here are some of the entries from the NER-Grounding-Override.tsv which include slashes.
EGFR/ERBB	uaz	UAZ-PF-73	Family
MAPK Erk1/3	uaz	UAZ-PF-133	Family
MAPK1/3	uaz	UAZ-PF-133	Family
MAPK1/MAPK3	uaz	UAZ-PF-133	Family
MAPK3/MAPK1	uaz	UAZ-PF-133	Family
MEK1/2	uaz	UAZ-PF-132	Family
MEK1/MEK2	uaz	UAZ-PF-132	Family
NRG1/2	uaz	UAZ-PF-151	Family
NRG3/4	uaz	UAZ-PF-152	Family
p160/SRC	uaz	UAZ-PF-144	Family

[2016-07-07 09:54] MihaiSurdeanu commented on #70
@hickst: this is now fixed and pushed in the ner-override branch (together with a few other tokenization errors). If you'd like to adjust the KBs used by the tokenizer, adjust org.clulab.processors.bionlp.ner.KBLoader.TOKENIZATION_KBS.

I added unit tests. All tests pass.

[2016-07-07 09:54] #70 closed

[2016-07-07 15:10] aolney commented on #52
Happy to contribute. I'll do a fork and submit a PR when I get something working

[2016-07-07 15:14] MihaiSurdeanu commented on #52
Thanks!

On Thu, Jul 7, 2016 at 6:10 PM, Andrew M Olney <notifications@github.com>
wrote:

[2016-07-12 04:27] hickst opened #77 "Amino acid abbreviations not being parsed as nouns"
Two amino acid abbreviations (out of 20) clash with words: 'his' is parsed as a possessive pronoun and 'pro' as a foreign word. This means that they do not get recognized as entities and just 'disappear' from many sentences. Can anything be done about this?

[2016-07-12 07:29] MihaiSurdeanu commented on #77
Can you please use it in a sentence? :)

Please add examples for both. Can we use capitalization, or other hints there?

[2016-07-14 14:16] #61 closed

[2016-07-15 01:51] #77 closed

[2016-07-22 20:02] danebell opened #82 "Overlapping entities with differing starts are not recognized"
With a rule such as [this](https://github.com/clulab/reach/blob/a32a3ef7eb94322cb13fea0a5bba452959b83347/src/main/resources/org/clulab/reach/biogrammar/events/pos-reg_template.yml#L283-L290), a sentence such as `ASPP1 and ASPP2 are phosphorylated in response to EGFR` results in only one regulation. Both phosphorylation events `[ASPP1 and [ASPP2 are phosphorylated]]` should be found as controllers

[2016-08-18 13:14] algui91 commented on #56
Will you consider adding it? I need spanish models. If you can give me some hints, I could try to implement spanish into `processors`.

Best regards!

[2016-08-18 15:41] MihaiSurdeanu commented on #56
We are considering adding it, but it's in our top priorities at the moment...
If you want to work on it, it's probably not too bad since CoreNLP already supports Spanish for most components: http://stanfordnlp.github.io/CoreNLP/

You have to change a few methods in org.clulab.processors.shallownlp.ShallowNLPProcessor. In particular, all the methods at the top of the class that start with "mk", suc

[2016-08-18 15:46] algui91 commented on #56
Ok, Thank you, I am going to try.

[2016-09-01 22:12] myedibleenso opened #89 "Serialize/deserialize Mentions to/from json"
We really need to add support to write/read mentions to/from json.

[2016-09-01 22:17] hickst commented on #89
This would be great but I'd like to see it for Reach BioMentions, too.

[2016-09-01 22:21] myedibleenso commented on #89
Yes!  That's what I really need for my current work, but I think we sure start with pure Mentions.

In another project I have some code to serialize/deserialize Mentions:

https://github.com/myedibleenso/processors-server/blob/master/src/main/scala/processors/api/Mention.scala

https://github.com/myedibleenso/processors-server/blob/fba17bb8888eafd660d32416533334cb16bb572f/src/main/scala/processors

[2016-09-01 22:24] myedibleenso commented on #89
My latest headache is the assembly corpus.  With all of the changes (hopefully improvements) to reach, I've lost the ability to recover a number of annotations.

If I were just producing a Mention rather than trying to find a mention that corresponds to a particular annotation, it wouldn't be an issue at all...

[2016-09-01 22:39] MihaiSurdeanu commented on #89
I agree.

On Thu, Sep 1, 2016 at 3:24 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-09-06 15:25] #89 closed

[2016-10-12 20:24] MihaiSurdeanu opened #97 "Retrain the NN parser using both WSJ and GENIA"

[2016-10-24 09:31] #82 closed

[2016-10-24 17:20] hickst opened #102 "Master branch of processors depends on local SNAPSHOT versions"
The build files of Processors and Reach master branch should never depend on unreleased snapshot versions of other projects. This will prevent users from downloading and compiling the project without additional work to download and locally compile the additional projects.

[2016-10-24 17:22] #102 closed

[2016-10-25 03:09] enoriega opened #104 "Counter serialization broken"
When calling `Counter.saveTo(w:Writter)` the contents of the object are not saved to the stream. I tried replacing a `FileWriter` with a `StringWriter` for debugging and it just remains empty after calling the saveTo method. Neither flushing the stream or closing it after the write helps. There is no exception thrown, just nothing happens.

[2016-10-25 15:11] MihaiSurdeanu commented on #104
@enoriega: looks like a bug. I'll take a look.

[2016-10-25 18:51] myedibleenso commented on #67
There's more we'd like to add, but I think this issue should have been closed by #80.

[2016-10-25 18:51] #67 closed

[2016-10-25 20:35] MihaiSurdeanu commented on #104
@enoriega: see https://github.com/clulab/processors/blob/master/main/src/test/scala/org/clulab/struct/TestCounter.scala
for an example for proper serialization using saveTo.

[2016-10-25 20:35] #104 closed

[2016-10-25 20:36] MihaiSurdeanu commented on #104
to be clear: it's not a bug. just weird Java writers...

[2016-10-26 22:04] MihaiSurdeanu opened #107 "Allow variables to be set to other, global variables"
Mihai needs this for issue #424 in reach

[2016-10-26 22:04] MihaiSurdeanu commented on #107
Currently, variables can replace each other, but you can't use a variable when defining another variable.

We can add a limited version of this in which variables declared in a previous scope can be used in the current one.
This handles your example in which you want to use a global variable to initialize a local one.

I believe this could be accomplished by replacing this (see link below) Map con

[2016-10-29 21:32] myedibleenso opened #108 "extend dependency patterns to hop in and out of graph"
Currently the dependency (graph traversal) patterns allow a single token constraint after each "hop":

[code]

I propose extending the pattern to allow for a complete token pattern after each "hop" in the dependency graph:

[code]

This extension offers more fine-grained control over pattern matching and the potential for hopping in and out of a graph traversal.

[2016-10-30 13:42] MihaiSurdeanu commented on #108
I like this.

[2016-11-01 20:52] #107 closed

[2016-11-02 20:13] MihaiSurdeanu commented on #97
- split WSJ and GENIA into train/test
- test CoreNLP (as implemented in FastNLPProcessor) on WSJ and GENIA test. report scores (P/R/F1 for labeled/unlabeled dependencies) separately.
- train a vanilla model JUST on WSJ. should replicate the results in CoreNLP.
- train N models with N copies of GENIA appended to WSJ (where N ranges from 1 to 5). Evaluate each on WSJ and GENIA, as above. Goal: perfo

[2016-11-02 20:14] MihaiSurdeanu commented on #97
- please add instructions on how to train the parser to the Wiki

[2016-11-02 20:14] MihaiSurdeanu commented on #97
@terroni: please send us a timeline of expected completion for each step.

[2016-11-02 20:49] MihaiSurdeanu opened #110 "Implement Akka client/server for CoreNLP processors"

[2016-11-02 21:11] MihaiSurdeanu commented on #51
We believe this should be done in the projects that use processors rather than here. processors is meant to be a library used by others through regular sbt dependencies.

Closing for now.

[2016-11-02 21:11] #51 closed

[2016-11-07 22:04] terroni commented on #97
Week of:
- Nov. 7: split WSJ and GENIA into train/dev/test (finished); test CoreNLP (as implemented in FastNLPProcessor) on WSJ and GENIA test. report scores (P/R/F1 for labeled/unlabeled dependencies) separately.
- Nov. 14: train a vanilla model JUST on WSJ. should replicate the results in CoreNLP; train N models with N copies of GENIA appended to WSJ (where N ranges from 1 to 5). Evaluate each o

[2016-11-07 22:06] terroni commented on #97
GENIA was already split into train/dev/test (and future_use, which we can just throw in at the end?). I split WSJ based on [this](https://www.aclweb.org/aclwiki/index.php?title=POS_Tagging_(State_of_the_art)), which does train (0-18), dev (19-21), and test (22-24).

[2016-11-07 22:43] myedibleenso commented on #97
I think the standard split for parsing tasks using the WSJ was 23 for test, 02-21 for training, and {01, 22, 24} for dev.

[2016-11-08 19:35] terroni commented on #97
What about 00?

[2016-11-08 19:38] MihaiSurdeanu commented on #97
00 was the first section annotated and is generally regarded as bad
quality. Ok to skip it.

On Tue, Nov 8, 2016 at 12:35 PM, Terron Ishihara <notifications@github.com>
wrote:

[2016-11-09 20:19] hickst opened #114 "Insert profiling in Reach"
issue #426 depends on gathering this information

[2016-11-09 20:20] #114 closed

[2016-12-07 04:52] Matthalp opened #119 "Template variables do not work in a template rule's labels array"
Error:
[code]

In master.yml:
[code]

In template.yml:
[code]

Note that the following *does* work (as the brackets are removed):
[code]

[2016-12-07 04:54] Matthalp commented on #110
If you are okay with using Play (https://www.playframework.com/) instead of Akka directly, I would be willing to contribute a skeleton project. I also have *modest* support for a RESTFUL Brat endpoint that could be included

[2016-12-07 05:09] MihaiSurdeanu commented on #110
Thanks! But we'd prefer to work directly with Akka to minimize external dependencies.
On another note, play *is* cool.

[2016-12-07 18:03] LenCewa commented on #56
Hello,

I run into the same problem. I posted [my question](http://stackoverflow.com/questions/41020551/how-to-extract-nouns-from-a-german-text-with-the-stanfordnlp-tool-in-scala) on Stack Overflow. Is it possible to run the NLP on German texts?

[2016-12-07 20:45] MihaiSurdeanu commented on #56
Unfortunately, today we only support English.
However, CoreNLP does support Spanish and German. I recommend their SimpleCoreNLP tool:
http://stanfordnlp.github.io/CoreNLP/simple.html

[2016-12-08 04:33] Matthalp commented on #119
@myedibleenso Do you recall what's needed to fix this? I believe you said it's a fairly easy one a while back

[2016-12-08 04:36] Matthalp opened #120 "Feature request: character-based matcher"
This would be extremely useful for identifying entities such as phone numbers and e-mail addresses

[2016-12-08 04:38] Matthalp commented on #110
I know all of you have a lot on your plate already, so if I get some time over winter break I can look into creating a RESTful skeleton project to serve as a reference and what not

[2016-12-08 15:24] MihaiSurdeanu commented on #110
Sounds good. Thanks!

[2016-12-08 15:25] MihaiSurdeanu commented on #120
You can actually have subword patterns in Odin already, using the construct word = /REGEXHERE/

[2016-12-08 16:15] myedibleenso commented on #120
@MihaiSurdeanu, I think @Matthalp is bringing up two things here:

1) A matcher independent of tokenization that operates over a character sequence.  This means you wouldn't need to guess how the the text preprocessor and tokenizer will handle something like a phone number.  While on this surface this sounds like it's just a regex, it would be nice to have integration with Odin's other matchers.

[2016-12-08 16:18] myedibleenso commented on #119
@Matthalp, thanks for opening this issue.  I have to look at the code to be sure, but I think it's just a matter of changing when in the process of parsing the grammar that the substitutions are performed.

[2016-12-08 16:48] hickst commented on #120
Yes, we have previously discussed what Marco is describing. I have really wanted this ability for a long time so that rules can be applied to the multiple "sub-token" grammars that grounding is currently hacking with fixed code. It seems to me that the power of rules at this lexico-syntactic level could really help us to:
1. increase the precision of our classifications
2. simplify tokenization
3.

[2016-12-08 18:27] marcovzla commented on #119
The code for substituting the variables in lists is already in place:
https://github.com/clulab/processors/blob/d2d798d07be23be063fb0c4ccfd5bba6a6d4e926/main/src/main/scala/org/clulab/odin/impl/RuleReader.scala#L94

You can check that this works (note the quotes used inside the list):
[code]

I'm not sure if we can fix this behavior without modifying snakeyaml. It seems that snakeyaml doesn't like

[2016-12-08 18:32] Matthalp commented on #119
Thanks @marcovzla! I'm okay with using quotes -- just needed to know it was there to use

[2016-12-08 20:51] marcovzla commented on #119
No problem! Let us know if you run into any other issues.

[2016-12-08 20:51] #119 closed

[2016-12-13 20:44] cory-p-oncota opened #122 "Cross build for Scala 2.11 and 2.12"
Currently the library is unusable in Scala 2.12 due to the dependency on scala-parser-combinators.

The examples here demonstrate how to cross build for scala core modules:
https://github.com/scala/scala-module-dependency-sample

[2017-01-01 19:31] hickst opened #124 "Enhance NER to load multiple override files"
I've generated a KB file (Phase3-Override.tsv.gz) for the proteins specified by MITRE for Phase3. It contains almost 700 entries, some of which probably conflict with our existing KBs and NER override file.

While we could add all these entries to the front of the existing NER override file (more than doubling its size), it would be better if Reach could handle multiple override files. The Groundi

[2017-01-05 21:44] MihaiSurdeanu commented on #124
@hickst: can you please implement this?

We need to modify the `loadAll` method in KBLoader:
https://github.com/clulab/processors/blob/master/corenlp/src/main/scala/org/clulab/processors/bionlp/ner/KBLoader.scala

[2017-01-10 15:54] danebell opened #125 "Blanket case (in)sensitivity setting for Odin"
Currently, case insensitivity is achieved through regular expressions, so I can match `france` and `France` with `/(?i)^france$/`. For some applications, it would be nice to able to have a rule-wide and/or grammar-wide case-insensitivity flag, so that I could set case insensitivity and then match using just `france`. As far as I can tell, this wouldn't change the expressiveness of Odin, just its v

[2017-01-10 16:42] maxdh opened #126 "Minor tweaks to README for newbies"
I just started out with Scala today in order to be able to use your code. As an absolute beginner a couple of things were not immediately obvious to me from the **Annotating entire documents** sample, such as which import statements were required. From my limited understanding I think they are the following:
[code]
 Also I believe in the line `val proc:Processor = new CoreNLPProcessor(withDiscours

[2017-01-11 03:01] MihaiSurdeanu commented on #126
I believed I fixed all these issues. Please let me know if you see anything else!
Keep up the Scala coding!

[2017-01-11 03:01] #126 closed

[2017-01-11 17:12] hickst commented on #124
This is implemented and passes Processor tests on my machine but runs out of memory on Travis.

[2017-01-11 17:14] MihaiSurdeanu commented on #124
Ok. Then I propose to merge and release processors.
We will have to run some experiments for CMU in the next couple of days for the next DARPA eval. So we should have this available.

[2017-01-11 17:57] hickst commented on #124
I'm retesting with latest right now, just to be sure.

[2017-01-11 18:10] hickst commented on #124
Tests pass again BUT let's hold off on merge and release until we discuss -- there are other issues which may need to go into a new release.

[2017-01-11 23:52] hickst opened #130 "Add config file to processors"
Gus already has one, started on a branch.

[2017-01-11 23:55] hickst opened #131 "Allow multiple override files to be configured"
Issue #124 added a new override file but it was hardwired. The next step is to move the list of override files to a config file (as is done now in Reach).

[2017-01-12 17:48] hickst commented on #124
Code was merged by pull request #129

[2017-01-12 17:48] #124 closed

[2017-01-24 03:11] johnvblazic opened #133 "Bug introduced with 2.12 for annotate method"
Mihai gave us some example code for class using this library the day after 2.12 released. I realize you haven't tuned it for 2.12 yet, but I found an issue with calling the annotate method that needs to be fixed when you update it for the new version. The scala code used below works flawlessly with scala 2.11.8, but fails when the build.sbt is updated to what you see below, using 2.12 and the proc

[2017-01-25 23:28] cl4yton commented on #97
Gus: number of models have been trained but performed poorly.  Suspect bug in training or evaluation code, currently investigating.

[2017-01-25 23:38] hickst commented on #130
Gus says better practice to use reference.conf in the appropriate subproject and to use org.clulab.processors.

[2017-01-28 21:06] myedibleenso opened #134 "DependencyUtils.findHeadsStrict fails to find root where one exists"
I've run across a case where `DependencyUtils.findHeadsStrict` fails to find a root where one exists.

This is the exception being thrown: https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/utils/DependencyUtils.scala#L84

Here are the dependencies:
[code]

MWE to reproduce the error:

`wget https://gist.githubusercontent.com/myedibleenso/0712a114772f0c17e43a66eed12522

[2017-01-31 16:36] aolney commented on #52
@CraigKelly has created a wrapper for MATE+

https://github.com/CraigKelly/mateplus-poc

[2017-01-31 19:10] CraigKelly commented on #52
@aolney, Apologies for the confusion - the repo's new, actual home has moved to an organizational account:

https://github.com/memphis-iis/mateplus-poc

[2017-02-14 15:54] hickst commented on #131
Closed by pull request #137

[2017-02-14 15:54] #131 closed

[2017-02-14 15:54] hickst commented on #130
Closed by pull request #137

[2017-02-14 15:54] #130 closed

[2017-02-17 01:26] bsharpataz opened #140 "Issue with casting a clulab.processors.Document as a CoreNLPDocument"
ok -- so I am trying to parse some Documents I have (processors.Document) using this processor:
```lazy val processor = new CoreNLPProcessor(withDiscourse = 1)```

and I am doing the parsing here:
[code]
(I have alternatively tried using doc.parse followed by doc.discourse() and get the same error, though the below stack trace is from this version of the code)

When I run this, I get the following

[2017-02-17 03:57] #140 closed

[2017-04-10 23:46] polymorpher opened #145 "invalid tap names for svmlight and svmrank"
'myedibleenso/nlp/svmrank' and 'myedibleenso/nlp/svmlight' are not available for tapping on brew. Can you update the README file?

[2017-04-11 00:25] myedibleenso commented on #145
@polymorpher, does `brew tap myedibleenso/nlp` followed by `brew install svmlight svmrank` work for you?

[2017-04-11 18:58] #145 closed

[2017-04-11 21:55] polymorpher commented on #145
Yes, that works. Thanks!

[2017-05-25 18:50] bgyori opened #148 "Range quantifier error"
[code]
works but
[code]
gives me the following error:
[code]

[2017-05-26 03:25] myedibleenso commented on #66
Based on discussions at the event in Portland today, I feel this is actually very important for getting started with new domains.  We will implement an initial version over the next few weeks.

I am going to go ahead and impose a deadline for the first version as the end of June.  Notice it has been nearly a year since we last had activity on this issue!

[2017-05-26 03:25] myedibleenso commented on #148
Thanks, @bgyori.

[2017-05-27 20:23] danyaljj opened #149 "Parsers are off?"
The demo seems to be off:
http://agathon.sista.arizona.edu:8080/discp/

[2017-05-27 21:04] MihaiSurdeanu commented on #149
@hickst: can you please answer?

[2017-05-27 23:14] hickst commented on #149
Thanks for letting us know the website was not working properly. It should now be available again.

Unfortunately, we no longer run the discourse parser demo, which you were attempting to access. The demo software got out of date and we did not see anyone trying to access it for a long time.

[2017-05-27 23:14] #149 closed

[2017-05-28 03:54] danyaljj commented on #149
I see ... thanks for clarification.

[2017-05-28 04:21] danyaljj opened #150 "Char offsets of the RST-parser"
I am trying the RST parser like this:

[code]
I'm the output tree, I'm trying to get the char offsets of each node in the tree (via `charOffsets`), however I get -1s. Any thoughts on what's the right way to get char offsets?

[2017-06-18 04:51] myedibleenso opened #153 "Add graph field to dependency rules"
Thinking ahead to the eventual inclusion of SRL graphs and universal dependencies, We ought to have a way of  specifying which graph a rule should be applied to.

We're currently producing `stanford-basic` dependency parses wherever we are using `stanford-collapsed` dependencies.  There are times where it is necessary to write a rule in terms of `stanford-basic`, instead of `stanford-collapsed` (t

[2017-06-18 13:47] MihaiSurdeanu commented on #153
+1

I wonder if we could specify *multiple* graphs, allowing the rule to run several times, one on each graph

[2017-06-23 22:02] #148 closed

[2017-06-30 05:05] #153 closed

[2017-06-30 05:22] myedibleenso commented on #66
Implementation said, what should usage of a gazetteer look like?  Previously I introduced this example:

[code]

If the use case is simply to see if a token is in the specified gazetteer, I'm not sure `[gazetteer=/./]` is the way to go. Something like`[gazetteer=/^ling/]` can be handled with an additional token constraint (ex. `& lemma=/^ling/`).  I think we really just need to assert membership,

[2017-06-30 05:44] myedibleenso commented on #66
I assume the gazetteer should match against a token's `word` attribute.

Should gazetteer-based matching be case sensitive or not?

[2017-07-11 17:49] marcovzla opened #158 "new travis images"
We are currently using the old travis images by including `group: deprecated-2017Q2` in `.travis.yml`, but these will only be available until September 1st, 2017, so we need to replace them.

See https://blog.travis-ci.com/2017-06-21-trusty-updates-2017-Q2-launch

[2017-07-28 01:46] hickst commented on #110
Finally...implemented in Processors release 6.0.7 and Reach release 1.3.4.

[2017-07-28 01:46] #110 closed

[2017-08-10 21:36] myedibleenso opened #170 "add confidence score to mentions"
This is a proposal to add a `confidence` attribute to mentions.

[code]

Note that if you run this in the visualizer you won't be able to see overlapping matches from both rules unless you change the label in one of the rules (ex. `Entity -> PossibleEntity`).

## Required changes
- Currently, if two rules match the same span with the same label, we discard the latter.  We'll want to either keep th

[2017-08-10 21:52] myedibleenso opened #171 "Coarse testing for rules using text from the example field"
Just trying to start discussion around an idea proposed during the hackathon in Portland.

Should we have some sort of coarse testing mechanism that checks whether an `example` text is matched for a rule?

We wouldn't be able to check exact spans of sub args, but we could at least tell if a match is made.

[code]

[2017-08-11 22:37] myedibleenso opened #172 "Configurable models (PoS tagger, parser, etc.) for `CoreNLPProcessor` and `CluProcessor`"
It would be convenient to be able to use `CoreNLPProcessor` with different `corenlp` models (ex. models for Spanish).  This would make it easier to support other languages and experiment with different training sets.

[2017-08-15 15:05] MihaiSurdeanu opened #173 "Need example and documentation for the new Processor client/server."
What the title says.

[2017-08-16 23:24] hickst commented on #173
Documentation has been added to the Wiki here: https://github.com/clulab/processors/wiki/The-Akka-based-CoreNLP-Processor-Server

[2017-08-16 23:24] #173 closed

[2017-08-17 01:47] MihaiSurdeanu opened #174 "Performance analysis of the client/server processor"
We need to understand the following:
- What is the memory footprint of the client?
- What is the runtime penalty we pay for using the client/server vs. the library processor? That is, what is the runtime of the client/server for the parsing of a representative file (say, 1 PubMed paper) compared to the standalone processor?

[2017-09-21 02:56] hickst commented on #171
Where does the example text come from? In the given code, it looks like the example text is permanently attached to each rule? (as a test or documentation?)

[2017-09-21 03:45] myedibleenso commented on #171
Haven't talked about this for awhile, but let's see...

The rule creator.

It would serve as both.

[2017-09-21 06:55] hickst commented on #171
Yea, sorry...just caught my eye. The alternative I considered was that you were talking about a way to test rules as you were developing them but the code seemed to contradict that hypothesis.

[2017-09-21 15:28] MihaiSurdeanu commented on #171
Sure. This seems useful.

[2017-09-22 23:28] myedibleenso commented on #158
So Sept. 1 has come and gone, but travis still seems to be working...has this just been pushed back?

[2017-09-22 23:50] hickst commented on #158
Why is that parameter even needed? Reach does not use it and Travis is working fine for Reach. Was there something special about those images that Processors required?

[2017-09-24 21:35] hickst opened #183 "Move Core Client Server to Processors"
Allow use by projects other than Reach. Allow choice of new CLU processor or client/server use of existing CoreNLP processors.

[2017-09-24 21:37] hickst commented on #174
This task is postponed by the design decision to move the Core Client Server into Processors.

[2017-09-25 05:28] dispalt commented on #122
You mind if I take a shot at this?

[2017-09-25 15:22] MihaiSurdeanu commented on #122
Go for it.
Thanks!

[2017-10-04 21:05] MihaiSurdeanu commented on #172
Done for CluProcessor.
Hard to do for CoreNLP, so closing this.

[2017-10-04 21:05] #172 closed

[2017-10-04 21:07] MihaiSurdeanu commented on #66
@myedibleenso: We are now closer to this, due to the new LexiconNER class. We need to plug this in Odin though.

[2017-10-04 21:07] MihaiSurdeanu commented on #97
Solved in CluProcessor.

[2017-10-04 21:07] #97 closed

[2017-10-06 08:11] myedibleenso opened #188 "Dataset should extend Traversable"
It would be convenient if [`Dataset`](https://github.com/clulab/processors/blob/54d8e7b96bc0f03a9812e09bd0f360d96c241ad0/main/src/main/scala/org/clulab/learning/Dataset.scala) extended [`Traversable`](http://docs.scala-lang.org/overviews/collections/trait-traversable.html).  This would simplify access to each `Datum` via `foreach`, `map`, etc.

Right now for a `Dataset` (`ds`) I'm using something

[2017-10-06 08:19] myedibleenso opened #189 "Add performance metrics for Classifier"
It would be convenient to have `precision`, `recall`, `f1`, `accuracy`, etc. methods to `Classifier` or as another trait (ex. `PerformanceMetrics`) that could be mixed in when creating a classifier.  I imagine these methods would take a `Dataset[L, F]`.

It looks like this could easily be done using [`EvaluationStatistics`](https://github.com/clulab/processors/blob/54d8e7b96bc0f03a9812e09bd0f360d9

[2017-10-06 17:15] MihaiSurdeanu commented on #189
I agree.

[2017-11-10 07:12] dispalt opened #196 "Update to newer corenlp?"
I haven't look at how long it would take, but I was wondering if you'd be open to a contribution updating to the latest version of the CoreNLP.

[2017-11-11 17:54] dispalt opened #198 "Multiple Word2vec implementations"
Is there a way to hook in to plug in my own word2vec implementation?  Specifically I was looking to use dl4j's version.  Right now I've subclasses some classes and it's gross but it works.  I was wondering if there was plans to make that more configurable, either by adding my own rules (simScore2), or by making the implementation less coupled.

[2017-11-11 17:55] dispalt commented on #196
Discussion happening in #197

[2017-11-11 17:55] #196 closed

[2017-11-11 18:18] myedibleenso commented on #198
Hi,

Glad to see you're using Odin!  Yes, we can definitely make that easier to do.  `EmbeddingsResource` just needs some `similarity` method that takes two strings and returns a Double.

We'll consider a few options for specifying an implementation (ex. changes to the master file vs. an `OdinConfig` parameter to the constructor for `ExtractorEngine` vs. dependency injection, etc.).

[2017-11-15 07:28] hickst commented on #183
Closed by pull request #199

[2017-11-15 07:28] #183 closed

[2017-11-28 21:10] dispalt commented on #198
Sounds great, thanks!

[2017-12-05 19:44] hickst opened #210 "Rename modification trait to avoid Reach conflict"
Rename to Attachment, per group concensus. Test rename. Update and test Reach for compatibility.

[2017-12-05 20:45] hickst commented on #210
Closed by pull request #211

[2017-12-05 20:45] #210 closed

[2017-12-09 02:06] hickst commented on #122
Closed by pull request #213

[2017-12-09 02:15] hickst commented on #133
The Processors library has now been "officially" switched to use Scala 2.12 by default. Could you please retry your code to see if this issue still exists. Thanks.

[2017-12-09 02:19] myedibleenso commented on #133
@hickst, will you please update CHANGES to reflect the cross compile for 2.12?  I had just checked  there wondering if that had been merged or not.

@johnvblazic, we haven't published a 2.12 version to maven yet, so you'll need to test by publishing the library locally.

[2017-12-09 03:57] hickst commented on #122
Cross compilation does not work: Scala 2.11 ForkJoin code has been obsoleted in 2.12 in favor of Java ForkJoin code. This breaks cross-compilation.

Since processors has been updated to use Scala 2.12, I recommend that we do not maintain a separate 2.11 version unless we have demonstrable need for it. Recommend we change the status of this issue to `WON'T FIX` and re-close it.

[2017-12-09 04:26] hickst commented on #133
The CHANGES file was updated as part of the Processors 7.0.0 release. Once 7.0.0 reaches Maven Central (in a few hours) you will **not** have to publish locally (just use 7.0.0).

[2018-02-20 17:11] dkaushik96 opened #219 "Multithreading and support for Senna!?"
Hi, I think it would be great to include multithreading support, it would help especially when number of documents is quite high.

Further, can we have support for Senna? Stanford POS and NER put a lot of weight on capitalization of text as a feature, which does not help in case of noisy user generated text. I've personally tested Senna over such data and found it more useful.

Lastly, is it possi

[2018-02-20 17:42] myedibleenso commented on #219
Hi.

All of the processors currently available are thread-safe, so this can be achieved using parallel collections (ex. `.par`) or with Actors. In fact, we do this sort of thing a lot in the projects that use this library!

SENNA is written in C, right?  It would be great to have an SRL parser in `processors` (plus it could be used in `Odin` rules).  Unfortunately, being written in C makes SENNA d

[2018-02-20 18:34] dkaushik96 commented on #219
Yes, I think the ShallowNLPProcessor would work. I don't remember if multithreading or shallowannotate were discussed either in the manual or the Python tutorial. This is really helpful though. Thanks!

[2018-02-28 04:02] MihaiSurdeanu commented on #219
Closing for now.

[2018-02-28 04:02] #219 closed

[2018-02-28 04:02] MihaiSurdeanu opened #228 "scala 2.12 compilation warnings"
After we switched to scala 2.12, compiling Odin gives a bunch of warnings (see below).

[warn] /Users/msurdeanu/github/processors/main/src/main/scala/org/clulab/struct/DirectedGraph.scala:212: match may not be exhaustive.
[warn] It would fail on the following inputs: (??, _, _), (_, ??, _), (_, _, _)
[warn]       for ((Seq(n1, n2), edge) <- pairs zip edgePath) yield edge match {
[warn]

[2018-02-28 23:42] #228 closed

[2018-03-23 09:02] polymorpher opened #233 "Binary incompatibility as a result of using nlptools-stem-morph (deprecated)"
The package `nlptools-stem-morph` is one of the core dependencies of this project, but it is deprecated (https://github.com/knowitall/nlptools).  `nlptools-stem-morph` only supports Scala up to 2.10 and many of its dependencies (and dependencies of dependencies) are fixed at the version against Scala 2.10. However some of them already published new versions, and they may be incompatible with old v

[2018-03-23 13:02] MihaiSurdeanu commented on #233
Hi @polymorpher,
You're right. Did you manage to find the source code for the stem-morph package? I looked around the newer code and couldn't find. If you do, please let me know. I would include the source in processors (if licensing permits), to solve this issue. I can handle the latter; I just can't find the source.

[2018-03-25 11:34] polymorpher commented on #233
Thanks for looking into this. I will let you know if I find the source.

For my own project, I created a temporary workaround by forking scopt and renaming the package.

[2018-03-25 16:32] MihaiSurdeanu commented on #233
@kwalcock: when you have some time, not urgent at all, can you please try to find the source code for nlptools-stem-morph? This used to be part of a project at UW, but it seems that IIT took over that open source project.

[2018-03-25 20:44] maxaalexeeva opened #234 "Symbol table error"
When I try to run CluProcessor (annotate()) on the attached file, I get the error below. I used Try to go around it, but I am still not sure what is wrong with the text file that won't let the annotator run. As far as I can tell, it breaks somewhere around line 4. Let me know if I should include everything that printed out after the error statement to make this more understandable. Thanks!

`13:29

[2018-03-25 22:29] MihaiSurdeanu commented on #234
Can you please include how you use this? Is this a separate project? if so,
can you please include the build file?
I suspect you don't have processors_modelsmain in the path, but I'm not
sure.

On Sun, Mar 25, 2018 at 1:44 PM, Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2018-03-25 22:46] maxaalexeeva commented on #234
It is a separate project. I attempt to annotate some lines.
`val proc:Processor = new CluProcessor()
(some code)
val line_doc = proc.annotate(line)`

buildfile:
`name := "testing"
scalaVersion := "2.11.8"
libraryDependencies ++= Seq(

  "org.clulab" %% "processors-main" % "6.1.3",
  "org.clulab" %% "processors-corenlp" % "6.1.3",
  "org.clulab" %% "processors-modelsmain" % "6.1.3",
  "org.clulab"

[2018-03-25 23:13] MihaiSurdeanu commented on #234
Oh, can you please try version 7.2.0 instead of 6.1.3?

[2018-03-25 23:21] maxaalexeeva commented on #234
For which of the dependencies? All of the 6.1.3 ones? Some of them?
[error] (*:update) sbt.ResolveException: unresolved dependency: org.clulab#processors-main_2.11;7.2.0: not found
[error] unresolved dependency: org.clulab#processors-corenlp_2.11;7.2.0: not found
[error] unresolved dependency: org.clulab#processors-modelsmain_2.11;7.2.0: not found
[error] unresolved dependency: org.clulab#processo

[2018-03-26 00:40] MihaiSurdeanu commented on #234
Sorry, try to do what this project does:
https://github.com/clulab/eidos/blob/master/build.sbt

[2018-03-27 03:35] kwalcock commented on #233
According to processors/main/build.sbt, we're using

"edu.washington.cs.knowitall.nlptools"  %  "nlptools-stem-morpha_2.10"  %
"2.4.5", // for lemmatization

If the idea is to get the source for that, it can be extracted from the jar
files in an emergency or I see that it can be downloaded from

https://github.com/knowitall/nlptools/releases/tag/v2.4.5

If we're looking for an updated version that

[2018-03-27 03:47] MihaiSurdeanu commented on #233
Thanks @kwalcock! I'll see what I can do from here.

[2018-03-27 04:38] MihaiSurdeanu commented on #233
Almost there, in branch "morpha". I copied the jflex output here, to avoid the dependency. But how the heck do you call a jflex parser? It's been more than 15 years since I've used it...
This is not it:
https://github.com/clulab/processors/blob/morpha/main/src/main/scala/org/clulab/processors/clu/CluProcessor.scala#L253

@kwalcock: do you know? No big deal if you don't. I'll look it up.

[2018-03-27 04:54] kwalcock commented on #233
Not offhand, but if you give up or simply delegate, I'll figure it out, of course.

I wanted to say that if you *happen* to be working on processors, you might take a look at one certain outstanding pull request.

[2018-04-05 23:07] myedibleenso commented on #122
@hickst, it looks like this is only an issue in the `learning` package.  Can we not cross-compile the other subprojects for 2.11?  Spark is incompatible with 2.12, so we are stuck using ancient releases.

[2018-04-07 14:15] MihaiSurdeanu commented on #233
Fixed in PR #235.
Will be available in release 7.2.1

[2018-04-07 14:15] #233 closed

[2018-04-15 22:27] #133 closed

[2018-04-18 21:31] MihaiSurdeanu commented on #122
Thanks @marcovzla!
I will release processors next.

[2018-04-18 22:04] #122 closed

[2018-05-05 22:38] myedibleenso opened #240 "BioTokenizerPostProcessor.revertAggressiveTokenization introduces misaligned offsets."
@MihaiSurdeanu, [`org.clulab.processors.clu.bio.BioTokenizerPostProcessor.revertAggressiveTokenization`](https://github.com/clulab/processors/blob/901a0dd459ef5053e70a412f943bbd71dabf3ce2/main/src/main/scala/org/clulab/processors/clu/bio/BioTokenizerPostProcessor.scala#L231-L265) sometimes introduces misaligned offsets.

I've isolated this issue by commenting and uncommenting some of the calls in

[2018-05-06 01:44] MihaiSurdeanu commented on #240
This sounds like my bug. I'll take a look tonight.

[2018-05-06 04:44] myedibleenso commented on #240
I haven't tried with `BioNLPProcessor`.  Have you tried with `BioCluProcessor`?

[2018-05-06 05:11] MihaiSurdeanu commented on #240
Ok, I can replicate the bug with BioClu. I'll look into it.
But, for the paper, you should use BioNLPProc. This has been more extensively tested.

[2018-05-06 05:25] MihaiSurdeanu commented on #240
This happens because the ")" is represented as "-RRB-". revertAggressiveTokenization keeps the start positions from the original tokens (")"), but sets the end positions based on the length of the token, hence the weird end position.

We should decide the type of behavior we want: should we keep the start/end positions from the original tokens, regardless of the value stored in the token?

[2018-05-06 05:40] myedibleenso commented on #240
On a related note, I noticed that these two processors seem to have different defaults for `kbsWithTokensWithValidSlashes`:
- https://github.com/clulab/processors/blob/70db37eac25d813bc092e0e5eede0d5773b63cd5/corenlp/src/main/scala/org/clulab/processors/bionlp/BioNLPProcessor.scala#L33
   - https://github.com/clulab/processors/blob/901a0dd459ef5053e70a412f943bbd71dabf3ce2/corenlp/src/main/scala/or

[2018-05-06 05:42] myedibleenso commented on #240
Whoops!  Nevermind.  I just noticed that particular line is actually commented out...

[2018-05-06 05:46] myedibleenso commented on #240
I believe the offsets are only useful if they correspond to the original text.  If they don't, why bother to generate them at all, right?

[2018-05-06 05:47] MihaiSurdeanu commented on #240
I think you're right.

[2018-05-06 05:49] myedibleenso commented on #240
Hopefully I didn't misinterpret your comment :)

Here is how I handled the length issue for better correspondence with the BioNLP ST data:
- https://github.com/clulab/processors/blob/436390d1ef530b1a41c66f479a516ff804cb3fb9/main/src/main/scala/org/clulab/processors/clu/bio/BioTokenizerPostProcessor.scala#L31-L35

I think that may be incomplete, though, as it only covers bracket-like stuff.

[2018-05-06 15:52] MihaiSurdeanu commented on #240
I think that is fine for this dataset.
In Reach, another change that affects length is changing unicode greek
letters to their ascii representation. I don't think this appears in BioNLP
however.

On Sat, May 5, 2018 at 10:49 PM Gus Hahn-Powell <notifications@github.com>
wrote:

[2018-05-07 02:30] MihaiSurdeanu commented on #240
I think it's Ok to stay with this fix for now. I would like to reorganize this code anyway, to preserve the original raw tokens, which would solve this problem.

[2018-05-10 07:00] hickst commented on #174
Not surprising. The standalone lib is an API of in-memory calls whereas the client/server is a message-passing system where the messages are serialized and deserialized. The point of using the client/server was simply to workaround licensing restrictions.

[2018-06-12 03:28] MihaiSurdeanu commented on #240
This is fixed by the latest master (7.4.0-SNAPSHOT).
Closing for now.

[2018-06-12 03:28] #240 closed

[2018-06-12 03:29] MihaiSurdeanu commented on #234
I believe this was fixed.
Closing for now.

[2018-06-12 03:29] #234 closed

[2018-07-15 08:37] myedibleenso opened #255 "BioNLPProcessor.annotate fails when withRuleNER is set to false"
@MihaiSurdeanu, it seems that `BioNLPProcessor.annotate` now fails when `withRuleNER` is set to `false`, even if `withCRFNER` is set to `true`:

[code]

This is due to `BioNERPostProcessor` attempting to access the `.entities` attribute of each sentence it processes.

- https://github.com/clulab/processors/blob/12b6dcebfd66166fa063568d70e36bf163fe8717/corenlp/src/main/scala/org/clulab/processors/b

[2018-07-15 17:00] MihaiSurdeanu commented on #255
Hi @myedibleenso: yes, you are correct. Can you please commit the fix in your comment?
Thanks!

[2018-07-20 02:46] myedibleenso commented on #108
Wow, this issue has been open for a long time.  I completely forgot about it.

Loki (a sort of bastardized version of Odin used in path-o-gen) supports this:
- https://github.com/myedibleenso/loki

I wonder if others still consider this proposed feature useful.

@MihaiSurdeanu and/or @bsharpataz , has this sort of issue come up in WM?

[2018-07-20 04:07] bsharpataz commented on #108
Not yet... but seems perfectly reasonable... ?

[2018-07-30 19:55] bsharpataz opened #258 "Pass ClassLoader as argument to org.clulab.utils.Serializer.load()"
split into 2 methods, bc sometimes the default ClassLoader doesn't work (can't find the class)

[2018-07-30 22:08] #258 closed

[2018-08-08 13:05] JohnDaws opened #264 "CluProcessor.annotate fails with space in path to JAR file"
`CluProcessor.annotate` fails with the error:

[code]
when run from inside a JAR file where the path to the JAR file contains a space.

This can be reproduced with this code
[code]
and the following imports:
[code]
The issue is caused in [mkMaltModel](https://github.com/clulab/processors/blob/a175db65119bbd06f66fc0844461b490a395fae0/main/src/main/scala/org/clulab/processors/clu/syntax/MaltWrapper.

[2018-08-08 22:45] MihaiSurdeanu commented on #264
Hmm... @kwalcock: can you please take a look? I am sure I get this...

[2018-08-08 23:15] marcovzla commented on #264
seems like the space was urlencoded into `%20`,
maybe that's the issue?

[2018-08-08 23:18] MihaiSurdeanu commented on #264
Yes, but I don't see where this is happening...

[2018-08-08 23:40] kwalcock commented on #264
It sounds like ZipFile.open is expecting a (mostly) decoded filename and is instead getting something that has been urlencoded.  I haven't had time to look yet.

[2018-08-09 05:45] kwalcock commented on #264
Please see PR #265.

[2018-08-09 08:40] JohnDaws commented on #264
Thank you for looking into this so promptly.

I assume that PR#265 is not complete yet, as I only see one commit that to my no experience in scala eye only contains a stub of a test function.

If it helps, I have looked a bit deeper into your code, but do not have the scala skills to suggest a fix, but hopefully the following extra information is useful...

The issue appears to stem from `mkMaltMo

[2018-08-09 14:24] JohnDaws commented on #264
Further to the above, changing `line 52` of  (maltWrapper.scala)[https://github.com/clulab/processors/blob/a175db65119bbd06f66fc0844461b490a395fae0/main/src/main/scala/org/clulab/processors/clu/syntax/MaltWrapper.scala] to
`      val jarFileName = URLDecoder.decode(path.substring(9, jarEnd), "UTF-8")`
with the additional import
`import java.net.URLDecoder`
seems to make the issue go away.

I've no

[2018-08-09 15:23] kwalcock commented on #264
Well, that's embarassing.  I appear to have checked in the wrong file somehow.

[2018-08-09 15:32] kwalcock commented on #264
And yes, that's exactly the correct change to make.  Good call.

[2018-08-09 15:38] JohnDaws commented on #264
Great. Thanks for sorting this out!

[2018-08-09 16:26] kwalcock commented on #264
The fix is merged into master.  I'm not sure when it will propagate to a formal, numbered release.

[2018-08-09 16:26] #264 closed

[2018-09-11 03:37] kwalcock opened #272 "Weak equals function for Mentions"
The equals function has very good performance, but in the event of a hash collision will return the wrong result:
[code]
It needs to somehow verify that the fields are also equal.

[2018-10-02 17:27] kwalcock opened #277 "Add multiple attachments at a time to a Mention"
We need to be able to avoid code like that below where we are forced to copy entire mentions multiple times in order to add multiple attachments.  Such code has appeared more than once.

[code]
This should become
[code]

[2018-10-09 07:02] kwalcock opened #280 "Mention.withAttachment and Mention.withoutAttachment ignore CrossSentenceMention"
These case statements in Mention are incomplete and will result in runtime errors for CrossSentenceMentions.  These should not be case statements at all, but instead methods in each subclass.

[code]

[2018-10-09 15:30] kwalcock commented on #280
There's also no way to copy a CrossSentenceMention.

[2018-10-26 19:49] gcgbarbosa opened #282 "Part of Enhanced Dependencies do not work on Portuguese"
The dependency labels used in the code refers to UDv1, while Portuguese training data uses UDv2.
For example dobj in UDv1 changed to obj in UDv2 and so on. The same applies to POS tags.

Also, it would be good to have enhanced obl the same way we have for nmod, as described in UD [documentation](http://universaldependencies.org/u/overview/enhanced-syntax.html)

[2018-11-18 21:30] bsharpataz opened #285 "making a document from sentences"
Maybe not a bug, but I can't seem to make this pipeline work.  I am interested in making a document from a subset of the sentences from a previously made document, prior to annotating (the whole reason I want to do this is to avoid annotating crazy long sentences).  Then, after making the subset, I want to annotate.  But... seems the constructor doesn't make a CoreNLPDocument, and if I try to co-o

[2018-11-19 02:07] MihaiSurdeanu commented on #285
Yeah, that is ambiguous. The functionality you want is in Processor.mkDocumentFromSentences or mkDocumentFromTokens:

https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/processors/Processor.scala#L16

Does that work?

[2018-11-19 16:17] kwalcock commented on #285
This is a reminder to myself to see if this is where one might selectively filter out sentences of a long document and then try to process the document in parts and splice it back together afterwards.  If a document has 300 sentences, run [0-100) as if all the other sentences were too long, then [100, 200), then [200, 300), and at the end combine the documents.  At some point I called these chapte

[2018-11-21 23:40] kwalcock opened #287 "Method needed to copy document with edited list of sentences"
This is needed for Eidos.  See https://github.com/clulab/eidos/pull/514 .  I hacked in something which is better provided by processors.

[2019-01-08 02:16] myedibleenso opened #289 "Specify grammar file for CluProcessor tokenizer via config"
As @danebell and others can attest, when considering differences observed across domains, registers, corpora, and tasks, a single token grammar per language is unlikely to fit all cases.  For that reason, I propose we alter `CluProcessor` such that its tokenizer is determined by specifying the grammar file's location from the config (ex. `*.tokenizer.grammar = ???`):

- https://github.com/clulab/p

[2019-01-08 17:28] myedibleenso opened #290 "pre and post-processing hooks for Processor trait"
In scientific text, it is common to encounter parenthetical citations.  There are advantages to preserving this information, but these elements can throw the parser for a loop.

I propose that we include a hook before parsing to eliminate certain tokens from consideration, and maintain a record of token indices before and after this transformation in order to translate the directed graph's indices

[2019-01-08 17:54] bsharpataz commented on #290
It truly is, it truly is!

[2019-01-09 05:16] maxaalexeeva opened #291 "Issue when using buildMatrix method in Word2Vec.scala"
I am trying to run EBP.scala (can be found here: https://github.com/clulab/research/tree/daa61572c7dc551ecf62078363bb2d7777689d90/clint/src/main/scala/org/clulab/clint).

I am getting an error that seems to be coming from here:
https://github.com/clulab/processors/blob/6cf2291418c063ef9a429708ab064b2842a0bb20/main/src/main/scala/org/clulab/embeddings/word2vec/Word2Vec.scala#L431

Here's the line f

[2019-01-09 05:37] maxaalexeeva commented on #291
I also see now that the version of processors used in the project I'm working won is 7.1.0. Tried the latest version, but haven't managed to get it to compile yet.

[2019-01-09 05:48] marcovzla commented on #291
I believe you should be using a file with embeddings in the word2vec format, which begins with two integers: size of vocabulary and number of dimensions.

[2019-01-09 05:54] maxaalexeeva commented on #291
@marcovzla thank you! That makes sense. Neither of the vector files I downloaded has those :/ I will try that.

[2019-01-09 06:08] #291 closed

[2019-01-10 01:13] myedibleenso opened #292 "Improve variables in Odin"
External grammars involving multiple files are a pain in Odin currently.  Why are we trying to use external (i.e., those stored outside of `resources/`) grammars?  Mostly to avoid recompilation of entire projects (reloading processor models can be costly) when only a grammar is changed.

### Proposed changes
- Include environment variables in Odin variables.  Perhaps a syntax like `${$ENV_VAR_NAME

[2019-01-10 01:25] myedibleenso opened #293 "Use Fastparse 2 for parsing Odin rules"
[Fastparse 2](http://www.lihaoyi.com/post/Fastparse2EvenFasterScalaParserCombinators.html) is an enormous speedup (orders of magnitude faster) over Scala parser combinators (see benchmarks:  http://www.lihaoyi.com/fastparse/#Performance).

Setting aside document annotation (tokenization -> parsing), making the switch to fp2 should help accelerate grammar development.

[2019-01-10 01:32] marcovzla commented on #293
+1 But it will be risky. I think we should add more tests first.

[2019-01-18 17:34] MihaiSurdeanu commented on #290
We do have support for this type of cleaning. See the `ScienceUtils` class:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/utils/ScienceUtils.scala

The method that does exactly this transformation is `ScienceUtils.removeBibRefs`.
Also, there are other methods that are useful: `replaceUnicodeWithAscii` and `removeFigureAndTableReferences`.

[2019-01-18 18:11] kwalcock opened #294 "Hashing of sentences takes up too much time"
Here's an incomplete record of emails regarding this issue which Becky and Marco discovered:

![image](https://user-images.githubusercontent.com/8679738/51404743-95046d00-1b11-11e9-8357-0fa0decdc1bd.png)

Yeah, those vars need to be made private, and accessed through setter methods, who will also reset the computed hash value.
Should not be too hard to change… More annoying than hard, I think.

[2019-01-18 18:20] myedibleenso commented on #294
@kwalcock, one reason this wasn't cached from the beginning is that there is nothing stopping someone from altering an element in any of the token attribute arrays (words, tags, etc.).  If any of this data is mutated, the approach as-is will reflect the change.

It might make sense to only address this in Eidos, since you are already using custom Mentions (and docs?).

[2019-01-18 18:33] kwalcock commented on #294
Right.  So often one would use the suggested getter and setter (of otherwise immutable values) and trigger a dirty hash code when the setter is called.  It seems better to have the sentence remember that it has been changed than to have each client remember to tell the sentence to update the hash code each time that it changes the sentence.  Adding getter and setter code will probably disrupt clie

[2019-01-18 18:40] kwalcock commented on #294
A different approach is to do like Mentions and include methods like newWithLemmas() and return a new sentence with the missing Option value filled in.  Right now Eidos would not like that because the time and geo functions operate on sentences, editing their norms, long after the sentence references have been stored in all sorts of Mentions.  It seems like those references would all have to be up

[2019-01-18 18:44] MihaiSurdeanu commented on #294
I prefer the classic solution of getter/setter methods. The setter methods would regenerate the hash, so it's always up to date. Of course, all the vars would become private.

[2019-01-18 18:57] kwalcock commented on #294
I notice that my cachedHashCode in Mention is incorrect if the hash of the sentence changes :-(  Probably this doesn't matter because sentences are not being copied and changed independently.  If they are equal once, they stay equal.

[2019-01-18 19:18] kwalcock commented on #294
It may be that a different kind of equivalence is needed or could at least be useful.  For most use cases, the sentences are equivalent if they have the same value for raw or to be extra careful, startOffsets, endOffsets, and words (the vals).  The rest (vars) just indicate that the same/equivalent sentence is in some different state of the processing pipeline.  The hash code, at least that used b

[2019-01-18 19:44] myedibleenso commented on #294
You're right that there are different degrees/forms of equivalence.  I've used a strict measure mostly to differentiate between types of annotation (ex. syntactic parses).  While I think it is important to keep this complete check, there's no reason other forms can't be used for different applications.  For mentions, I only used `equivalenceHash` through mixin of a trait in implicits:

- https://g

[2019-01-18 20:11] kwalcock commented on #294
How about I add a new, lazily calculated hash method across some/all the vals to Sentence?  It needs to get called, I think, from Mention.calculateHashCode, possibly via Document.equivalenceHash.  If that one shouldn't change (it sort of looks like sentence order is intentionally ignored there, strangely) then there could eventually be a matching hash in Document that calls the one in Sentence.  T

[2019-01-18 20:19] myedibleenso commented on #294
Sounds good to me.

[2019-01-19 06:39] myedibleenso commented on #290
Thanks.  `ScienceUtils` operates on the text, but what I am suggesting is to temporarily ignore/replace tokens so that the syntactic parser never encounters them.  I am aiming to preserve references for surface patterns, etc.

[2019-01-22 00:08] danebell opened #296 "LexiconNER not serializable from outside of processors"
It is apparently not currently possible to deserialize `LexiconNER` outside of processors. I have two suggests for the fix:

1. Remove the private restriction on `LexiconNER`'s constructor, so that others can do custom serialization/deserialization.
2. Create custom serialization/deserialization functions within `LexiconNER` for projects outside processors to use.

Example:

[code]

Expected behav

[2019-01-25 02:24] enoriega opened #299 "OpenIE to Odin events review"
I coded an implicit utility that returns all the _OpenIE_ relations in a document object as a collection of `EventMention`s to use them as part of an Odin pipeline. However, there are two nuances that I'm uneasy about:

1. I assigned each element of the event and text-bound mentions an `OpenIE*`label. Is it a problem if this label is not declares in the taxonomy of an odin grammar?

2. I don't kno

[2019-01-25 20:31] kwalcock commented on #294
@bsharpataz and @marcovzla were definitely onto something.  Here are some initial comparisons for runs across 52 documents showing that a change in hashing can halve processing time (9:37 minutes down to 4:13).  Unfortunately, the timenorm functionality would still be the slowest part and that isn't affected by the change.  It should help eidos unit testing, which runs without timenorm, and any ot

[2019-01-25 20:47] MihaiSurdeanu commented on #294
Very nice.

[2019-01-29 18:32] michaelcapizzi commented on #171
I've built something that I am currently using to test my rules.  Forgive the ugliness of both the code itself (`scala` and I are just getting re-acquainted) and my description of the process below.

It takes a test file that is `json` of the following format:

[code]

Here's a full example for two rules: `four_digit` and `pin`:

[code]
And then I have a method (that is *very ugly* but *works*!) t

[2019-01-29 18:34] michaelcapizzi commented on #171
Note: I've considered adding to the test file described above a `json` version of the `Document` class for the given document as well, which would eliminate the need to annotate each document during the running of the tests, but I haven't figured out how to easily implement that.

But I'd like to leave the test file as something that can quickly and easily be added to or modified, and if a huge `j

[2019-01-29 20:08] myedibleenso commented on #171
Nice!

We wouldn't want to add annotation to `odin`, so relying on the `Document` `json` makes more sense if we were to integrate something like this directly into `odin`.  In `odin`, we want to be agnostic to _how_ the document being analyzed is produced.  It could be from `processors`, `coreNLP`, `spaCy`, etc.

Your approach might package nicely as a little library which provides something like

[2019-01-29 20:14] michaelcapizzi commented on #171
Ah.  Makes sense re: keeping `odin` agnostic.

[2019-01-29 23:24] #299 closed, assigned to marcovzla, myedibleenso, MihaiSurdeanu

[2019-02-04 22:55] kwalcock commented on #296
There may soon be reason to make additional changes to LexiconNER that may affect serialization.  The issue is being written up.  Is there any chance that use of ClassLoaderObjectInputStream in place of ObjectInputStream would help?  There are some examples of it in the code and it seems like that sometimes helped with the ClassNotFoundException.

[2019-02-04 23:00] kwalcock opened #302 "LexiconNER (and HashTrie) needs to be smaller, faster"
Mihai wrote this once upon a time:

Also, on a different topic: processors has gotten pretty fat. Some of it is out of our control (CoreNLP models), but some of it is our stuff. In particular, we use a lot the LexiconNER class, which stores its internal data (basically multi-word dictionaries) as a HashTrie:

https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/struct/Ha

[2019-02-04 23:03] kwalcock commented on #302
Here is some of the discussion that followed, simply pasted from the email.

Hi Keith,
Sorry about the delay on this! Comments inline.

On Tue, Dec 11, 2018 at 1:09 PM Keith Alcock <keith@keithalcock.com> wrote:
So I've made lots of changes to HashTrie and LexiconNER which should not alter any results and should probably not have impact on other files or projects (only probably, because some publi

[2019-02-04 23:31] kwalcock commented on #302
So as far as I understand it, there is a program, KBGenerator, in the bioresources project that takes a configuration file that specifies a mapping of various knowledge base (KB) contents onto labels.  For example, biopax-simple_chemical	onto Simple_chemical.  Multiple KBs can map onto the same label, so the program combines them.  The result is several text files, one for each label.

There is an

[2019-02-05 00:02] kwalcock commented on #302
There is a reimplementation of HashTrie that addresses some of the issues itemized above, but see below for one more important one that looks like it can speed up runtime performance by 5x.
1. I moved the tracking of unique strings to a debugging subclass which is normally not used.  This saves a little time and memory.
2. Labels are calculated only once and no longer added together constantly.  T

[2019-02-05 13:47] MihaiSurdeanu commented on #296
+1 on @kwalcock's suggestion. I don't know if it will fix this, but it's cheap to try.

[2019-02-05 13:50] MihaiSurdeanu commented on #302
@kwalcock: you are correct with your reading of KBGenerator and KBLoader.

[2019-02-05 13:53] MihaiSurdeanu commented on #302
@kwalcock: your implementation sounds interesting. Where is it?
Also, a good sanity check is to rerun all the Reach unit tests. See this script: https://github.com/clulab/reach/blob/master/runAllTests.sh
Of course, for this, you have to publish processors locally, and adjust the Reach build file to use the locally-published version.

If the unit tests pass, and our review of the code is fine, I am

[2019-02-05 15:17] kwalcock commented on #302
To be continued...

[2019-02-05 19:19] myedibleenso opened #303 "A DirectedGraph should always have at least one root"
## Problem
The English `CluProcessor` produces a rootless parse for the following sentence:

We have observed this in a number of sentences, so @danebell or I can provide additional examples as needed.

All valid dependency parses should produce at least one root.

Whether or not you agree from a theoretical standpoint, other code in `processors` (ex. `DependencyUtils`) assumes that all parses wil

[2019-02-05 23:11] kwalcock commented on #302
On average text, which basically has no bio NEs, the new version is approximately 10% faster.  One test shows 5490ms vs. 4922ms.  On pathological texts which have more than the expected number of NEs, such as the KB itself, the new version looks to be twice as fast.  One test shows 7001ms vs. 3029ms.  The binary search might not be responsible, since that seemed to make negligible difference: 3029

[2019-02-05 23:36] kwalcock commented on #302
It seems to be difficult to compare memory usage in Java.  If the size of the serialized LexiconNER can be used as an approximation, the old version comes in at around 40MB and the new one at 18MB.  The majority is for the string map.  Some 45% of NEs are one token only and 49% are two tokens.

[2019-02-06 00:00] kwalcock commented on #302
Up to this point, the LexiconNER does not have to be changed much.  I added some interfaces and one function call (finishAdding) to convert the TrieNode from one used for adding new entries to one for finding the NEs.  The next optimization does require some modification, though.

It is possible to combine all the separate HashTries into one large hash trie.  Instead of each TrieNode storing a boo

[2019-02-06 00:03] kwalcock commented on #302
Modifications made one at a time, making it difficult to see the overall picture, especially with all the test code, are in the branch kwalcock-HashTrie.  A squashed version which skips intermediate steps is soon to be kwalcock-CombinedCompactHashTrie.  Remember that it is not complete.

[2019-02-08 00:31] myedibleenso commented on #302
Chiming in to just say that I'm excited to see efficiency improvements to `LexiconNER`.  As an anecdote, JFR shows that, after parsing, `LexiconNER` operations are where we're taking the biggest hit in our project.

[2019-02-13 17:51] MihaiSurdeanu commented on #302
@kwalcock: any updates on this? Thanks!
(Remember that the key test here is to make sure that unit tests in Reach pass)

[2019-02-13 18:26] kwalcock commented on #302
No.  The changes to date have mostly preserved the current functionality and added optional relatively minor speedups or compression.  The next change, combining trees into one, which is in rough draft here, requires some internal changes to LexiconNER that would more so replace current functionality.  So does LexiconNER need to become OldLexiconNER and everything gets the updated LexiconNER?  Or

[2019-02-13 20:39] MihaiSurdeanu commented on #302
Maybe we should:
1. Move core functionality into a LexiconNER trait.
2. Implement the above trait in the current LexiconNER class, and rename it TrieLexiconNER.
3. Implement the above trait in your new class, and call it ArrayLexiconNER, or something like that.

[2019-02-13 21:12] kwalcock commented on #302
1 sounds good
2 & 3 implies keep both versions, OK
It's more LexiconNER => SeparatedLexiconNER and a new CombinedLexiconNER.  Either one or both can have regular HashTrie storage behind it and/or CompactHashTrie.  The tries have to be slightly different for the Separated and Combined versions.  The separated one keeps a Boolean for completePath and the combined one keeps an Int for which Lexicon c

[2019-02-13 21:53] MihaiSurdeanu commented on #302
Do you have a better idea in mind?

[2019-02-18 19:58] michaelcapizzi opened #309 "unable to dynamically load a new rule requiring resources or variables"
I'd like to be able to dynamically add a new rule to the `ExtractorEngine`.

I know how to do this with `readSimpleFile()`, but if the rule in question requires resources (e.g. `Word2Vec`) or variables, then it must use `readMasterFile()`.  But this *rereads* all resources and variables each time it is called.  And if the `Word2Vec` file is large, this can be very slow.

I tried to `extend` `RuleR

[2019-02-19 23:08] myedibleenso opened #310 "Sentence JSON missing raw attributes"
### Problem
The `json` serialization/deserialization code has not be modified to account for the addition of `raw` to `Sentence` in [`v7.4.0`](https://github.com/clulab/processors/releases/tag/v7.4.0).

[2019-02-24 19:56] kwalcock commented on #302
@MihaiSurdeanu, FWIW I worked on this again last week.  It's in the testing stage now.  It's contained in a branch kwalcock-DuoHashTrie now, mostly for backup purposes and for the curious.  Quite a bit had to be revised for proper integration, so I changed branches.

[2019-02-25 02:26] MihaiSurdeanu commented on #302
Thank you!

[2019-02-26 22:24] hickst commented on #302
Just FYI, if you're still using Reach: it is very dependent on being able to read and use Bioresources through Processors and will probably have to be modified/updated for these changes, too.

[2019-02-26 22:55] kwalcock commented on #302
Thanks @hickst.  It has been tested quite a bit with the BioCluProcessor and is being tested with reach right now before eventually merging.

[2019-02-27 02:47] kwalcock commented on #302
One recent sets of runs on pathological data gave the times below.  Data was the first 5MB of the very knowledgebase files that go into the LexiconNER in the first place.  They are from the bioresources project in the src/main/resources/org/clulab/reach/kb directory.  They are pathological because the density of NERs is much higher than would be in normal text.  This in turn makes these numbers pr

[2019-02-27 14:09] MihaiSurdeanu commented on #302
Very nice!

________________________________
From: Keith Alcock <notifications@github.com>
Sent: Tuesday, February 26, 2019 7:47:43 PM
To: clulab/processors
Cc: Mihai Surdeanu; Mention
Subject: Re: [clulab/processors] LexiconNER (and HashTrie) needs to be smaller, faster (#302)

One recent sets of runs on pathological data gave the times below. Data was the first 5MB of the very knowledgebase file

[2019-02-28 17:55] michaelcapizzi opened #314 "using multi-word arguments in an Odin dependency rule"
Assume this example:

[code]

This rule combination won't work because `DecisionMaker` is a multi-word argument.  And so I can't match any `dependency relation`s.

Is there a way around this somehow?  Either:

1. look for *any* `nsubj` relation that appears in the multi-word argument
2. look for only an `nsubj` relation that is attached to the *head* of the multi-word argument (e.g. `maker`)

[2019-02-28 18:23] #310 closed

[2019-02-28 21:00] kwalcock opened #316 "Questionable code for matching brackets and braces"
Please see https://github.com/clulab/eidos/issues/300 for details.  Not particularly important, but at least for the record.

[2019-02-28 23:41] MihaiSurdeanu commented on #314
I believe Odin does (1) by default, no @marcovzla ?

[2019-03-01 20:32] michaelcapizzi commented on #314
Looks like you're right @MihaiSurdeanu !

[code]

Great design guys!  (now to figure out why my rules aren't returning things as expected.....)

[2019-03-01 20:37] #314 closed

[2019-03-02 02:05] myedibleenso commented on #294
@kwalcock , is this now resolved?

[2019-03-02 02:06] myedibleenso commented on #302
@kwalcock , can this be closed?

[2019-03-02 03:16] kwalcock commented on #302
Yes.  Perhaps some other part is the slowpoke now.  Thanks.

[2019-03-02 03:16] #302 closed

[2019-03-27 18:10] marcovzla opened #321 "support `@trigger:Label` notation for creating event mentions"
We currently only support the `(?<trigger> ... )` notation for creating event mentions with surface patterns. This is because we only check for named intervals here: https://github.com/clulab/processors/blob/01cb3c94118645d230bcafbfc7e35b2b3e096a61/odin/src/main/scala/org/clulab/odin/impl/Extractor.scala#L49

It would be nice to support the `@trigger:Label` notation too by checking the named menti

[2019-03-27 18:11] marcovzla commented on #321
fyi @maxaalexeeva @BeckySharp @myedibleenso @danebell

[2019-05-01 01:22] #321 closed

[2019-05-03 02:20] cs329yangzhong opened #324 "Is there any way to recover the RST tree from printed discourse tree string"
I can successfully generate the discourse tree with Fast-processor, however, I just wondered if there is any way to recover those back to the tree objects. Since I want to traverse through the RST tree and see the relationship between different sentences.

[2019-05-03 02:56] MihaiSurdeanu commented on #324
Yes, Document.discourseTree contains the discourse tree as an actual tree data structure:

https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/processors/Document.scala#L22

[2019-05-03 16:07] cs329yangzhong commented on #324
Thanks! but I am curious about is there some code to recover the printout string back to the tree structure? like `func readlines(file){ \* read the indentation file and convert it back to discourse tree *\}` Or would you mind pointing me to the specific data structure file for both edu nodes and tree?

[2019-05-03 16:33] MihaiSurdeanu commented on #324
We don't have code for that.

But the data structure for the discourse tree is here:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/discourse/rstparser/DiscourseTree.scala#L16

[2019-05-03 16:35] cs329yangzhong commented on #324
Great, thanks! I might need to write my own reader.

[2019-05-03 16:35] #324 closed

[2019-07-16 15:40] MihaiSurdeanu opened #336 "processors does not publishLocal for scala 2.11"
We need still need the 2.11 compile for Reach. But when I do sbt publishLocal, processors only publishes the scala 2.12 compile. @kwalcock or @marcovzla: can you please look into this?

I am working on a Reach bug, which depends on this. Thank you!
See:
https://github.com/clulab/reach/issues/634

[2019-07-16 15:43] kwalcock commented on #336
Does it work with +publishLocal?

https://stackoverflow.com/questions/35270578/sbt-cross-publish-from-build-sbt

[2019-07-16 15:46] MihaiSurdeanu commented on #336
@kwalcock: it does. Thanks!

[2019-07-16 15:46] #336 closed

[2019-07-24 19:50] #294 closed

[2019-08-12 09:52] urigoren opened #338 "Unable to replicate example from docs"
I am trying to run a dependency rule, with `java`.

To warmup, I'm using the example from the docs: "Oscar lives in the trash can"

with the following rule

[code]

And unfortunately, the dependency is not recognized.

even if I change `nsubj` to `/.*/`, still no results.
See code:
https://github.com/urigoren/odin_rules

Thank you

[2019-08-12 17:29] BeckySharp commented on #338
Hi -- did you already label "Oscar" as a `Person`?  I am guessing that that's the issue, as the EventMention needs to land on a previously found Mention (here, prob a TextBoundMention for "Oscar" labeled as `Person`, which you could do in a couple of ways, by first finding all nouns, or better by using the NER tags from the processor)

[2019-08-12 20:41] myedibleenso commented on #338
Hi, @urigoren.  Yes, @BeckySharp identified the issue: [looking at your rules](https://github.com/urigoren/odin_rules/blob/b1fd2a45f3a92cd2355e196837491d4b571240b4/data/sample.yaml), it seems you haven't identified "Oscar" as a `Person`.

To test, simply add a rule like the following:

[code]

I think this assumption wasn't stated in the caption of the example you're using in your project, though

[2019-08-14 07:50] urigoren commented on #338
I'm sorry, but it still doesn't work.

I have tried a lot of variation, and neither of them work.

This is the last version of the rules:
[code]

And I also updated the repo:
https://github.com/urigoren/odin_rules

[2019-08-14 15:58] BeckySharp commented on #338
I'm looking into/using your grammar now -- will update when I've poked around

[2019-08-14 16:07] BeckySharp commented on #338
ok -- so, for the first rule, to get extractions, I think you want something like this:
[code]
Note that you want to *traverse* the dependencies (_starting from the trigger_), so you use the ">" (traverse outgoing) and "<" (traverse incoming).  Using the `[ ]` notation, as you had it, adds a _constraint_ on the token you're landing on, if that helps.

That makes links like this:
![image](https://u

[2019-08-14 16:08] BeckySharp commented on #338
But @urigoren please let us know if (a) it's still not working or (b) you have more questions!

[2019-08-18 08:23] urigoren commented on #338
Thank you so much, it worked !

Another quick question if I may,
Is it possible to label the subject of a verb as an entity ?

For example, to label `Oscar` as a person, because it is the subject of the verb `lives` ?
If so, what is the rule ?

[2019-08-18 17:13] myedibleenso commented on #338
Glad to hear you have it working now.

Definitely!  For this, you'll want to use a token pattern.  The following rule checks to see if there is an incoming `nsubj` dependency:

[code]

Note that the rule above will only match a single token.  To handle subjects that are compound noun, you can modify that rule to include any surrounding nouns by adding a constraint on the POS tag and the `*` quanti

[2019-08-18 17:17] myedibleenso commented on #338
If you want to include subjects of passive constructions, you'll want to change `[incoming=nsubj]` to be `[incoming=/^nsubj/]`.

[2019-08-30 18:02] kwalcock opened #342 "Re TokenizerStepContractions, TODO: this is slow. This should be handled in the Antlr grammar"
The TODO comment was found in the code, so here is a reply.

It may be that these are somehow optimized away, but when regular expressions are involved I've sometimes had success speeding things up by moving them to the class or even object level.  So, instead of
[code]
it might be
[code]
This *could* prevent "recompilation" of the regular expression for every iteration of the loop.  The may also

[2019-08-30 18:19] kwalcock commented on #342
Regular expressions are sometimes cached and looked up, probably based on the string that specified them, but just storing them in a variable would still eliminate the lookup.

[2019-08-30 21:59] MihaiSurdeanu commented on #342
Thanks! Good catch. I'll take a look soon.
If you already addressed this, please let me know.

[2019-08-30 22:33] kwalcock commented on #342
It may need to go all the way to the pattern:
[code]
I may be suggesting an additional change for the benefit of Eidos that would justify a 0.0.1 version change.  They might be checked in at the same time.

[2019-09-26 04:37] myedibleenso commented on #338
Closing as I believe this is resolved, but we can reopen if needed, @urigoren.

[2019-09-26 04:37] #338 closed

[2019-12-06 18:08] marcovzla opened #355 "repeated edges in dependency graph"
I am trying to parse the sentence `It can detect properties in Java, C, C++, Perl, and IOA programs, in spreadsheet files, and in other data sources.` and I noticed some repeated edges in the dependency graph. Notice the outgoing edges from token 2 to token 0.

[code]

[2019-12-12 16:42] MihaiSurdeanu commented on #355
Yeah, this sounds like a bug. I'll take a look.

[2019-12-12 18:45] MihaiSurdeanu commented on #355
Fixed by PR #356 (this was a CoreNLP bug).
@marcovzla: The fix is in master now, but 8.0.0 has not been released yet.

[2019-12-15 02:45] marcovzla commented on #355
Thanks!

[2019-12-15 02:45] #355 closed

[2020-02-05 17:29] kwalcock opened #359 "Processors builds bioresources differently depending on OS"
There is a problem with the encoding.  It must not be fixed and instead depends on some OS setting which differs between systems.  It needs to be in the software.

[2020-03-13 16:24] MihaiSurdeanu opened #369 "Code does not compile in IntelliJ"
These 2 lines of code compile Ok from the cmd line, but they do not compile in IntelliJ:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/sequences/LstmUtils.scala#L612

[2020-03-13 16:47] kwalcock commented on #369
Have you changed branches on (out from under) IntelliJ recently?  The command line sometimes works better because it caches less.  IntelliJ monitors the main build.sbt, but doesn't seem to notice changes in build.sbt for subprojects like processors-main.  If dependencies of a subproject have changed, IntelliJ will not notice and be using the wrong jar file for the dependency which can prevent comp

[2020-03-15 02:00] MihaiSurdeanu commented on #369
This didn't seem to fix it.
Does the project compile in IntelliJ for you?

[2020-03-15 02:56] kwalcock commented on #369
Yes.  I didn't notice any problem.  However, I will download a clean version into a new IntelliJ project just in case.  The link seemed to be to the master branch, so that was what I used.

[2020-03-15 03:49] kwalcock commented on #369
It builds with no errors for me, just one deprecation warning.  IntelliJ 2019.3, FWIW.  Can you look at the External Libraries node in the Project tree and see if it is finding the right versions?

[2020-03-15 21:25] MihaiSurdeanu commented on #369
I went pandemic on IntelliJ. After I deleted the .idea directory, things were back to normal.
The external libraries indicated that it was using an incorrect version. But reloading the build file did not fix it.

[2020-03-15 21:25] #369 closed

[2020-03-19 21:38] MihaiSurdeanu opened #371 "Lemmas should not be empty"
I am parsing the docs with processors 7.5.4
I am just getting started, but I already ran into an issue and I thought you should know.

I have attached the file that causes the error. The assertion at https://github.com/clulab/processors/blob/v7.5.4/main/src/main/scala/org/clulab/processors/clu/CluProcessor.scala#L177 checks that the lemmas shouldn't be empty. I haven't checked beyond that.

This i

[2020-03-19 23:06] MihaiSurdeanu commented on #371
@marcovzla: this was fixed in PR #372 .
The other bug you reported comes from maltparser, which is longer included in processors, so I won't fix that.

[2020-03-19 23:06] #371 closed

[2020-04-02 06:01] kwalcock opened #375 "ScienceUtils does not have charset pinned down"
This is related to https://github.com/clulab/eidos/pull/806 and likely also to #359.  Code in ScienceUtils, namely
[code]
and
[code]
do not have the Charset pinned down and it is left up to the operating system and user to decide.  In this case we made the files and know the encoding, so it should definitely be specified here.
See also https://docs.oracle.com/javase/7/docs/api/java/io/InputStreamR

[2020-04-02 14:45] MihaiSurdeanu commented on #375
@kwalcock: I am happy to fix this. But which Charset should we use?
Thanks!

[2020-04-02 16:16] kwalcock commented on #375
Notepad++, which is never wrong, says UTF-8, and this code seems to work:

[code]

I notice that the reader in `loadUnicodes` does get closed (unless there is an exception), but the one for `loadAccents` does not.  I will use the case to justify my paranoid programming practices in other code ;-)

[2020-04-02 16:19] BeckySharp commented on #375
@kwalcock working with you is so much fun :)

[2020-04-18 02:55] kwalcock opened #383 "Sentence splitter has bug when EOS_FOLLOWEDBY_BULLET"
This issue seems to be crashing Eidos when it runs into the bad values in the begin and end positions.  The line https://github.com/clulab/processors/blob/2c68c0c37cf85d9ed06ba294d30c8ba03f547b68/main/src/main/scala/org/clulab/processors/clu/tokenizer/SentenceSplitter.scala#L100

should probably be
[code]
because raw is the ArrayBuffer and its length is related to the length of the sentence and no

[2020-04-18 02:57] MihaiSurdeanu commented on #383
You are probably right. Thanks!

[2020-04-18 05:41] kwalcock commented on #383
It was a bug, but I was wrong about the fix.  PR soon.

[2020-04-23 17:52] reynoldsm88 opened #386 "Release 8.0.2 depends on `processors-models` version that isn't in maven central"
Using the public release from [Maven central](https://repo1.maven.org/maven2/org/clulab/processors-corenlp_2.12/8.0.2/) depends on `clulab-models:0.0.5` which isn't released on Maven central (see [here](https://mvnrepository.com/artifact/org.clulab/processors-models)).

Importing it into a project results in a build failure as a result of not finding that artifact. One way to resolve this is to ad

[2020-04-23 17:57] MihaiSurdeanu commented on #386
@kwalcock : can you please add here the info about the Artifactory repo?

@reynoldsm88 : we store models in our own Artifactory repo because they are too large for maven.

[2020-04-23 18:01] reynoldsm88 commented on #386
@MihaiSurdeanu no problem, makes sense, thanks. I was going to add it to README but I didn't know if you wanted the whole world to start hitting your repo.

[2020-04-23 18:39] kwalcock commented on #386
As you point out, recent versions of processors have a transitive dependency on the models, but the dependencies are housed in different repos.  If I understand correctly, sbt doesn't automatically deal with transitive dependencies in non-standard repositories.  It's necessary to give it a hint with something like the artifactory line below:
[code]
I should add to the Eidos documentation that some

[2020-04-23 18:49] kwalcock commented on #383
#379 was merged, but processors still needs to be published before more people see crashes.

[2020-04-23 18:52] kwalcock commented on #386
And yes, I can add some information to processors about it.

[2020-04-23 19:01] kwalcock commented on #386
BTW Processors 8.0.2 has a bug in it that is likely to crash Eidos.  Other uses may be OK.  We're working on getting the update published.

[2020-04-23 19:31] MihaiSurdeanu commented on #383
Should I release?

On Thu, Apr 23, 2020, 11:49 AM Keith Alcock <notifications@github.com>
wrote:

[2020-04-23 20:05] reynoldsm88 commented on #386
Yea, adding the CLUlab Artifactory solved the issue for me. Was just pointing it out because if your missing that resolver it fails a build that uses the sbt defaults.

I can close the issue if you want @kwalcock

[2020-04-23 20:06] MihaiSurdeanu commented on #386
Thanks!

On Thu, Apr 23, 2020 at 13:05 Michael Reynolds <notifications@github.com>
wrote:

[2020-04-23 20:45] kwalcock commented on #386
There is something that can probably be added to processors that might help at least Maven find the transitive dependency.  I am testing now.  It might be useful in version 8.0.3.

[2020-05-02 21:53] MihaiSurdeanu opened #389 "Reimplement processors server"
Oh lord of good software development @kwalcock: @BeckySharp suggested we revive our idea of a processors server to simplify debugging. We had such an implementation a while ago. I discontinued it somewhere around version 7 because it was implemented in akka. akka is the wrong tool for this because it is designed for async communication, whereas this server is meant to have simple synchronous commu

[2020-05-04 17:23] kwalcock commented on #389
I saw this and added it to my list.  Spreading execution across machines usually complicates debugging in my experience.

[2020-05-04 17:24] MihaiSurdeanu commented on #389
Let’s discuss tomorrow.

On May 4, 2020 at 10:23:37 AM, Keith Alcock (notifications@github.com)
wrote:

I saw this and added it to my list. Spreading execution across machines
usually complicates debugging in my experience.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/clulab/processors/issues/389#issuecomment-6235958

[2020-06-23 21:41] kwalcock opened #402 "FastNLPProcessor annotatation is not stable"
See also https://github.com/clulab/eidos/issues/861.  A different answer is computed from the same document.  This is now a unit test in https://github.com/clulab/processors/blob/kwalcock-envBug/corenlp/src/test/scala/org/clulab/processors/TestFastNLPProcessorEnv.scala.  Moving it from Eidos to Processors gets me a little closer to the cause and helps with debugging.

[2020-06-23 23:26] MihaiSurdeanu commented on #402
Can you please paste an example of differences here?

[2020-06-23 23:36] kwalcock commented on #402
First run | Second run
-- | --
O | O
O | O
O | O
\>=2.0 | \>=2.0
O | O
O | O
O | O
O | O
<b>2012-09-25</b> | <b>2012-09-18</b>
******18 | ******18
O | O
2012-09-19 | 2012-09-19
******19 | ******19
2012-W37 | 2012-W37
2012-W37 | 2012-W37
O | O
O | O
3 | 3
O | O
O | O
O | O
2012-09 | 2012-09
2012-09 | 2012-09
2012-09 | 2012-09
O | O

[2020-06-24 14:13] MihaiSurdeanu commented on #402
This is a Stanford SUTime bug... Maybe it should be filed in the Stanford CoreNLP github?

[2020-06-24 15:06] kwalcock commented on #402
That was almost my conclusion.  I'd like to make sure that we are not misusing SUTime by, for instance, not calling some reset method between documents.  I haven't yet found the line that makes the change that needs to be undone, though.  I'll check what remedies Stanford might offer.

[2020-06-24 15:07] MihaiSurdeanu commented on #402
Good point. Thanks!

[2020-06-28 08:05] vikas95 opened #403 "METAL NER wiki page and an error from the config files params"
Hi,

I am unable to find the Wiki page which had the METAL NER details. Is it moved to any other location ?

While training the NER model, I get this error:

[error] (run-main-0) java.lang.RuntimeException: ERROR: parameter mtl.numberOfTasks must be defined!
[error] java.lang.RuntimeException: ERROR: parameter mtl.numberOfTasks must be defined!

I am using the default the config file - "org/clulab

[2020-06-28 14:07] MihaiSurdeanu commented on #403
Yes, it’s here:
http://clulab.github.io/processors/

It may be that Metal does not find your config file. Try to put it
under main/src/main/resources/org/clulab/, and call use
org/clulab/<your-conf-file> in the cmd line.

On June 28, 2020 at 1:06:06 AM, Vikas Yadav (notifications@github.com)
wrote:

Hi,

I am unable to find the Wiki page which had the METAL NER details. Is it
moved to any other lo

[2020-06-29 06:23] #403 closed

[2020-07-02 20:08] kwalcock commented on #402
The problem does seem to be with SUTime and I will file an issue there shortly.  This here is for practice.

The rules for dealing with time are encoded in `src/edu/stanford/nlp/time/rules/english.sutime.txt`.  The rules
[code]
arrange for a value tag (VTag) to be added to the environment.  The tag's key is "resolveTo" and the value will depend on the matching pattern.  This ends up happening in V

[2020-07-02 20:09] MihaiSurdeanu commented on #402
Nice catch!
I think you're correct.

[2020-07-02 22:37] kwalcock commented on #402
Other related code is GenericTimeExpressionPatterns.java.determineRelFlags:
[code]
and SUTime.PartialTime.resolve().  I'll reference them as well.

[2020-07-06 16:24] kwalcock commented on #402
Submitted as https://github.com/stanfordnlp/CoreNLP/issues/1061...

[2020-07-06 20:53] vikas95 opened #405 "MetalNER input format for prediction"
Hi,

The input sentence to a METAL NER model is an AnnotatedSentence datastructure.
https://github.com/clulab/processors/blob/1be17b146f49fae0ea6f809e23e4f697d42e8b73/main/src/main/scala/org/clulab/dynet/Metal.scala#L419

I just wanted to make sure that passing empty values for posTags and neTags ( https://github.com/clulab/processors/blob/1be17b146f49fae0ea6f809e23e4f697d42e8b73/main/src/main/sca

[2020-07-06 20:56] MihaiSurdeanu commented on #405
Yes, the NER model does *not* use POS tags and, obviously, NE tags. So, it's Ok to leave them empty.
 The word-to-index conversion happens internally, so you don't need to worry about that.

[2020-07-06 21:02] vikas95 commented on #405
Cool, thanks for the clarifications.
Closing the issue.

[2020-07-06 21:02] #405 closed

[2020-07-19 15:22] #386 closed

[2020-09-01 17:55] BeckySharp opened #415 "(maybe) dumb question"
What do you think about having something on the main README landing page that states the current stable release?
At the moment, when I want to sync I feel like I need to go to version.sbt and subtract and hope I got it right...
That said -- that process isn't hard, just awkward :)

[2020-09-01 17:58] MihaiSurdeanu commented on #415
Agree. @kwalcock: once the release completes, can you please add a sentence on this to the README?

[2020-09-01 19:28] kwalcock commented on #415
I'm not sure whether I can distinguish between stable and otherwise.  There
is probably a way to indicate with an icon like the builld|passing one
already there which is the most recent version sent to maven or at least
tagged.  Otherwise I would check those tags, but that's because they show
up right away in IDEs.  I'll look for that icon/image.

On Tue, Sep 1, 2020 at 10:55 AM Becky Sharp <notif

[2020-09-01 20:23] #415 closed

[2020-09-18 18:06] kwalcock opened #424 "java.lang.NumberFormatException: For input string: "<STOP>""
Running on branch parallel and in parallel with CluProcessor, this exception occurs during annotation.  I will attach a file if/when it can be reproduced.

[code]

[2020-09-18 18:22] kwalcock commented on #424
The word "STOP" is not in the file, so it must be inserted by something.  I doubt that the parallelization has anything to do with it.  It happens if the file is run alone.

[50_wfp280481.txt](https://github.com/clulab/processors/files/5247477/50_wfp280481.txt)

[2020-09-18 18:53] kwalcock commented on #424
CluProcessor

[2020-09-18 19:02] MihaiSurdeanu commented on #424
Thanks!
I'll take a look soon.

[2020-09-19 03:56] MihaiSurdeanu commented on #424
@kwalcock: this has been fixed in the "parallel" branch. Thanks for catching it!

[2020-09-21 20:06] kwalcock commented on #424
It no longer crashes.  I'm working on timings then.

[2020-09-21 20:20] MihaiSurdeanu commented on #424
Nice!

On Mon, Sep 21, 2020 at 1:06 PM Keith Alcock <notifications@github.com>
wrote:

[2020-10-14 19:53] MihaiSurdeanu opened #429 "DyNet crashes on this NER task"
@kwalcock: @gcgbarbosa reports that the DyNet NER crashes when trained on the attached file. The crash does not seem to happen in the same place all the time...

@gcgbarbosa: can you please paste the cmd line you used for training here?

@kwalcock: can you please see if you can replicate this first?
Thank you both!

[train-bottom-bottom-NER.conll.txt](https://github.com/clulab/processors/files/538

[2020-10-14 20:09] kwalcock commented on #429
Please also include the versions or branches of github repos and perhaps operating system and version, options like amount of Java memory, and that kind of thing.  A whole lot can go wrong.  core dumps, stack traces, java error files. and logs all help.

[2020-10-16 19:18] kwalcock commented on #429
@gcgbarbosa, did this problem go away?  I haven't yet seen the command line or any other details that would help me investigate.

[2020-10-16 19:36] gcgbarbosa commented on #429
Hi @kwalcock, I wish the problem had disappeared, but no. I am just overwhelmed with other things. I will come back to this either by the end of the evening or tomorrow morning. Sorry about the delay.

[2020-10-16 19:39] kwalcock commented on #429
No problem.  I can delay a long, long time.

[2020-10-17 18:22] gcgbarbosa commented on #429
This is the config file I am using:

[code]

Along with:

[code]

I am using the default settings for the rest.

I am also running it again with the updated master branch so that I can give you the stack trace I was getting with the most updated version of the codebase.

I am running it on `river`.

[2020-10-18 18:29] gcgbarbosa commented on #429
And the stack trace:

[stack-trace.txt](https://github.com/clulab/processors/files/5397962/stack-trace.txt)

[2020-10-20 03:27] kwalcock commented on #429
I can at least verify seeing the same result on river.  I have it running locally where I hope to be able to catch the exception in the act.

[2020-10-20 04:22] kwalcock commented on #429
So far it has refused to crash locally, but it is spitting out more errors than it is making progress.  I'll pick a different random number pretty soon.

[code]

[2020-10-20 05:42] kwalcock commented on #429
This is just luck, probably, but the program ended with this.  Would any of the output be useful?
[code]

[2020-10-20 14:52] MihaiSurdeanu commented on #429
Hmm... This going to be one of those non-deterministic errors...
I have also seen this error before, but rarely. I wonder if there is a way to prepare for whenever we see this error again, to understand better where it crashes in the C code?

[2020-10-20 15:06] kwalcock commented on #429
It looks like all the output appears in mtl-proteins-epochN.* and task1.dev.output.N files, which I've saved.  I'll pick a different random number and try again.

[2020-10-20 15:08] MihaiSurdeanu commented on #429
Yeah, I don't think that's consistent, so repetition would be nice.

But the stack trace looks similar all the time.

[2020-10-20 15:18] kwalcock commented on #429
It's something in the trainer and I'll look, but it would also be great to catch it in the act, write a unit test, know that it's fixed, etc.
[code]

[2020-10-20 18:17] kwalcock commented on #429
My computer is not cooperating in this attempt at failing, but it looks like amy has gdb installed, so I will try there in the meantime.

[2020-10-20 20:29] kwalcock commented on #429
It ran to completion again on my computer, but it did crash on amy and I am able to catch the SIGSEGV signal.  The *.so file used in fatdynet has been stripped of symbols, so it can't tell me much, but I can change that.  SEGV hints at a pointer problem rather than a problem with the math and pointers are hard to track down.

I notice that clab/dynet has been updated quite a bit recently and it is

[2020-10-20 20:32] MihaiSurdeanu commented on #429
1. I agree that keeping the .so files debuggable is worth it, even if it produces a larger library.
2. Great point about merging the latest dynet! I knew I forgot something at the WM meeting today: I wanted to ask about the same thing... Thank you! Maybe after solving the conflicts we can raise a PR with your changes?

[2020-10-20 22:30] kwalcock commented on #429
It isn't feasible to not strip the symbols.  The file is 160MB without and can't be used with github.  I have to publish a debug version of fatdynet locally.

[2020-10-21 02:54] kwalcock commented on #429
It never happens when someone is looking.  The program ran to completion on amy while being monitored by the debugger.  It lived for over four hours.  Maybe next time.

[2020-10-21 02:56] MihaiSurdeanu commented on #429
This is going to be hard...
Thank for trying!

[2020-10-22 14:55] kwalcock commented on #429
I did not get back to this on Wednesday.  If @gcgbarbosa needs an answer before I find one, he can try another run.  So far 3/4 of mine have worked.  One thing extra I do is `export _JAVA_OPTIONS=-Xmx16g`.  Perhaps that has been helping.  I will try again soon.

[2020-10-23 23:09] kwalcock opened #430 "<STOP> is not a number."
I need to narrow this down quite a bit, but this exception is thrown while the CluProcessor tries to annotate the text of this attached document.  Maybe it looks familiar.  This is processors 8.2.2.  It does have a custom tokenizer added to it.

[code]
[1101b0d44a26c265a2e7b3d938ea1252.json.txt](https://github.com/clulab/processors/files/5432081/1101b0d44a26c265a2e7b3d938ea1252.json.txt)

[2020-10-25 15:50] MihaiSurdeanu commented on #430
Hi @kwalcock : this has been fixed in issue #424. Has the parallel branch not been merged yet?

[2020-10-25 20:03] kwalcock commented on #430
It did look like a familiar message.  I forgot that the fix was limited to the parallel branch.  I think that one still needs a bit of work around the initialization routines before everything is able to use it.  I am going to copy just the bug fix into a local branch and work on the other later.

[2020-10-25 20:03] #430 closed

[2020-11-20 17:51] kwalcock commented on #429
I am looking into exceptions just now because of a different crash.  I will try to get something out of fatdynet better than "unknown exception".  However, this RuntimeException should be catchable in Processors.  I suspect there are exception conditions in dynet that can never be completely avoided.  Metal.train might be revised to catch the exception and do something like stop and use the previo

[2020-11-21 00:41] MihaiSurdeanu commented on #429
Thanks @kwalcock !

I'll try to handle this one better.

[2020-11-21 01:49] kwalcock commented on #429
I've got the error handling largely revised so that fewer problems from C++ should map onto unknown exception and more should show their messages.

[2020-12-14 04:08] kwalcock opened #436 "DyNet finds bad input dimensions in something that processor gives it"
This is coming from the FastNLPProcessorWithSemanticRoles after running ExtractSemanticRolesRandom for a long time.  This is the first time C++ threw an exception that was caught in Java.  I'm trying to narrow it down.

[code]

[2020-12-14 05:22] BeckySharp commented on #436
merry christmas mihai!

On Sunday, December 13, 2020, Keith Alcock <notifications@github.com> wrote:

[2020-12-14 14:38] MihaiSurdeanu commented on #436
Unfortunately, this seems to come from this line:
https://github.com/clulab/processors/blob/master/main/src/main/scala/org/clulab/dynet/RnnLayer.scala#L43

which simply concatenates a forward and backward LSTM in a biLSTM. So that situation reported can't happen... Which might suggest that these vectors get corrupted somewhere else...

[2020-12-14 15:00] kwalcock commented on #436
The exact same code and the same machine with the same random seed ran much longer the next time, maybe 8 hours.  Shortly before it crashed, it did note
[code]
which is new.  That seems to hint at corruption as well.

A different machine produced a crash in
[code]

The third machine is still running.

[2020-12-14 15:30] kwalcock commented on #436
e.s.n.l.t.types.Expressions is edu.stanford.nlp.ling.tokensregex.types.Expressions FWIW.

[2020-12-15 17:23] kwalcock opened #437 "Caught in the act: Use of ExpressionVector does not guard against premature garbage collection"
In Utils.mkCharacterEmbedding, the code that simplifies down to this
[code]
makes two ExpressionVectors, then only uses the last of the Expressions for concatenation.  After last(), the ExpressionVectors are free to be garbage collected, and they are.  Unfortunately, the C++ code that eventually deletes the vector also deletes all of the contained Expressions, not knowing that the last one is stil

[2020-12-15 18:14] MihaiSurdeanu commented on #437
Very nice find!
So, what fix do you suggest exactly? I am not sure changing from an ExpressionVector to a Seq[Expression] would work, since the ExpressionVector is implemented as a collection also? Am I wrong?

[2020-12-15 18:41] kwalcock commented on #437
It *seems* to be working.  The Seq stays in Scalaland and does not garbage collect its elements that are referenced elsewhere.  So far the Expressions are staying around.  The ExpressionVector wraps a C++ vector<dynet::Expression> which does delete its elements.   I could also just add a line after concatenate that does something with fwOuts and bwOuts to force them to stay around, but it would ju

[2020-12-15 18:59] MihaiSurdeanu commented on #437
Cool! Should I go through my code to look for these situations?
Also, what is the preferred way to convert the ExpressionVector to Seq[Expression]?

[2020-12-15 19:06] kwalcock commented on #437
I'm still testing.  It seems that ExpressionVectors are OK as long as the contained expressions are used before the vector is garbage collected.  It may be just this one problematic case in which last() is extracted and lives on slightly longer than the vector.  I'll be checking each use.

[2020-12-15 19:32] MihaiSurdeanu commented on #437
Everything that is generated in the EmbeddingLayer will live for a long time. So there might be more situations like that. I'll check tonight.

[2020-12-15 20:01] kwalcock commented on #437
It has crashed again under different & strange circumstances.

[2020-12-16 07:02] kwalcock commented on #437
That long life seems to be true.  I don't see that the majority of Scala Expressions are ever garbage collected.  One test run finally crashed after 15,504,951 were created and not destroyed.  Their C++ counterparts are very likely already deleted and I will check on that.  I don't know what is keeping the others around.  They should all be invalid after the ComputationGraph is updated to the next

[2020-12-16 14:35] MihaiSurdeanu commented on #437
So, the C++ expression seqs are over collected, while the Scala ones are never collected? :)
Clearly both these are major problems. But I don't understand the latter. Why would they not be collected? They should lose their references once their CG is destroyed.

[2020-12-16 14:41] BeckySharp commented on #437
Is this a common issue with scala/java/C++ bindings?

On Wed, Dec 16, 2020 at 7:35 AM Mihai Surdeanu <notifications@github.com>
wrote:

[2020-12-16 15:12] kwalcock commented on #437
I still have to look into both issues.  The Expressions are not registered with the Scala ComputationGraph at all, unlike with the C++.  Remember in the Scala that there is only ever one graph (per thread) and the association is implicit.  Scala doesn't know to delete the Expressions when the CG moves on (that I have noticed so far).  I'm not really sure yet why they stay around at all.  Maybe it

[2020-12-16 15:43] MihaiSurdeanu commented on #437
Thanks for doing this Keith! This is important, so take your time.

[2020-12-16 21:55] kwalcock commented on #437
It still crashes,  but my counts were off.  I had neglected one static keyword and missed an implicit copy constructor.  Still looking...

[2020-12-18 05:54] kwalcock commented on #437
The way to go about handling the memory in an ExpressionVector might be to just change `ExpressionVector.apply(idx: Int): Expression` from
[code]
to either
[code]
or
[code]
so that the vector or this has to live at least as long as the resulting Expresssion.  That would keep it from being garbage collection out from under the Scala wrapper, at least theoretically.

[2020-12-18 15:58] MihaiSurdeanu commented on #437
I see. That would be very nice, as it doesn't impact any of our code.

Also, I think my email with suggestions of getting rid of ExpressionVector was overkill. Even if we want to reduce its usage, we only need to worry about situations where the ExpressionVector "dies" before one of its elements. That is not common in our code (but it does happen).

[2020-12-18 16:16] kwalcock commented on #437
There are parts of the code in which conversion is taking place, so that even if ExpressionVector is never cited (in an import or as a variable type), they are still being used.
[code]
One or more gotchas (and maybe a bug) are still getting us, but it doesn't seem like the solution can be too far away.

[2020-12-18 18:00] BeckySharp commented on #437
exciting progress guys!

On Fri, Dec 18, 2020 at 9:16 AM Keith Alcock <notifications@github.com>
wrote:

[2020-12-18 18:33] MihaiSurdeanu commented on #437
By guys you should mean Keith 👍

[2020-12-18 18:39] BeckySharp commented on #437
well, yes for sure he's the one solving it, but you BOTH can share in the
celebration of the progress!!!

On Fri, Dec 18, 2020 at 11:33 AM Mihai Surdeanu <notifications@github.com>
wrote:

[2020-12-18 18:43] MihaiSurdeanu commented on #437
I am the fan watching an exciting sports event and cheering for my team :)

[2020-12-18 18:46] BeckySharp commented on #437
hahahahaha YES that!

On Fri, Dec 18, 2020 at 11:43 AM Mihai Surdeanu <notifications@github.com>
wrote:

[2020-12-22 14:40] MihaiSurdeanu commented on #437
I am not sure how the Scala compiler optimizes things, but, in this code:
[code]
it might be possible that the there is a *new* Seq(this) created on every call to apply. That is clearly excessive...

[2020-12-22 14:43] MihaiSurdeanu commented on #437
I take it back. It should create a new Seq on every call to apply, and have it stored in `references`, which was designed exactly for that purpose. Please ignore the last two messages :)

[2020-12-22 15:10] kwalcock commented on #437
IIRC late last week I ran the unit tests of Eidos using that potential fix and it passed once.  However, I had not yet checked whether the memory was ever freed correctly or whether it worked with processors, especially under stress.

[2020-12-22 16:56] MihaiSurdeanu commented on #437
This is exciting!

[2020-12-31 15:43] kwalcock opened #438 "nokogiri should be updated"
There is a security warning related to nokogiri.  Those with the right permissions can see it at https://github.com/clulab/processors/security/dependabot/docs/Gemfile.lock/nokogiri/open.  The fix is apparently to update to 1.11.0.rc4.  I don't really want to use an rc version, especially since I don't know what it is doing or how to tell if it works.  Others are welcome to test a fix or I can watc

[2020-12-31 15:56] kwalcock commented on #437
One test program survived overnight, which it hasn't done for a long time, using the code
[code]
There's more testing to do (other test programs and especially other operating systems), but it's a very good sign, I think.  The overhead is troublesome, but given that every single Scala Expression involves this extra Seq, adding the ExpressionVector to the list will probably not be very noticeable.

[2020-12-31 16:09] MihaiSurdeanu commented on #437
Yay!!! Awesome progress!

[2021-01-01 16:03] kwalcock commented on #437
Two machines worked all night without a crash, one running a processors test program and the other running Eidos, which processed over 10,000 files.  So far, so good.

I think that DyNetSync can be moved to FatDynet and become standard procedure for anything manipulating a ComputationGraph.  In most cases it will be the only place in which ComputationGraph.renew() needs to be called and it can che

[2021-01-01 16:10] MihaiSurdeanu commented on #437
Yay!!

I agree with all suggested changes.

[2021-01-02 23:35] kwalcock commented on #437
Eidos on the one machine read the 45,000 document corpus in three days or so without crashing once.  I restarted the program twice, but just because I hadn't transferred all the files in one batch.  Memory use would go both up and down as garbage collection cycles ran and I've seen ExpressionVectors being finalized.  I'm pretty satisfied with this version.  All four layers (dynet, fatdynet, proces

[2021-01-03 00:56] MihaiSurdeanu commented on #437
Wow! Big achievement!

[2021-01-04 17:29] MihaiSurdeanu commented on #437
I now think that the solution to create a Seq on each call to `ExpressionVector.apply()` is probably overkill... This means that every time one access an element of the ExpressionVector, we create a different Seq? That sounds like too much...
Instead I would propose to add a new field to the ExpressionVector class that parallels the `private[dynet] val vector: internal.ExpressionVector`. That is:

[2021-01-04 18:00] kwalcock commented on #437
I should see how many times that code is being called to make sure it's an issue.

If it's fair to change DyNet code, then I'd start with what seems more like the problem: Expression,
[code]
I'm not sure there's a good reason that references is a `Seq`.  It looks like there are plenty to times in which a Seq is constructed just to hold one item.  If it was
[code]
then either the one item could be

[2021-01-04 18:22] MihaiSurdeanu commented on #437
I think it's fair to change the Scala wrapper.
I agree with the suggested change to Expression.
And I still think the change to ExpressinVector.apply is necessary. Even if we don't currently use it that much, accessing a vector's element should be much more frequent than the creation of that vector.

[2021-01-04 18:39] kwalcock commented on #437
If `Expression` is changed, then lots of `Seq(item1)` will be simplified to `item1` including the one in `ExpressionVector`.  Then there shouldn't be a need to cache a `Seq` for the vector so that it can be reused for each element.
[code]
might be just
[code]

[2021-01-05 02:07] MihaiSurdeanu commented on #437
I think that is better.
Also, I am not sure my solution is correct, as the ExpressionVector might be discarded before its elements...
Yours might be as good as it gets.

[2021-01-05 02:22] kwalcock commented on #437
AFAIK the Scala/Java ExpressionVector can't be discarded (garbage collected) precisely because it is being referred to by its elements... at least until the elements can be discarded as well.

[2021-01-06 18:59] MihaiSurdeanu commented on #437
Hey, does your idea below work?

[code]

[2021-01-06 19:13] kwalcock commented on #437
It passed all the unit tests and didn't crash in the process.  All the Expressions that unnecessarily took a Seq(item) were simplified to just item as well.  I need to do the stress tests with it.    It needs to work on large jobs to make sure garbage collection doesn't cause a problem.

[2021-01-06 19:14] MihaiSurdeanu commented on #437
Good news. Thanks!

[2021-01-15 06:45] kwalcock commented on #437
I believe to have found that the Scala FloatPointer, IntPointer, and UnsignedPointer were leaking their C++ counterparts.  In some cases, if I can be certain that the Java garbage collector has finished, then I can now inspect the C++ heap and show that it is completely empty.  The C++ cleanup operation has been updated to remove objects that were previously left dangling for the OS to handle.  I'

[2021-01-15 14:01] BeckySharp commented on #437
mihai, it’s second christmas! +100 keith!

On Thursday, January 14, 2021, Keith Alcock <notifications@github.com>
wrote:

[2021-01-15 14:11] MihaiSurdeanu commented on #437
Wow!

How did you discover this, and how did you fix it?

[2021-01-15 15:43] kwalcock commented on #437
This probably could have been discovered with a simple code review, but it was done the hard way with low-level instrumentation calling heap tracking functions.  Googling for things like crtdbg.h, _CrtDumpMemoryLeaks, _CRTDBG_ALLOC_MEM_DF, _CrtSetBreakAlloc should get someone else on track.  Every malloc and new has been rerouted to versions that keep better tabs.  It comes at a performance cost,

[2021-01-15 15:48] MihaiSurdeanu commented on #437
Oh, so nice!

I wonder how many other Scala classes are affected by the lack of a `finalize` method?

[2021-01-15 15:58] kwalcock commented on #437
I'll be checking.  It was probably just luck that a sample program included a `FloatPointer` and it's probably not what's wrong with processors, but that kind of thing might occur elsewhere.

The ParameterCollection has also been leaking and I had addressed/fixed that for the parallel version and am moving it to this debugging version so that it can be verified.  It came up in the next example app

[2021-01-17 20:52] kwalcock commented on #436
I think this has been taken care of with the fix for ExpressionVector.

[2021-01-17 20:52] #436 closed

[2021-01-17 20:57] kwalcock commented on #429
I'm not sure this will make a difference, but two bug fixes just went into DyNet which I ran into while in the test portion of an example program looking for memory leaks: https://github.com/clab/dynet/pull/1627 and https://github.com/clab/dynet/pull/1593.

[2021-01-17 21:44] MihaiSurdeanu commented on #429
Thank you Keith!!

On Sun, Jan 17, 2021 at 13:57 Keith Alcock <notifications@github.com> wrote:

[2021-01-27 09:39] xia0nan opened #444 "Connection timeout"
Hi,

It seems that I cannot connect to **http://artifactory.cs.arizona.edu:8081/artifactory/sbt-release**. Can you help to verify?

Thanks,
Shawn

[2021-01-27 13:55] MihaiSurdeanu commented on #444
@kwalcock : can you please check?

[2021-01-27 15:03] kwalcock commented on #444
The link seems to be working from a web browser.  We have been having a configuration problem in which addresses have been rewritten with river substituted for artifactory.
 If you see http://river.cs.arizona.edu:8081/artifactory/sbt-release/org/clulab/metal-loc-ner/1.0.0/metal-loc-ner-1.0.0.jar, then changing it to artifactory.cs.arizona.edu can make it work.  Also, connecting to artifactory from

[2021-01-27 18:05] enoriega commented on #444
I confirm I can open http://artifactory.cs.arizona.edu:8081/artifactory/sbt-release

[2021-01-27 19:00] kwalcock commented on #444
It looks like the download can be provoked properly from the UI now without the subdomain being changed from artifactory.cs to river.cs.  I'll close this and welcome anyone to reopen if the problem reappears.

[2021-01-27 19:00] #444 closed

[2021-01-27 20:23] kwalcock commented on #437
These were addressed in https://github.com/clab/dynet/pull/1629 and https://github.com/clab/dynet/pull/1628 and will soon be available in the master branch of fatdynet.  They are currently still in a side branch, but it seems safe to close this.

[2021-01-27 20:23] #437 closed

[2021-02-07 07:35] kwalcock opened #446 "We do not need to skip the tests marked NeedsExternalBinary"
Since we are testing on river, we can just install the external binary programs and then test everything.

[2021-02-09 00:35] BeckySharp opened #448 "LexiconNER caseInsensitivity thoughts"
I think it would be cool if there could be different options for the `caseInsensitiveMatching` for the different lexicons involved in a LexiconNER.  This came up recently with a project in which the first 2 lexicons were caseInsensitive but then we had issues with an Actor lexicon where case did matter.  I solved it with a local wrapper, where i essentially made one LexiconNER for each lexicon and

[2021-02-09 01:55] kwalcock commented on #438
@BeckySharp, this warning might be flagged because of the contents of Gemfile.lock.  You get blamed for that file.  Do you know where it came from or how it is generated and whether it is safe for me to just edit the version numbers in there? It looks like 1.11.0 is available and changing it might help remove this ugly warning (https://github.com/clulab/processors) from the top of our github pages

[2021-02-09 15:28] MihaiSurdeanu commented on #448
@BeckySharp: I agree! This sounds like a useful feature.
@kwalcock: do you want to do it, or should I?

[2021-02-09 16:25] kwalcock commented on #448
I see Fast and Slow stuff there which makes me think that I had something to do with it, and I vaguely recall some issue about case and that if it was set once somewhere that everything had to match or something.  I should look at that and see if there is some limitation hiding.

[2021-02-09 16:43] MihaiSurdeanu commented on #448
Yep. Slow is mine and Fast is yours :)
Please let me know.

[2021-02-10 19:09] BeckySharp commented on #438
I like the idea of deleting it -- i have a VERY poor cargo-culty understanding of Gemfiles and all their pizazz... any chance @gcgbarbosa could speak up if deleting it from github (i.e., not tracking it) is good/bad?
Or regardless if we can just update the version and not care?

[2021-02-10 19:56] gcgbarbosa commented on #438
In general, lock files should be tracked. They ensure the same version of the libraries is going to be installed and used every time you deploy the documentation. Deleting it might result in unexpected behavior when you compile the documentation. Misbehavior is unlikely to happen though. Very rarely a library is going to change enough to make the application stop working or change the output of th

[2021-02-10 20:25] BeckySharp commented on #438
Thanks!!! ok, so is the consensus to STILL track the lock file and update
the version to silence the warning?

On Wed, Feb 10, 2021 at 12:57 PM George C. G. Barbosa <
notifications@github.com> wrote:

[2021-02-10 21:19] gcgbarbosa commented on #438
Yes, I think we should keep the file.
The two options that come to my mind are:
1. keep the file, change the version to silence the warning and check if the new version does not affect how the documentation looks.
2. delete the file, and periodically check if the documentation changed due to possible library updates.

[2021-02-10 22:02] BeckySharp commented on #438
@kwalcock let's go with 1

[2021-02-10 22:06] kwalcock commented on #438
OK.  I don't know offhand how to create the documentation from these files.  How the documentation looks probably just involves a diff of all the files.

[2021-02-10 22:27] BeckySharp commented on #438
well -- there are instructions for offline docs, if you don't want to
launch them, maybe I can try if you push the change, but IDK when I will
get to that tbh

On Wed, Feb 10, 2021 at 3:07 PM Keith Alcock <notifications@github.com>
wrote:

[2021-02-10 22:34] kwalcock commented on #438
Read instructions?  No way!  Where are they, though?  I have no idea how this fits together.  Is it this in the Gemfile?  Step 1: install a different operating system, Step 2: install ruby, Step 3: install gem, Step 4: install jekyll?

[2021-02-10 23:09] BeckySharp commented on #438
hahahahahaha
almost
they're here: http://gh.lum.ai/odinson/offline-documentation.html

On Wed, Feb 10, 2021 at 3:34 PM Keith Alcock <notifications@github.com>
wrote:

[2021-02-11 05:19] kwalcock commented on #438
Thanks, @BeckySharp and @gcgbarbosa.  It seems to be fixed now.

[2021-02-11 05:19] #438 closed

[2021-02-11 05:20] kwalcock commented on #446
Fixed in #449.

[2021-02-11 05:20] #446 closed

[2021-02-11 05:21] #424 closed

[2021-02-11 05:22] #383 closed

[2021-02-11 14:52] kwalcock commented on #303
This issue was causing reach to crash recently.  We have code that expects there to be a root.

[2021-02-11 15:05] MihaiSurdeanu commented on #303
I can handle this, but:
1. It would be nice to see a stack trace in Reach.
2. The fact that the old CluProcessor produces a rootless parse is no longer relevant, as that code is no longer maintained. The new code in v8 should be much much better. Is there a stack trace from the latest released processors?

[2021-02-11 15:25] kwalcock commented on #303
It has to do with this recent patch near findHeadStrict: https://github.com/clulab/reach/pull/724/commits/26ee8b91ca2a264fc2a348c9768126c8be29bb8e

A breakpoint in the exception handler right there should catch it in the act.  If one adds before the `None` a try again (`DependencyUtils.findHeadStrict(span, sent)`), one should be able to observe it fail all over again.

The code is executed with th

[2021-02-11 15:29] MihaiSurdeanu commented on #303
Please make the branch and pass it to me.

[2021-02-11 15:53] kwalcock commented on #303
It's the reach branch headlessDep.  There's a place for a breakpoint in LinguisticPolarityEngine that will be hit if TestCrashes runs.

[2021-02-11 16:02] MihaiSurdeanu commented on #303
Thanks!
I'll take a look after a long stream of meetings...

[2021-02-11 16:05] kwalcock commented on #303
If debugging is more interesting than meetings...

[2021-02-11 18:53] MihaiSurdeanu commented on #303
sbt 'testOnly org.clulab.reach.export.TestCrashes' in the headlessDep branch passes on my machine...

[2021-02-11 20:19] kwalcock commented on #303
That's intentional.  These lines can be commented out if you want it to crash, but it will be too late to do anything about it after it does.

https://github.com/clulab/reach/blob/f18cd6ab6af2c3838c29ff5499562d0a2ea6ddd1/main/src/main/scala/org/clulab/polarity/LinguisticPolarityEngine.scala#L96-L98

[2021-02-14 03:45] MihaiSurdeanu commented on #303
- This issue has been fixed in the latest processors master, 8.2.26-SNAPSHOT.
- I added a test which passes with this version in the `headlessDep` branch in reach.

If this seems Ok with you @kwalcock, we can release processors, and update the build file here for that.

[2021-02-14 04:48] kwalcock commented on #303
Thank you!  I'm trying very hard to resist rearranging a few of the lines in CoreNLPUtils.  Since @myedibleenso filed the issue and knows about other times it has been encountered, he is being pinged.  Does that mean *I* should release?  Is this bug fix worthy?  Perhaps #450 could be merged in as well.  It is waiting approval in case I did a no-no.

[2021-02-14 04:57] MihaiSurdeanu commented on #303
Yes, please merge #450 as well.

[2021-02-14 07:17] myedibleenso commented on #303
I don't have any additional test cases for this at the ready.  I'm still surprised this is possible, but then again I'm not sure what approach CoreNLP is using to generate the parse these days.

@kwalcock , what do you want to change in CoreNLPUtils?

[2021-02-14 20:18] kwalcock commented on #303
Egged on by @myedibleenso, I put some changes into the branch kwalcock-roots.  It's a freeby, off the clock, which can be thrown away unless is looks worthwhile.  It did occur to me later that the List.distinct instead of Set.toList might prevent some future repeatability problems.

[2021-02-14 20:26] myedibleenso commented on #303
LGTM.  It could make things easier to debug.

[2021-02-14 22:15] MihaiSurdeanu commented on #303
LGTM too. Please merge.

[2021-02-15 16:28] #303 closed

[2021-02-17 16:18] kwalcock commented on #448
I'm slowly recalling and observing that one way that this was made faster was to put all the words into a single structure from which to look them up.  One didn't have to look through all the different matchers separately.  This worked really well when the case sensitivity had a single value.  If it can have a different value, then there will likely need to be two different structures for the two

[2021-02-17 16:19] MihaiSurdeanu commented on #448
I think it's worth it.
Thanks!

[2021-02-17 16:33] kwalcock commented on #448
FWIW this line (https://github.com/clulab/processors/blob/012a80c77e042efc591b08cb4dc28353e60e7ee0/main/src/main/scala/org/clulab/sequences/LexiconNER.scala#L112) seems to be wrong.  It is the number of spaces for the entire (non-empty) array of words rather than the slice.

This `scanText` seems to be used primarily in the nearby `contentfulSpan`, which only needs to know if some of these kinds o

[2021-02-17 16:52] MihaiSurdeanu commented on #448
Good catch! It should be: end - start - 1, no?

[2021-02-17 16:54] kwalcock commented on #448
...and probably a `math.max()` for good measure.

[2021-02-17 18:28] MihaiSurdeanu opened #455 "Make ConstEmbeddingsGlove not use a ParameterCollection"
The `ConstEmbeddingsGlove` class should not use a `ParameterCollection` but rather generate dynet embeddings on the fly directly from our compact representation.

[2021-02-18 02:50] kwalcock commented on #448
How should case insensitivity be handled for the override KBs?

For the sequence of regular KBs, there is in the new version a parallel sequence of caseInsensitive Booleans.  That is fairly straightforward.  Each matcher will have its own case sensitivity value, rather than how it was done previously with one value for the entire NER.

The override KBs are specified with a sequence of files, but t

[2021-02-18 02:53] MihaiSurdeanu commented on #448
Can you give me an example of the override KB to refresh my memory?
I think I implemented that but it's been a while.

[2021-02-18 03:02] kwalcock commented on #448
I don't see a good file, but this may explain it:

[code]

[2021-02-18 03:08] MihaiSurdeanu commented on #448
I see. I think the override KB should inherit the case sensitivity of the matcher indicated in the corresponding line. I can't think of a case where they would be different...

[2021-02-18 03:14] MihaiSurdeanu commented on #455
Hey @kwalcock:
Please look at the `ConstEmbeddingsGlove` implementation in the `constembed` branch:
https://github.com/clulab/processors/blob/constembed/main/src/main/scala/org/clulab/dynet/ConstEmbeddingsGlove.scala

The code seems to train and test with that. The NER performance is a bit lower, but that may be just randomization, maybe.

[2021-02-18 15:29] kwalcock commented on #448
If I recall and understand this code correctly, there is nothing that enforces the idea that the label on a line in an overrideKB has any relation to the name of a regularKB.  I don't know if it would work practically to use the case sensitivity value of the corresponding regularKB.  Would I print a lot of messages saying that there is no regularKB corresponding to the overrideKB?  Should there be

[2021-02-18 16:26] kwalcock commented on #448
@BeckySharp, I think you used this kind of functionality recently in a GazetteerEntityFinder.  It doesn't look like you used an override KB, but instead changed the case sensitivity of an entire KB, possibly on account of a single word.  Would the other option have been to place the exception in an override KB and set the sensitivity differently in that one?  The NER code is very generic and a lot

[2021-02-18 16:54] MihaiSurdeanu commented on #448
I propose the following:
- If there is a regular KB that matches the label in the override KB, use the case sensitivity from that.
- If not, backoff to a case sensitivity assigned to unknown types.

[2021-02-18 16:56] kwalcock commented on #455
You noticed that the CompactWordEmbeddingMap does not have a getOrElse.  The WordEmbeddingMap has one, but it is implicit in getEmbedding.  There is a silent fallback there.  I should improve the consistency during the next round of revisions.  Also I wish that UNK was not a text that could conceivably be present in a document.  In other implementations, the empty word "" is used for this instead,

[2021-02-18 16:58] MihaiSurdeanu commented on #455
- I think we need to add the methods mentioned in the TODOs to CompactWordEmbeddingMap.
- I think we can use "" as the value for UNK. Maybe make it part of the CompactWordEmbeddingMap object, so it is consistently used across.
- Should I work on a CompactWordEmbeddingMap pool class that reuses one if already loaded? We can now do this.

[2021-02-18 17:41] kwalcock commented on #455
It's difficult to imagine that you have time for it, but sure.  I'm not in the middle of it (yet).

Should it be able to load on its own the serialized version of the vectors?  It would be nice if those could be stored in artifactory and used when available.  It may be that the jar for that should not be zipped so that loading doesn't involve unzipping.  The space/time tradeoff may need to be eval

[2021-02-18 18:08] MihaiSurdeanu commented on #455
Good points. Let me see what I can do later today (probably in the evening). And then I'll pass it to you.

[2021-02-18 18:10] kwalcock commented on #455
This strategy nicely shortens the code in ConstEmbeddingsGlove by 40 lines or so.  One of the lines that gets commented out is
[code]
The comment in ConstEmbeddings says "The generated Expressions must be const".  The C++ code has two kinds of options for lookup parameters:
[code]
Are we sure it was done right previously?  Those lookup parameters aren't getting trained, are they?

[2021-02-18 18:12] MihaiSurdeanu commented on #455
Not sure. I'd have to check.
But it doesn't matter anymore. We will skip this whole LookupParameter deal and create Expressions directly from our own map.

[2021-02-18 18:28] kwalcock commented on #455
I suspect that the new version uses less memory at the same time because the it doesn't need to send the entire lookup vector, all of glove, to dynet,  If I understand correctly, it is going to be constantly sending 300-item arrays over as part of the expressions.  The data transfer itself would slow things down.  Also, the compact representation is not ideal for this.  It stores one humongous arr

[2021-02-18 18:33] MihaiSurdeanu commented on #455
Yeah... Should we use then the old WordEmbeddingMap class? I agree that this should reduce the number of array copies.
If so, can you please add a WordEmbeddingMap.loadText that figures out if it needs to load from a file or a resource?

[2021-02-18 18:35] MihaiSurdeanu commented on #455
We can both work in the `constembed` branch.

[2021-02-18 18:38] kwalcock commented on #455
Re: // TODO: we need the length method implemented in CompactWordEmbeddingMap

+1.  In addition, it would be great to be able to process the text representation of glove without resorting to the line we have to add at the beginning to support.
[code]
The files could then be downloaded directly from Stanford without need for change.  In the compact version the number of words and floats are counted

[2021-02-18 18:50] kwalcock commented on #455
Re: Expression.input(Dim(vector.length), new FloatVector(vector))

I don't know the details of this thing (yet), but for the record there is in C++ code but not in Scala, similar to the case with lookup parameters, this:
[code]
Is there any significant difference between an input expression and a const parameter?

[2021-02-18 18:55] MihaiSurdeanu commented on #455
I don't think so. They should be roughly equivalent.
My point here is to skip completely the ParameterCollection instance, which essentially replicates the functionality of our own embedding map class.

[2021-02-19 01:42] BeckySharp commented on #448
I recently wanted a case sensitive matching for the actor lexicon (because
actor names like Lean when lower case are just words).  The lexicon is too
large to remove all the ambiguous ones easily... though maybe with a dict
lookup, but that’s neither here nor there :) I don’t think Ive ever used an
override KB

On Thursday, February 18, 2021, Mihai Surdeanu <notifications@github.com>
wrote:

[2021-02-19 02:08] kwalcock commented on #448
I haven't used one either, but that seems like just the thing.  They are consulted first and adding the one word might do it.  However, the override part is more the change of case sensitivity, not the label, I guess.

[2021-02-19 03:55] MihaiSurdeanu commented on #455
I started the skeleton for the new embedding maps and pool in the `constembed` branch. In particular:
- Maps should implement this trait:
https://github.com/clulab/processors/blob/constembed/main/src/main/scala/org/clulab/embeddings/WordEmbeddingMap.scala

- The pool stores a collection of maps:
https://github.com/clulab/processors/blob/constembed/main/src/main/scala/org/clulab/embeddings/WordEmbe

[2021-02-20 03:20] MihaiSurdeanu commented on #455
@kwalcock: I have a functioning implementation of this whole map pool thing in ConstEmbeddingsGlove. See:

- The pool class:
https://github.com/clulab/processors/blob/constembed/main/src/main/scala/org/clulab/embeddings/WordEmbeddingMapPool.scala

- And how it's used in here:
https://github.com/clulab/processors/blob/constembed/main/src/main/scala/org/clulab/dynet/ConstEmbeddingsGlove.scala

This

[2021-02-20 03:54] MihaiSurdeanu commented on #455
Of course, the same pool can and should be used by Eidos, so we do not load embeddings more than once.

[2021-02-20 05:17] kwalcock commented on #455
That's great.  I will look soon.  I'm about 2/3 through the LexiconNER case sensitivity.

[2021-02-23 07:24] kwalcock commented on #455
FWIW I'm making changes and hopefully not duplicating effort.

If this is being revisited, it might be good to make explicit the fact that some arrays/vectors cannot be normalized by returning an Option and forcing the client code to deal with it.  Some unnormalized (zero) vectors are probably slipping by unnoticed and leading to wrong results.

I will at least cache the unknown vector which is be

[2021-02-23 14:37] MihaiSurdeanu commented on #455
Thanks @kwalcock! A few comments:
- Why would an array not be possible to normalize? You mean when it's a zero vector? In such cases, by convention, the result is the same zero vector. I don't think we need an Option for this.
- Do you think caching the unknown vector would save a lot of time compared to a map lookup? Not sure that's the case, but it's worth testing.
- Agree with the Key class.
-

[2021-02-24 03:05] MihaiSurdeanu commented on #455
Now that we know we can control the data structure for embeddings, I wonder if we can compress the floats into 16-bit floats to save memory? There is research that shows that performance is not affected in a significant way if one does that.
Then we can convert them to DyNet FloatVectors on the fly. What do you think @kwalcock ?

[2021-02-24 03:26] kwalcock commented on #455
It sounds worthy of an experiment.  There are some type definitions in the newer word2vec that might be useful.  Can it wait long enough for me to finish up the previous changes?  Is there a handy-dandy implementation of 16-bit floats?  The ranges will be smaller, so I wonder if there will be more underflow errors and how they are handled.  Conversion will cost time and might be another reason to

[2021-02-24 03:27] MihaiSurdeanu commented on #455
I sent an example implementation over email.

On Tue, Feb 23, 2021 at 20:26 Keith Alcock <notifications@github.com> wrote:

[2021-02-26 01:03] kwalcock commented on #448
This is in the testing phase now.

[2021-02-26 08:52] kwalcock commented on #455
The pool is in the testing phase along with the new ExplicitWordEmbeddings.

[2021-02-26 14:40] MihaiSurdeanu commented on #455
Nice! Please let me know when they pass. I'd like to run a test for Metal as well.

[2021-02-27 00:14] kwalcock commented on #448
See #456

[2021-03-03 02:06] #448 closed

[2021-03-03 06:23] kwalcock commented on #455
The current code has been pushed to https://github.com/clulab/processors/tree/kwalcock/constembed.  For the PR, the commits will be squashed and made tidy.  However, with this code, the following measurements of load times were made from TestWordEmbeddingMap reading from a file.  I will also eventually test reading from a jar, and runtime is also important.

| Class | Format | Time (ms) | Time (ms

[2021-03-03 13:41] MihaiSurdeanu commented on #455
Thanks!

I will test the runtime of the two formats as well. It may be that the explicit one is much faster at runtime than the other... Maybe, adding caching to the compact format is the way to close the gap, if this happens.

[2021-03-03 15:12] kwalcock commented on #455
It could be that instead of returning a vector to callers we could return a view on a vector.  This makes a slice of a vector look like an independent vector and would require less copying.  If the interface is changing, it might be good to revisit what exactly clients need.

[2021-03-04 00:52] MihaiSurdeanu commented on #455
To answer your view of a vector question, this `FloatVector` c-tor would have to be changed to accept a view here:
https://github.com/clulab/processors/blob/constembed/main/src/main/scala/org/clulab/dynet/ConstEmbeddingsGlove.scala#L21

This should be easy, I think...

[2021-03-04 15:52] MihaiSurdeanu commented on #455
Also,
I compared the runtimes of the compact vs. explicit maps for an actual system (training and testing a NER). Logs are attached. The good news is that, after loading, there is some difference between the two maps, but it's not large. I think if we switched to views for the compact map, the difference will become negligible.

[
[log_compact.txt](https://github.com/clulab/processors/files/608489

[2021-03-04 16:13] kwalcock commented on #455
It would also be possible to request the Explicit version for long-running tasks.  The first minute of use is executed much more often than the tenth minute.  It might even be possible to change implementations in the middle of a run if it looks worthwhile.  That might be too fancy.  Right now, USE_COMPACT is exposed as a static var and can be changed by some client who knows that the slower loadi

[2021-03-05 06:09] kwalcock commented on #455
Comments about those array views will be made momentarily.  I just added code so that the initial line with the dimensions in the glove files is not necessary.  It is now optional.  We should be able to use raw glove files without having to count lines in advance.

[2021-03-05 06:46] kwalcock commented on #455
Eventually what is now returned from the embedding as an Array and which might be inadvertently mutated could be returned as a Seq to avoid the possibility.  It is suggested at https://stackoverflow.com/questions/4825702/why-no-immutable-arrays-in-scala-standard-library.  On first glance, it looks like an Array.view is an acceptable Seq, so maybe that works better all around.  The FloatVector take

[2021-03-05 07:51] kwalcock commented on #455
The view thing seems to have worked and is in the branch kwalcock/constembed (which could be merged into constembed).

`CompactWordEmbeddingMap.get()` was changed from
[code]
which makes a copy to
[code]
which doesn't.  `ConstEmbeddingsGlove` didn't need to be changed yet.

I will try the 16-bit version soon.  At least for this code, the return types are OK.  I'm not yet sure for other clients lik

[2021-03-05 14:05] MihaiSurdeanu commented on #455
Thanks @kwalcock ! I will test this later today.
A few questions/comments:
- Should we use Seq or IndexedSeq for these views? I have used IndexedSeq in my code to indicate that the data structures underneath are indexed.
- Ideally, we should reduce the number of unnecessary copies in FloatVector (and other vectors). For example, it may not be necessary to go through the intermediate java collectio

[2021-03-05 14:53] MihaiSurdeanu commented on #455
The runtime does not seem to be impacted in any significant way by this change. This may indicate that there are bigger costs in other parts of dynet.

[2021-03-05 19:46] MihaiSurdeanu commented on #455
I think we can prepare a PR to merge what we have in master?
Then address the 16 bit as a separate issue?

[2021-03-06 08:14] kwalcock commented on #455
I added code in the apply methods to catch unknown vectors and route them to a variable so they do not appear in the map at all.  I will publish locally and see what breaks.  I suspect that quite a lot will.  If the ValueType is changed from Float to java.lang.Float, then one of the conversions, float2Float, is unnecessary.  I'm not sure what the .asJavaCollection does to the Seq, but will find ou

[2021-03-06 18:04] MihaiSurdeanu commented on #455
Just for the record, I am adding here the log when using the compact map with view to train the same NER.
Note that currently the compact map yields a runtime that is 10 - 20% slower than the explicit map. So, caching might be the way to speed it up further. Possibly having a dedicated variable for UNK too...
[log_compact_withview.txt](https://github.com/clulab/processors/files/6095832/log_compact

[2021-03-07 03:02] MihaiSurdeanu commented on #429
This crash no longer happens. Confirmed by @gcgbarbosa.

[2021-03-07 03:02] #429 closed

[2021-03-09 00:29] kwalcock commented on #455
It's acting strange right now and it occurs to me that the strategy with the Pool has the disadvantage of synchronization.  In the past it was possible to load two vector files at the same time and it looks like that was happening.  Eidos startup is multithreaded and processors was started in parallel with the loading of the vectors for Eidos grounding.  The this.synchronized in WordEmbeddingMapPo

[2021-03-09 02:52] MihaiSurdeanu commented on #455
Agreed. BUT, they should not be loading two different maps. Eidos should reuse the map loaded by processors. There should be a single load.

[2021-03-11 15:39] kwalcock commented on #455
It felt like the load time was increasing after an array buffer was added so that the dimensions do not need to be specified.  It seems to be that case.  I'll get that fixed.  The next measurements will include some test of the time to convert into an ExpressionVector.

| time (ms) | useFileElseResource | useTxtElseBin | useExplicitElseCompact | useOldElseNew |
| --: | --- | --- | --- | --- |
|  4

[2021-03-11 17:40] MihaiSurdeanu commented on #455
Kinda hard to parse this table... Which combination had 4041 load time?

[2021-03-11 17:49] kwalcock commented on #455
File (rather than resource), binary (rather than text), compact (rather than explicit), new (rather than the old/previous version in master which had been faster, at least with only one sample).

[2021-03-11 17:51] MihaiSurdeanu commented on #455
Thanks!

I think we need to optimize the loading from resource, which is the most common scenario. Although we can change that...

[2021-03-11 17:56] kwalcock commented on #455
Definitely.  Some buffering recently added had a detrimental effect.  In the end I think we'll want to publish the binary version to artifactory as well.  Processors will transparently choose that one if it is available.

[2021-03-11 18:03] MihaiSurdeanu commented on #455
Do you have a config with useFileElseResource = false, useTxtElseBin = false?

[2021-03-11 18:33] kwalcock commented on #455
Not yet.  I haven't set up the (local) publishing of those files.  In general there is a penalty for the resources over the files, probably because the resources are compressed.  It is possible to make an uncompressed jar if necessary.

[2021-03-11 18:36] kwalcock commented on #455
I also didn't yet figure out how the old version is stored in binary format.  There is code for readBinaryMatrix, but I didn't yet find the writeBinaryMatrix.  The nearby saveMatrix writes in text format.

[2021-03-11 18:38] MihaiSurdeanu commented on #455
I think it was just standard Java serialization of the whole object.

[2021-03-13 07:43] kwalcock commented on #455
Here is a more complete set of performance measurements.  I am working on improvements to the non-Old versions.

| operation | time (ms) | class | location | useFileElseResource | useTxtElseBin | useExplicitElseCompact | useOldElseNew |
| --------- | --------- | ----- | -------- | ------------------- | ------------- | ---------------------- | ------------- |
| load | 47631 | OldWordEmbeddingMap |

[2021-03-14 00:27] MihaiSurdeanu commented on #455
It seems the ExplicitWordEmbedding wins over the CompactWordEmbedding for both load and run times.
I suspect the load times from resource can be improved significantly if we store the binaries.

Another important statistic would be: what is the memory footprint of Explicit vs. Compact? If not a big difference, we might as well go with the explicit representation...

[2021-03-14 01:03] kwalcock commented on #455
That 200,000 value was cut to 50,000 last night and more will follow shortly.  Still, 50 seconds is too long to wait.  5 is more like it.

[2021-03-14 06:52] kwalcock commented on #455
Those 200,000 values for loading are gone.  There's quite a bit of variation in individual values and probably some ordering effects.  Running time is next.

| operation | time (ms) | class | location | useFileElseResource | useTxtElseBin | useExplicitElseCompact | useOldElseNew |
| --------- | --------: | ----- | -------- | ------------------- | ------------- | ---------------------- | ----------

[2021-03-14 08:26] kwalcock commented on #455
A relatively simple change to fatdynet saved about 30% on the runtime.  Each of the four groups of three are the same embedder, just fetched in different ways, and should really measure the same time if it weren't for things like garbage collection.  I'll put it through the profiler next.

| operation | time (ms) | class | location | useFileElseResource | useTxtElseBin | useExplicitElseCompact | u

[2021-03-14 20:40] MihaiSurdeanu commented on #455
Nice! What did you change?

On Sun, Mar 14, 2021 at 01:26 Keith Alcock ***@***.***> wrote:

[2021-03-14 23:25] kwalcock commented on #455
This
[code]
was changed to
[code]

[2021-03-15 02:22] MihaiSurdeanu commented on #455
Nice. Any other vectors that should be changed in a similar way?

On Sun, Mar 14, 2021 at 16:25 Keith Alcock ***@***.***> wrote:

[2021-03-15 02:53] kwalcock commented on #455
I will double check soon.  To use the above code, `ConstEmbeddingsGlove` was changed from
[code]
to
[code]
and I'll still make that a little prettier, possibly a utility method somewhere.

[2021-03-18 22:45] kwalcock opened #458 "Resources need to be loaded faster"
We need to quit loading resources as text and parsing them.  Even Java serialization can be 10 times faster.  However, that serialization is rather brittle.  There are lots of options to choose from.  Here's an evaluation of some of them: https://github.com/eishay/jvm-serializers/wiki.  Any resource that takes more than X seconds to load should be converted to use one of these serializers that we

[2021-03-19 03:22] MihaiSurdeanu commented on #458
Coifer seen me like a winner. Or protostuff

On Thu, Mar 18, 2021 at 15:45 Keith Alcock ***@***.***> wrote:

[2021-03-23 04:26] kwalcock commented on #455
See #460 among others.

[2021-03-23 04:26] #455 closed

[2021-03-23 04:42] kwalcock opened #461 "Typo"
The README.md says
[code]
but is GPL meant instead?

[2021-03-23 05:06] kwalcock commented on #461
I always notice these things right after pressing the button.  Nothing is said about the openie license in the README.md file.  Although other (sub)projects include LICENSE.txt files, there is none for openie.  In addition, the build system only mentions the Apache license, but the individual (sub)projects need to have at least the exceptions to this noted so that they are incorporated into the me

[2021-03-23 14:41] MihaiSurdeanu commented on #461
Yes, can you please fix the license typo?
openie is Apache too.

[2021-04-23 00:00] enoriega opened #471 "Inline LexiconNER changes"
I made a temporary work around to extend the functionality of LexiconNER aux classes in REACH to support the creation of in-memory lexicons, specifically:

https://github.com/clulab/reach/blob/decouple_kb/processors/src/main/scala/org/clulab/processors/sequences/FastInlineLexiconNERBuilder.scala#L10-L23

https://github.com/clulab/reach/blob/decouple_kb/processors/src/main/scala/org/clulab/processo

[2021-04-23 00:31] MihaiSurdeanu commented on #471
Thanks @enoriega !

@kwalcock: can you please move this functionality into the LexiconNER classes? Maybe as an iterator rather than a prebuilt Map? But that is not that important, since these lexicons are not huge. Thanks!

[2021-04-29 16:28] #461 closed

[2021-04-29 16:35] kwalcock commented on #471
I finally saw this and it looks very useful.  So there are three kinds: standard on disk, override on disk, and in memory.  It looks like the in memory version replaces the standard version in this example.  Might it have some other precedence instead?  Should there be a method in which all three are allowed and something to say how the new one relates to the other three, like something for first,

[2021-04-29 18:02] MihaiSurdeanu commented on #471
@kwalcock : what do you mean by "override on disk"?

In any case, I think we need to support two functionalities in parallel: load from disk (or resource rather), and load from memory.

[2021-04-29 18:03] BeckySharp commented on #471
IDK what mihai thinks, but that sounds like overkill to me, personally

On Thu, Apr 29, 2021 at 9:36 AM Keith Alcock ***@***.***>
wrote:

[2021-04-29 18:08] enoriega commented on #471
I believe @kwalcock means to the two different formats: The "standard" KB file format and the "NER override" file format.
What I did was an adaptation only to the standard file format, the NER is still being loaded directly from disk

[2021-04-29 18:10] kwalcock commented on #471
For "override on disk" I meant an override KB that is in a file/resource.

[2021-04-29 18:12] MihaiSurdeanu commented on #471
I see.

I think we should expect either all of them on disk, or all of them in memory.

[2021-04-29 18:33] kwalcock commented on #471
It might be done so that you can mix and match.  There are still only two slots, one for standard and one for override, but for each you can choose between memory and file.

[2021-05-02 06:04] kwalcock commented on #471
I did start working on this last week.  If the situation or context changes, please let me know.

[2021-05-02 21:26] enoriega commented on #471
The circumstances remain the same. I will use these changes on reach when you're done. Thanks!

[2021-05-04 00:24] kwalcock commented on #471
I'm not quite sure why `kbs: Map[String, Seq[String]]` but then later this inside information about the order:
[code]
Will starting out with a `Seq[String, Seq[String]]` in which the `Seq` determines the order not work?  I guess that means there could be duplicates, but an assertion can rule that out.

[2021-05-04 00:41] enoriega commented on #471
This is a left over of a debug session. I was controlling for the order, but forgot to delete it

[2021-05-04 00:42] MihaiSurdeanu commented on #471
Good point.

On Mon, May 3, 2021 at 5:24 PM Keith Alcock ***@***.***>
wrote:

[2021-05-04 02:39] enoriega commented on #471
@kwalcock @MihaiSurdeanu Fixed

[2021-05-04 02:47] kwalcock commented on #471
Don't try too hard.  I was replacing/converting/porting the whole thing to processors.

[2021-05-04 15:31] kwalcock commented on #471
Reach is using processors 8.2.6.  Should I make the processors changes to that version as well, perhaps bumping it up to 8.2.7 so as not to force reach to update to the current version of processors?

[2021-05-05 20:51] enoriega commented on #471
@kwalcock I had to change the signature to receive a Seq instead of a Map to fix a bug introduced by removing that order sequence. I hope this doesn't affect to much the port code you may already had in place

[2021-05-09 21:55] kwalcock commented on #458
We're mostly concerned with read times and here they are for glove.840B.300d.10f:

format | time (sec.)
--- | --:
text | 34.76
bin | 2.22
kryo | 2.73
colf | 3.10

Bin is for the simple Java serialization, however this is for the significantly optimized CompactWordEmbeddingMap and not some random, possibly circular object graph.

Write times aren't as important, but here they are:

format | time (s

[2021-05-09 22:04] kwalcock commented on #458
If only considering speed, there isn't justification to change from the standard Java serialization.  I mentioned brittleness before.  This may have been because the object serialization is dependent upon Java version and Scala version.  We're changing Scala all the time.  It seems like Java should be fairly forward compatible in that Java 11 should be able to read our Java 8 objects.  Perhaps I s

[2021-05-09 23:06] MihaiSurdeanu commented on #458
Well, converting to Java objects for serialization would slow down things even further, no? Unless we keep our data structures as Java ones all the time.
I don't know, maybe using a JVM independent serialization makes sense for simplicity?

[2021-05-09 23:48] kwalcock commented on #458
They are only String, Array[Float], Option[Array[Float]], and Int, so Java shouldn't be a problem.  colf is language-independent, but for that reason more complex.  One has to describe the structures in a different file and then translate the description via a separate executable into Java code which then gets converted into Scala in the same way as we would otherwise.  For this simple structure i

[2021-05-10 00:51] MihaiSurdeanu commented on #458
Ok then. Java it is!

On May 9, 2021 at 4:49:13 PM, Keith Alcock ***@***.***) wrote:

They are only String, Array[Float], Option[Array[Float]], and Int, so Java
shouldn't be a problem. colf is language-independent, but for that reason
more complex. One has to describe the structures in a different file and
then translate the description via a separate executable into Java code
which then gets conv

[2021-05-13 04:20] kwalcock commented on #458
The one I hadn't tried yet was protobuf.  It turns out that protobuf stores repeated elements, like arrays, in Java ArrayLists.  ArrayLists can only store object, not primitives.  As a result, all 233,430,600 floats are getting boxed into objects and added one at a time to the list and have been for the last half an hour.  It doesn't seem appropriate for the job.  It calls its data structures "mes

[2021-05-13 06:29] kwalcock commented on #458
Of the formats investigated, my recommendation for Glove serialization would be in this order:
1. Kryo
1. Java/Scala
1. Colf
1. Protobuf

The first two are a close call.  We can make do with Java/Scala and not require this extra library, but Kryo has the benefits of
1. It can be limited to Java without allowing accidental mixing in of a Scala class.
1. It is more secure because of the class regist